<ion-view class="ebook-list" ng-controller="EbookListController">
    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-ios-arrow-left" ng-click="goBack()"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon icon sprite-icon shoppingcar-icon" ng-click="goCart()">
            <i class="sprite-icon-shoppingcar-o-2x"></i>
        </button>
        <div class="cart-badge-container" ng-show="carts.length > 0" ng-click="goCart()">
            <div class="badge badge-assertive badge-s-size cart-badge">{{carts.length}}</div>
        </div>
    </ion-nav-buttons>
    <ion-nav-title>
        <h1 class="title">新識力</h1>
    </ion-nav-title>
    <ion-content has-tabs="true">
        <script type="text/javascript">
            $(document).ready(function () {
                //get ebook edm from inet
                var ebook_edm_url = 'https://inet.sce.pccu.edu.tw/api/blocks?block_id=1000310002224884&desc=N&start=1&end=1';
                jQuery.ajax({
					type: "GET",
					url: ebook_edm_url,
					timeout: 10000,
					dataType: "json",
					success: function (data) {
                        console.log(data);
                        $('#inet_edm').attr('src',data.iBoardList.iBoard.LinkForApp);
					},
					error: function (jqxhr, textStatus, error) {
                        console.log(error);
                        console.log(ebook_edm_url);
					}
				});
            });
        </script>
        <iframe id="inet_edm" src="" style="position:fixed; top:0px; left:0px; bottom:0px; right:0px; width:100%; height:95vh; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;">
            更新中...
        </iframe>
    </ion-content>
</ion-view>