<ion-view class="ebook-info" ng-controller="EbookInfoController">
    <ion-nav-bar class="ebook-info-header" align-title="center">
        <ion-nav-buttons side="left">
            <button class="button button-icon icon ion-ios-arrow-left" ng-click="goBack()"></button>
        </ion-nav-buttons>
        <ion-nav-title>
            <h1 class="title">新識力</h1>
        </ion-nav-title>
    </ion-nav-bar>
    <ion-content padding="false" class="ebook-info-content">
        <div class="add-favorite" ng-if="loading == false">
            <button class="button button-icon icon sprite-icon" ng-click="addToFavorite($event, ebook)">
                <i class="sprite-icon-ebook-add-favorite" ng-if="alreadyAddFavorites == false"></i>
                <i class="sprite-icon-ebook-del-favorite" ng-if="alreadyAddFavorites == true"></i>
            </button>
        </div>
        <div class="container iframe-container">
            <iframe id="iframe" src="iframe.html" sandbox="allow-same-origin allow-scripts"></iframe>
        </div>
    </ion-content>
</ion-view>