<ion-view class="ebook-list" ng-controller="EbookListController">
    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-ios-arrow-left" ng-click="goBack()"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon icon sprite-icon shoppingcar-icon" ng-click="goCart()">
            <i class="sprite-icon-shoppingcar-o-2x"></i>
        </button>
        <div class="cart-badge-container" ng-show="carts.length > 0" ng-click="goCart()">
            <div class="badge badge-assertive badge-s-size cart-badge">{{carts.length}}</div>
        </div>
    </ion-nav-buttons>
    <ion-nav-title>
        <h1 class="title">新識力</h1>
    </ion-nav-title>
    <ion-content has-tabs="true">
        <ion-tabs class="tabs-light">
            <ion-tab class="tab-active-1" title="{{ '最新內容' }}" badge="0" badge-style="badge-assertive">
                <ion-nav-view name="tab-tab1">
                    <ion-content>
                        <div class="intro">
                            <div class="image-block" ng-if="intro.imgurl">
                                <img ng-src="{{ intro.imgurl }}" />
                            </div>
                            <div class="text-block">
                                <div class="title" ng-bind="intro.title"></div>
                                <div class="content" ng-bind="intro.content"></div>
                            </div>
                        </div>
                        <div class="group-list" ng-repeat="ebook in ebooks">
                            <div class="item">
                                <span class="group-title">{{ ebook.catalog_name }}</span>
                            </div>
                            <div class="item item-list-content">
                                <div class="list">
                                    <div class="item" ng-repeat="article in ebook.articles">
                                        <a href="#/home/ebook/info/{{ article.apply }}/{{ article.catalog_id }}" class="item-content">
                                            <span href="#/home/ebook/list">{{ article.column1 }}</span>
                                            <i class="ion-ios-arrow-forward"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ion-content>
                </ion-nav-view>
            </ion-tab>

            <ion-tab class="tab-active-2" title="{{ '專題分類' }}" badge="0" badge-style="badge-assertive">
                <ion-nav-view name="tab-tab2">
                    <ion-content>
                        <div class="group-list" ng-repeat="catalog in catalogs">
                            <div class="item">
                                <span class="group-title">{{ catalog.catalog_name }}</span>
                            </div>
                            <div class="item item-list-content">
                                <div class="list">
                                    <div class="item" ng-repeat="article in catalog.articles">
                                        <a href="#/home/ebook/info/{{ article.apply }}/{{ article.catalog_id }}" class="item-content">
                                            <span href="#/home/ebook/list">{{ article.column1 }}</span>
                                            <i class="ion-ios-arrow-forward"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ion-content>
                </ion-nav-view>
            </ion-tab>

            <ion-tab class="tab-active-3" title="{{ '我的收藏' }}" badge="0" badge-style="badge-assertive">
                <ion-nav-view name="tab-tab3">
                    <ion-content class="tab-tab3">
                        <ion-list ng-show="loading == false && favorites.length > 0">
                            <ion-item ng-repeat="article in favorites"
                                      class="item-remove-animate"
                                      item="article"
                                      href="#/home/ebook/info/{{ para.apply }}/{{ para.catalog_id }}"
                                      ng-init="para = parseUrlToPara(article.web_url)">
                                <span>{{ article.title }}</span>
                                <i class="ion-ios-arrow-forward"></i>
                                <ion-option-button class="ion-android-delete"
                                                   ng-click="onItemDelete(article)">
                                </ion-option-button>
                            </ion-item>
                        </ion-list>
                        <div class="empty-content-pane" ng-show="loading == false && favorites.length == 0">
                            <div class="content text-center">
                                <div class="logo">
                                    <img src="img/empty-ebook.png" />
                                </div>
                                <div class="text">
                                    {{ '沒有任何文章被收藏喔' }}
                                </div>
                            </div>
                        </div>
                    </ion-content>
                </ion-nav-view>
            </ion-tab>
        </ion-tabs>
    </ion-content>
</ion-view>