<ion-view class="course-info" ng-controller="CourseInfoController">
    <ion-nav-bar>
        <ion-nav-buttons side="left">
            <button class="button button-icon icon ion-ios-arrow-left" ng-click="goBack()"></button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button class="button button-icon icon sprite-icon shoppingcar-icon" ng-click="goCart()">
                <i class="sprite-icon-shoppingcar-o-2x"></i>
            </button>
            <div class="cart-badge-container" ng-show="carts.length > 0" ng-click="goCart()">
                <div class="badge badge-assertive badge-s-size cart-badge" ng-bind="carts.length"></div>
            </div>
        </ion-nav-buttons>
        <ion-nav-title>
            <h1 class="title" ng-bind="course.Prod_Name"></h1>
        </ion-nav-title>
    </ion-nav-bar>
    <ion-content class="course-info-content" padding="false">
        <div class="header-image-container" ng-hide="course && course.Prod_ImgUrl == ''">
            <div class="header-image" ng-hide="true" ng-style="{'background-image': 'url(' + course.Prod_ImgUrl + ')', 'height': '100%'}"></div>
            <img class="header-image" ng-src="{{ course.Prod_ImgUrl }}" />
        </div>
        <div class="course-info-detail">
            <div class="row">
                <div class="col">
                    <span class="prod-id">{{ course.Prod_Id }}</span>
                    <div class="social-sharing" ng-click="socialSharing(course)">
                        <div class="img img-android"><img src="img/share-A.png" /></div>
                        <div class="img img-ios"><img src="img/share-IOS.png" /></div>
                        <div class="text">分享</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h4 class="title">{{ course.Prod_Name }} {{ course.Prod_SubName }}</h4>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="row course-detail text-center"
                         ng-class="{ 'row-1': course.weekdays.length == 1, 'row-2': course.weekdays.length == 2, 'row-3': course.weekdays.length == 3 }">
                        <div class="col border-right">
                            <div class="text-gray">上課地點</div>
                            <div class="badge badge-positive badge-m-size">{{ course.Prod_ClsLocation }}</div>
                        </div>
                        <div class="col border-right">
                            <div class="text-gray">上課時數</div>
                            <div class="text-positive text-l-size text-padding-top-m">{{ course.Prod_ClsHours }}</div>
                        </div>
                        <div class="col border-right">
                            <div class="text-gray">上課時段</div>
                            <div class="row text-item class-time">
                                <div class="col" ng-if="course.weekdays.length == 1">
                                    <span class="badge badge-positive badge-s-size">{{ course.weekdays[0] }}</span>
                                </div>
                                <div class="col col-2" ng-if="course.weekdays.length == 2">
                                    <span class="badge badge-positive badge-s-size">{{ course.weekdays[0] }}</span>
                                    <span class="badge badge-positive badge-s-size">{{ course.weekdays[1] }}</span>
                                </div>
                                <div class="col col-3" ng-if="course.weekdays.length == 3">
                                    <div class="badge badge-positive badge-s-size">{{ course.weekdays[0] }}</div>
                                    <div class="rotate-90">~</div>
                                    <div class="badge badge-2 badge-positive badge-s-size">{{ course.weekdays[2] }}</div>
                                </div>
                                <div class="col class-time-range">
                                    <div class="class-time-value text-positive">
                                        <div>{{ getTimePart('start', course.Prod_ClsTime) }}</div>
                                        <div class="rotate-90">»</div>
                                        <div>{{ getTimePart('end', course.Prod_ClsTime) }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="text-gray">起訖日期</div>
                            <div class="row no-padding">
                                <div class="col">
                                    <div class="text-positive class-date-value">
                                        <div>{{ getDatePart(course.Prod_ClsOpenDate) }}</div>
                                        <div class="rotate-90">»</div>
                                        <div>{{ getDatePart(course.Prod_ClsEndDate) }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-container shadow-inline-top">
                <div class="card intro">
                    <div class="item item-text-wrap">
                        <div class="title">課程介紹</div>
                        <div class="content" ng-bind-html="parseHTML(desc.Intro, '.card.intro')"></div>
                    </div>
                </div>
                <div class="card content">
                    <div class="item item-text-wrap">
                        <div class="title">教學內容</div>
                        <div class="content" ng-bind-html="parseHTML(desc.Content, '.card.content')"></div>
                    </div>
                </div>
                <div class="card sirmemo">
                    <div class="item item-text-wrap">
                        <div class="title">師資說明</div>
                        <div class="content" ng-bind-html="parseHTML(desc.SirMemo, '.card.sirmemo')"></div>
                    </div>
                </div>
                <div class="card target">
                    <div class="item item-text-wrap">
                        <div class="title">適合對象</div>
                        <div class="content" ng-bind-html="parseHTML(desc.Target, '.card.target')"></div>
                    </div>
                </div>
                <div class="card qualification">
                    <div class="item item-text-wrap">
                        <div class="title">報名資格</div>
                        <div class="content" ng-bind-html="parseHTML(desc.Qualification, '.card.qualification')"></div>
                    </div>
                </div>
                <div class="card benefits">
                    <div class="item item-text-wrap">
                        <div class="title">優惠 / 其他</div>
                        <div class="content" ng-bind-html="parseHTML(desc.Benefits, '.card.benefits')"></div>
                    </div>
                </div>
                <div class="card memo">
                    <div class="item item-text-wrap">
                        <div class="title">備註說明</div>
                        <div class="content" ng-bind-html="parseHTML(desc.Memo, '.card.memo')"></div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar align-title="left" class="footer bar-light shadow-outline-top" ng-if="course.Prod_BuyOnline == 1">
        <div class="price-help-container" ng-click="showPriceModal()">
            <div class="price-help">最惠價<br />說　明</div>
        </div>
        <h1 class="title">
            <span class="price-prefix">NT</span>
            <span class="price">{{ course.Prod_Price | currency:"":0 }}</span>
        </h1>
        <div class="buttons text-center">
            <div class="add-favorite"><img ng-src="img/{{ favorite_icon }}" ng-click="addOrRemoveFromWish(course)"></div>
            <div class="cart-button add-cart" ng-click="addToCart(course)" ng-if="!checkIsInCart(course)">
                <div>
                    <img src="img/cart-add@2x.png">
                </div>
                <div>
                    <div class="text">放入購物車</div>
                </div>
            </div>
            <div class="cart-button already-in-cart" ng-if="checkIsInCart(course)">
                <div>
                    <img src="img/cart-already-add@2x.png">
                </div>
                <div>
                    <div class="text">已放入購物車</div>
                </div>
            </div>
        </div>
    </ion-footer-bar>
    <ion-footer-bar align-title="left" class="footer bar-light shadow-outline-top buy-online-false" ng-if="course.Prod_BuyOnline == 0">
        <div class="price-help-container">
            <div class="price-help">參考<br />價格</div>
        </div>
        <h1 class="title">
            <span class="price-prefix">NT</span>
            <span class="price">{{ course.Prod_Price | currency:"":0 }}</span>
        </h1>
        <div class="buttons text-center">
            <div class="add-favorite"><img ng-src="img/{{ favorite_icon }}" ng-click="addOrRemoveFromWish(course)"></div>
            <div class="cart-button not-buy-online" ng-click="onlyForBuyInService(course)">
                <div>
                    <img src="img/cart-add-not-online@2x.png">
                </div>
                <div>
                    <div class="text">僅臨櫃報名</div>
                </div>
            </div>
        </div>
    </ion-footer-bar>
    <script id="templates/modal-price-list.html" type="text/ng-template">
        <ion-modal-view class="modal-box price-list-box" fit-size=".price-container" fit-size-append="20">
            <ion-content class="padding" scroll="false">
                <div class="price-container">
                    <div class="row" ng-repeat="price in priceList">
                        <div class="col price-item" ng-class="{ 'current': course.isCanBuy }">
                            <div class="price-item-name">
                                <div>
                                    <span class="label" ng-bind="price.Pric_Name"></span>
                                </div>
                                <div class="label-desc" ng-bind="price.Pric_Discription"></div>
                            </div>
                            <div>
                                <span class="price-label">NT</span>
                                <span class="price-value">{{ price.Pric_Price | currency:"":0 }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </ion-content>
        </ion-modal-view>
    </script>
</ion-view>