<ion-view class="course-search" ng-controller="CourseSearchController">
    <ion-nav-buttons side="center">
        <button class="button button-icon icon ion-ios-arrow-left" ng-click="goBack()"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-android-cart button-icon-cart"></button>
        <div class="cart-badge-container" ng-show="cart.length > 0">
            <div class="badge badge-assertive badge-s-size cart-badge">{{cart.length}}</div>
        </div>
    </ion-nav-buttons>
    <ion-nav-title>
        <h1 class="title">{{ pageTitle }}</h1>
    </ion-nav-title>
    <ion-content class="has-header" padding="false" ng-class="{'pane-content': true}">
        <div class="list">
            <div class="item item-input-inset">
                <label class="item-input-wrapper">
                    <input type="text" placeholder="{{ placeholderKeyword }}" class="item-input-keyword" ng-model="keyword">
                </label>
                <button class="button button-small button-clear button-search" ng-click="goSearch(keyword)">
                    搜尋
                </button>
            </div>
        </div>
        <div class="card" ng-repeat="course in courses" ng-click="switchToCourseInfo(course.Shop_Id, course.Prod_Id)">
            <div class="item item-text-wrap">
                <div class="row">
                    <div class="col course-no">{{course.Prod_Id}}</div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="course-date">
                            <div class="year">{{course.year}}</div>
                            <div class="date">{{course.date}}</div>
                            <div class="weekday">{{course.weekday}}</div>
                        </div>
                    </div>
                    <div class="col col-80">
                        <div class="course-title">
                            {{course.Prod_Name}}
                        </div>
                        <div class="course-detail">
                            <p>上課地點： {{course.Prod_ClsLocation}}</p>
                            <p>上課時數： {{course.Prod_ClsHours}}</p>
                            <p>上課時段： {{course.Prod_ClsTime}}</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-20">
                        <span class="special-price-mark">優惠價</span>
                    </div>
                    <div class="col col-70">
                        NT<span class="course-price">{{course.Prod_Price | currency:undefined:0}}</span>
                    </div>
                    <div class="col text-right">
                        <img class="course-keep-img" ng-src="img/{{course.keep_image_name}}"
                             ng-click="addOrRemoveFromWish(course, $event)" />
                    </div>
                </div>
            </div>
        </div>
        <ion-infinite-scroll
            ng-if="!noMoreItemsAvailable"
            on-infinite="loadMore()"
            distance="1%">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>