<ion-view class="course-search" ng-controller="CourseSearchController">
    <ion-nav-buttons side="center">
        <button class="button button-icon icon ion-ios-arrow-left" ng-click="goBack()"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon icon sprite-icon shoppingcar-icon" ng-click="goCart()">
            <i class="sprite-icon-shoppingcar-o-2x"></i>
        </button>
        <div class="cart-badge-container" ng-show="carts.length > 0" ng-click="goCart()">
            <div class="badge badge-assertive badge-s-size cart-badge" ng-bind="carts.length"></div>
        </div>
    </ion-nav-buttons>
    <ion-nav-title>
        <h1 class="title" ng-bind="pageTitle"></h1>
    </ion-nav-title>
    <ion-content class="has-header" padding="false" scroll="false" ng-class="{ 'pane-content': true }">
        <div class="list header">
            <div class="item item-input-inset">
                <div class="item-input-wrapper">
                    <input type="text"
                           placeholder="{{ placeholderKeyword }}"
                           class="item-input-keyword"
                           ng-keyup="$event.keyCode == 13 && goSearch(search.keyword)"
                           ng-model="search.keyword">
                    <button class="button button-icon icon ion-android-search button-search"
                            ng-if="false"
                            ng-click="goSearch(search.keyword)"></button>
                    <span class="search-icon" ng-click="goSearch(search.keyword)">
                            <i class="ion-android-search"></i></span>
                </div>
                <button class="button button-icon icon sprite-icon button-options"
                        ng-if="option_visible"
                        ng-click="showOptions($event)">
                    <i class="sprite-icon-search-bar-sort-2x"></i>
                </button>
                <button class="button button-icon icon sprite-icon button-history"
                        ng-click="showHistory($event)">
                    <i class="sprite-icon-search-bar-history-2x"></i>
                </button>
            </div>
        </div>
        <ion-content class="has-subheader" padding="false" scroll="true">
            <div class="card" ng-repeat="course in courses" ng-click="switchToCourseInfo(course.Shop_Id, course.Prod_Id)">
                <div class="item item-text-wrap">
                    <div class="row">
                        <div class="col course-no">
                            <span class="course-no-span" ng-bind="course.Prod_Id"></span></div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="course-date">
                                <div class="year">{{course.year}}</div>
                                <div class="date">{{course.date}}</div>
                                <div class="weekday">{{course.weekday}}</div>
                            </div>
                        </div>
                        <div class="col col-80 course-info">
                            <div class="course-title">
                                {{course.Prod_Name}} {{course.Prod_SubName}}
                            </div>
                            <div class="course-detail">
                                <p><img src="img/location@2x.png" class="small-icon" />上課地點： {{course.Prod_ClsLocation}}</p>
                                <p><img src="img/time@2x.png" class="small-icon" />上課時數： {{course.Prod_ClsHours}}</p>
                                <p><img src="img/calendar@2x.png" class="small-icon" />上課時段： {{course.Prod_ClsTime}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-20">
                            <span class="special-price-mark">優惠價</span>
                        </div>
                        <div class="col col-70 col-price">
                            NT<span class="course-price">{{course.Prod_Price | currency:"":0 }}</span>
                        </div>
                        <div class="col text-right">
                            <img class="course-keep-img" ng-src="img/{{course.keep_image_name}}"
                                 ng-click="addOrRemoveFromWish(course, $event)" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="no-course" ng-if="loadingSearch == false && courses.length == 0">
                <div class="header">
                    <div class="image">
                        <img src="img/unsearch@2x.png" /></div>
                    <div class="text">很抱歉，沒有找到相關的課程</div>
                </div>
                <div class="tips">
                    <div>溫馨提示：</div>
                    <div>‧請檢查您的輸入是否正確</div>
                    <div>‧如果這是您想要學習的課程，請及時告知我們</div>
                </div>
                <button class="button button-full button-small button-positive" ng-click="showWishForm(search.keyword)">我要許願</button>
            </div>
            <ion-infinite-scroll
                ng-if="!noMoreItemsAvailable"
                on-infinite="loadMore()"
                distance="1%">
            </ion-infinite-scroll>
        </ion-content>
    </ion-content>
    <script id="templates/modal-wish.html" type="text/ng-template">
        <ion-modal-view class="modal-box wish-box">
            <ion-content padding="true" scroll="false">
                <form name="wishForm" class="form wish-form" novalidate ng-submit="submitWishForm(wishForm)">
                    <div class="row header">
                        <div class="col">
                            許願單
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="required">想上什麼課程呢？</div>
                            <div ng-class="{ 'has-error' : wishForm.keyword.$invalid }">
                                <input type="text" name="keyword"
                                       ng-model="wishcard.keyword"
                                       required />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="required">有想請什麼老師嗎？</div>
                            <div ng-class="{ 'has-error' : wishForm.teacher.$invalid }">
                                <input type="text" name="teacher"
                                       ng-model="wishcard.teacher"
                                       required />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="required">描述一下您的課程需求？</div>
                            <div ng-class="{ 'has-error' : wishForm.description.$invalid }">
                                <textarea name="description" class="textarea" rows="5" cols="40"
                                          ng-model="wishcard.description"
                                          required></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="required">請問您對課程的理想價格為？</div>
                            <div>
                                <div id="wish-range-slider" class="range-slider">
                                    <input type="text" id="wish-price-range" value="" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="button button-full button-small button-positive">送出願望</button>
                    <div class="tips">
                        您的寶貴建議，是我們進步的動力。
                    </div>
                </form>
            </ion-content>
        </ion-modal-view>
    </script>
    <script id="templates/popover-history.html" type="text/ng-template">
        <ion-popover-view class="popover-history">
            <ion-content class="popover-history-content" scroll="false">
                <ion-list>
                    <ion-item class="row" ng-click="goSearchByFilter(history)" ng-repeat="history in historyList">
                        <div class="col-10"><img src="img/history.png" class="item-image" /></div>
                        <div class="col-90 item-content item-text">
                            <span ng-bind="history.query"></span>
                            <span ng-bind="arrangeLocation(history.loc)"></span>
                            <span ng-bind="arrangeWeekday(history.wday)"></span>
                            <i class="ion-ios-arrow-forward"></i>
                        </div>
                    </ion-item>
                </ion-list>
            </ion-content>
        </ion-popover-view>
    </script>
    <script id="templates/popover.html" type="text/ng-template">
        <ion-popover-view class="popover-condition">
            <ion-content class="popover-condition-content" scroll="false">
                <ion-tabs class="tabs-light tabs-top">
                    <ion-tab class="tab-active-1" title="排序" on-select="show_order_tab()">
                            <ion-content class="tab-1" scroll="false" padding="true">
                                <ion-list>
                                    <ion-item class="item" ng-click="setOrder(search.keyword, 'start')">
                                        最新上架
                                        <i class="ion-checkmark" ng-if="order == 'start'"></i>
                                    </ion-item>
                                    <ion-item class="item" ng-click="setOrder(search.keyword, 'price')">
                                        課程價格由低至高
                                        <i class="ion-checkmark" ng-if="order == 'price'"></i>
                                    </ion-item>
                                    <ion-item class="item" ng-click="setOrder(search.keyword, 'priced')">
                                        課程價格由高至低
                                        <i class="ion-checkmark" ng-if="order == 'priced'"></i>
                                    </ion-item>
                                </ion-list>
                            </ion-content>
                    </ion-tab>
                    <ion-tab class="tab-active-2" title="篩選" on-select="show_filter_tab()">
                            <ion-content scroll="false" padding="true">
                                <div class="row">
                                    <div class="col">
                                        <div class="label">預估金額</div>
                                        <div class="range-slider">
                                            <input type="text" id="price-range" value="" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="label">上課地點</div>
                                        <div class="row row-location">
                                            <div class="col col-33">
                                                <div class="location"
                                                     ng-class="{ 'current': checkLocation('台北') }"
                                                     ng-click="toggleLocation('台北')">台北</div></div>
                                            <div class="col col-33">
                                                <div class="location"
                                                     ng-class="{ 'current': checkLocation('台中') }"
                                                     ng-click="toggleLocation('台中')">台中</div></div>
                                            <div class="col col-33">
                                                <div class="location"
                                                     ng-class="{ 'current': checkLocation('高雄') }"
                                                     ng-click="toggleLocation('高雄')">高雄</div></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="label">上課時間</div>
                                        <div>
                                            <span class="weekday"
                                                  ng-repeat="day in filter.weekdays"
                                                  ng-class="{ 'current': checkWeekday(day) }"
                                                  ng-click="toggleWeekday(day)">周{{ day }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col col-50 text-center">
                                        <button class="button button-block button-stable" ng-click="cancelPopover()">
                                            取消
                                        </button></div>
                                    <div class="col col-50 text-center">
                                        <button class="button button-block button-stable" ng-click="submitPopover(search.keyword)">
                                            送出
                                        </button></div>
                                </div>
                            </ion-content>
                    </ion-tab>
                </ion-tabs>
            </ion-content>
        </ion-popover-view>
    </script>
</ion-view>