<ion-view class="course-survey" cache-view="false" ng-controller="CourseSurveyController">
    <ion-nav-bar>
        <ion-nav-buttons side="left">
            <button class="button button-icon icon ion-ios-arrow-left" ng-click="goBack()"></button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button class="button button-icon icon sprite-icon shoppingcar-icon" ng-click="goCart()">
                <i class="sprite-icon-shoppingcar-o-2x"></i>
            </button>
            <div class="cart-badge-container" ng-show="carts.length > 0" ng-click="goCart()">
                <div class="badge badge-assertive badge-s-size cart-badge" ng-bind="carts.length"></div>
            </div>
        </ion-nav-buttons>
        <ion-nav-title>
            <h1 class="title">填寫課後問卷</h1>
        </ion-nav-title>
    </ion-nav-bar>
    <form name="surveyForm" class="form survey-form" novalidate ng-submit="submitForm(surveyForm)">
        <ion-content class="course-survey-content" padding="true">
            <h3 class="survey-title" ng-bind="course.Prod_Name"></h3>
            <ion-list class="survey-list">
                <ion-item class="survey-item"
                          ng-class="{ 'survey-item-color-1': $index % 6 == 0, 'survey-item-color-2': $index % 6 == 1, 'survey-item-color-3': $index % 6 == 2, 'survey-item-color-4': $index % 6 == 3, 'survey-item-color-5': $index % 6 == 4, 'survey-item-color-6': $index % 6 == 5 }"
                          ng-repeat="topic in topics track by topic.Topic_No">
                    <ng-form name="innerForm"
                             ng-value="innerForm.$valid"
                             ng-model="surveyForm.valid_topics"
                             sce-form-valid-count="topic.Topic_No">
                        <div class="survey-item-topic"
                             ng-init="topic_is_english = testIsAllAlphaBetsOnly(topic.Topic_Name)"
                             ng-class="{ 'has-error': innerForm.topic.$invalid }">
                            <input type="hidden" name="topic"
                                   ng-model="topic.event_value"
                                   required />
                            <ion-label>{{ topic.Topic_Name }}</ion-label>
                            <ion-radio ng-if="topic.Topic_Type == '單選'"
                                       ng-repeat="item in topic.events"
                                       ng-model="topic.event_value"
                                       ng-change="changeTopicEvent(topic, item)"
                                       ng-value="item.Event_Value">
                                <i ng-class="{ 'ion-android-radio-button-on': topic.event_value == item.Event_Value,
                                               'ion-android-radio-button-off': topic.event_value != item.Event_Value }"></i>
                                <span class="radio-title" ng-bind="item.Event_Value"></span>
                            </ion-radio>
                            <ion-checkbox ng-if="topic.Topic_Type == '複選' && topic.events.length < 6"
                                          ng-repeat="item in topic.events"
                                          ng-model="item.checked"
                                          ng-value="item.Event_Value"
                                          sce-checkbox-value-assign="topic.event_value"
                                          ng-change="changeTopicEvent(topic, item)">
                                <span class="checkbox-title" ng-bind="item.Event_Value"></span>
                            </ion-checkbox>
                            <div class="row wrap-row"
                                 ng-if="topic.Topic_Type == '複選' && topic.events.length >= 6 && topic_is_english == false">
                                <div class="col col-33" ng-repeat="item in topic.events">
                                    <ion-checkbox ng-model="item.checked"
                                                  ng-value="item.Event_Value"
                                                  sce-checkbox-value-assign="topic.event_value"
                                                  ng-change="changeTopicEvent(topic, item)">
                                        <span class="checkbox-title" ng-bind="item.Event_Value"></span>
                                    </ion-checkbox>
                                </div>
                            </div>
                            <div class="row wrap-row"
                                 ng-if="topic.Topic_Type == '複選' && topic.events.length >= 6 && topic_is_english == true">
                                <div class="col col-90" ng-repeat="item in topic.events">
                                    <ion-checkbox ng-model="item.checked"
                                                  ng-value="item.Event_Value"
                                                  sce-checkbox-value-assign="topic.event_value"
                                                  ng-change="changeTopicEvent(topic, item)">
                                        <span class="checkbox-title" ng-bind="item.Event_Value"></span>
                                    </ion-checkbox>
                                </div>
                            </div>
                        </div>
                        <div class="sub-survey-item"
                             ng-if="topic.sub_topics && topic.sub_topics.length > 0"
                             ng-repeat="sub_topic in topic.sub_topics track by sub_topic.Topic_No">
                            <ng-form name="innerSubForm"
                                     ng-value="innerSubForm.$valid"
                                     ng-model="surveyForm.valid_topics"
                                     sce-form-valid-count="topic.Topic_No"
                                     sce-form-valid-count-this-id="sub_topic.Topic_No"
                                     sce-form-valid-count-list="topic.sub_topics">
                                <div class="sub-survey-item-topic" ng-class="{ 'has-error': innerSubForm.sub_topic.$invalid }">
                                    <input type="hidden" name="sub_topic"
                                           ng-model="sub_topic.event_value"
                                           required />
                                    <ion-label>{{ sub_topic.Topic_Name }}</ion-label>
                                    <ion-checkbox ng-repeat="item in sub_topic.events"
                                                  ng-model="item.checked"
                                                  ng-value="item.Event_Value"
                                                  sce-checkbox-value-assign="sub_topic.event_value">
                                        <span class="checkbox-title" ng-bind="item.Event_Value"></span>
                                    </ion-checkbox>
                                </div>
                            </ng-form>
                        </div>
                    </ng-form>
                </ion-item>
            </ion-list>
            <div class="row" ng-if="false">
                <div class="col"><input type="button" class="button button-block button-dark" ng-click="goBack()" value="取消" /></div>
                <div class="col col-67"><button class="button button-block button-positive">確認</button></div>
            </div>
        </ion-content>
        <ion-footer-bar class="footer">
            <button class="button button-full button-positive" ng-disabled="!topic_loaded || surveyForm.$invalid">
                <span>{{ '確認送出' }}</span>
                <span ng-if="topics && topics.length > 0"> ({{ surveyForm.valid_topics.length }}/{{ topics.length }})</span>
            </button>
        </ion-footer-bar>
    </form>
</ion-view>