<ion-view class="course-survey" cache-view="false" ng-controller="CourseSurveyController">
    <ion-nav-bar>
        <ion-nav-buttons side="left">
            <button class="button button-icon icon ion-ios-arrow-left" ng-click="goBack()"></button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button class="button button-icon icon sprite-icon shoppingcar-icon" ng-click="goCart()">
                <i class="sprite-icon-shoppingcar-o-2x"></i>
            </button>
            <div class="cart-badge-container" ng-show="carts.length > 0" ng-click="goCart()">
                <div class="badge badge-assertive badge-s-size cart-badge" ng-bind="carts.length"></div>
            </div>
        </ion-nav-buttons>
        <ion-nav-title>
            <h1 class="title">填寫課後問卷</h1>
        </ion-nav-title>
    </ion-nav-bar>
    <form name="surveyForm" class="form survey-form" novalidate ng-submit="submitForm(surveyForm)">
        <ion-content class="course-survey-content">
            <div class="padding" ng-if="teachers.length < 2">
                <h3 class="survey-title" ng-bind="course.Prod_Name"></h3>
                <ng-include src="'partial/course/_survey-default.html'"></ng-include>
            </div>
            <div ng-if="teachers.length > 1">
                <div class="padding padding-no-bottom">
                    <h3 class="survey-title" ng-bind="course.Prod_Name"></h3>
                </div>
                <ng-include src="'partial/course/_survey-multi-teachers.html'"></ng-include>
            </div>
        </ion-content>
        <ion-footer-bar class="footer">
            <button class="button button-full button-positive" ng-disabled="!topic_loaded || surveyForm.$invalid">
                <span>{{ '確認送出' }}</span>
                <span ng-if="topics && topics.length > 0"> ({{ surveyForm.valid_topics.length }}/{{ topics.length }})</span>
            </button>
        </ion-footer-bar>
    </form>
</ion-view>
