.course-extend {
    .scroll-content {
        background-color: $stable;
    }

    .card {
        .item {
            padding: 2px;

            .row {
                .course-no {
                    font-size: $text-size-small;

                    .course-no-span {
                        background-color: $stable;
                        padding: 2px 5px;
                    }
                }
                .course-info {
                    padding-left: 25px;

                    .course-title {
                        top: -7px;
                        position: relative;
                    }
                    .course-detail {
                        .small-icon {
                            width: 16px;
                            margin-right: 5px;
                        }
                    }
                }
                .course-date {
                    background-color: $light;
                    text-align: center;
                    font-size: $text-size-small;
                    line-height: 14px;
                    border: 1px solid $light-gray-color;
                    padding-top: 5px;
                    position: absolute;
                    width: 72px;
                    height: 72px;
                    border-radius: 72px;

                    div {
                        margin-top: 5px;

                        &.year {
                            font-size: $text-size-small;
                        }
                        &.date {
                            font-size: 23px;
                        }
                        &.weekday {
                            font-size: $text-size-small;
                        }
                    }
                }
                .special-price-mark {
                    font-size: $text-size-small + 1;
                    background: $assertive;
                    color: $light;
                    padding: 3px;
                    margin-top: 3px;
                    margin-left: 12px;
                    display: inline-block;
                }
                .col-price {
                    position: relative;
                    left: -8px;

                    .course-price {
                        font-size: 30px;
                        color: $gray-color;
                    }
                }

                .course-keep-img {
                    width: 32px;
                }
            }
        }
    }
}