$price-item-color: #868687;
$price-current-item-color: #BE1421;

.platform-android {
    .course-info {
        .course-info-detail {
            .social-sharing {
                .img-ios {
                    display: none !important;
                }
                .img-android {
                    display: inline-block;
                }
            }
        }
    }
}
.platform-ios {
    .course-info {
        .course-info-detail {
            .social-sharing {
                .img-android {
                    display: none !important;
                }
                .img-ios {
                    display: inline-block;
                }
            }
        }
    }
}
.course-info {
    .course-info-content {
        // header image
        .header-image-container {
            //height: 140px;
            width: 100%;

            .header-image {
                height: 100%;
                width: 100%;
                max-width: 100%;
                background-position: center;
                background-size: cover;
            }
        }

        // course-info
        .course-info-detail {
            .prod-id {
                color: $dark;
                background-color: $stable;
                padding: 2px 5px 2px 5px;
                display: inline-table;
            }

            .social-sharing {
                float: right;
                width: 38px;

                .img {
                    text-align: center;
                    display: block;

                    img {
                        width: 100%;
                        max-width: 24px;
                    }
                }
                .text {
                    color: $positive;
                    text-align: center;
                }
            }

            .title {
                font-weight: bold;
            }
            .course-detail {

                .col {
                    padding: 0;
                }

                &.row-2 {
                    .class-date-value, .class-time-value {
                        margin-top: 2px;
                    }
                }
                &.row-3 {
                    .class-date-value, .class-time-value {
                        margin-top: 3px;
                    }
                }
                .class-time {
                    padding: 0;

                    .col {
                        padding: 0;

                        .badge {
                            margin-top: 10px;
                        }

                        .class-time-value {
                            position: relative;
                            left: -3px;
                        }
                    }
                    .col-2 {
                        .badge {
                            margin-top: 5px;
                            font-size: 12px;
                            height: 25px !important;
                            width: 25px !important;
                            border-radius: 25px !important;
                            padding-top: 5px !important;
                            padding-left: 7px !important;
                        }
                    }
                    .col-3 {
                        .badge {
                            margin-top: 0;
                            font-size: 12px;
                            height: 25px !important;
                            border-radius: 25px !important;
                            width: 25px !important;
                            padding-left: 6px !important;
                            padding-top: 5px !important;
                        }
                        .rotate-90 {
                            margin-top: -2px;
                            margin-left: -1px;
                        }

                        .badge-2 {
                            margin-top: -4px;
                        }
                    }
                }

                .no-padding {
                    &.row {
                        padding: 0;

                        .col {
                            padding: 0;
                        }
                    }
                }
            }

            .card-container {
                background-color: $stable;
                padding-top: 8px;
                //padding-bottom: 8px;
                padding-bottom: 45px;

                &:last-child {
                    margin-bottom: 10px;
                }

                .card {

                    .item {
                        font-size: 1.1em;

                        .title {
                            margin-bottom: 10px;
                        }
                        .content {
                            padding-left: 8px;
                            line-height: 1.7em;
                        }
                    }
                }
            }

            .rotate-90 {
                @include rotate(90deg);
            }
        }
    }

    .footer {
        height: 60px;
        padding: 0;

        &.buy-online-false {
            .price-help {
                background-color: $positive;
                padding-left: 8px;
                padding-right: 8px;
            }

            .cart-button {
                &.not-buy-online {
                    background-color: #dadad9;
                    color: $positive;
                }
            }
        }

        .price-help {
            background-color: $assertive;
            color: $light;
            font-size: 11px;
            padding-left: 5px;
            padding-right: 5px;
            margin: 5px;
            margin-top: 10px;
        }
        h1.title {
            margin-left: -5px;
            margin-top: 8px;
            width: 130px;
        }
        .price-prefix {
            font-size: 11px;
        }
        .price {
            font-size: 28px;
        }
        .add-favorite {
            width: 50px;
            padding: 8px;
            padding-top: 12px;
            margin-right: 5px;

            img {
                width: 36px;
            }
        }
        .cart-button {
            width: 100px;
            padding-top: 8px;

            img {
                width: 30px;
            }
            .text {
                font-size: $text-size-small;
            }

            &.add-cart {
                background-color: $positive;
                color: $light;
            }
            &.already-in-cart {
                background-color: #dadad9;
                color: #be1621;
            }
        }

        &.bar .title + .buttons {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
        }
    }
}

.price-list-box {
    &.modal-box {
        top: 30%;
        min-height: 100px !important;
        background-color: $light;
    }
    .price-item {
        color: $price-item-color;

        &.current {
            color: $price-current-item-color;

            .price-item-name {
                .label {
                    background-color: $price-current-item-color;
                }
            }
        }
        .price-item-name {
            display: flex;
            margin-bottom: 8px;

            > div {
                display: inline-flex;
            }
            .label {
                background-color: $price-item-color;
                color: $light;
                padding: 3px 5px;
                white-space: nowrap;
                display: table;
            }
            .label-desc {
                margin-left: 10px;
            }
        }

        .price-value {
            font-size: 2em;
        }
    }

}