.course-search {

    .pane-content {
        background-color: $stable;
    }
    .list.header {
        margin-top: 0;
        margin-bottom: 0;

        .item {
            background-color: $positive;

            &.item-input-inset {
                padding-top: 0;
                padding-bottom: 0;
            }

            .item-input-wrapper {
                background-color: $light;

                .item-input-keyword {
                    width: 98%;
                }
            }

            .button-options {
                zoom: 0.26;
            }
            .button-history {
                zoom: 0.33;
                margin-left: 12px;
            }
            .button-search, .button-options, .button-history {
                color: $light;

                &:before {
                    font-size: 24px;
                }
            }
        }
    }

    .has-subheader {
        margin-top: -37px;
    }

    .card {
        .item {
            padding: 2px;

            .row {
                .course-no {
                    font-size: $text-size-small;

                    .course-no-span {
                        background-color: $stable;
                    }
                }
                .course-info {
                    padding-left: 25px;

                    .course-title {
                        top: -7px;
                        position: relative;
                    }
                    .course-detail {
                        .small-icon {
                            width: 16px;
                            margin-right: 5px;
                        }
                    }
                }
                .course-date {
                    background-color: $light;
                    text-align: center;
                    font-size: $text-size-small;
                    line-height: 14px;
                    border: 2px solid $light-gray-color;
                    padding-top: 5px;
                    position: absolute;
                    width: 72px;
                    height: 72px;
                    border-radius: 72px;

                    div {
                        margin-top: 5px;

                        &.year {
                            font-size: $text-size-small;
                        }
                        &.date {
                            font-size: 23px;
                        }
                        &.weekday {
                            font-size: $text-size-small;
                        }
                    }
                }
                .special-price-mark {
                    font-size: $text-size-small + 1;
                    background: $assertive;
                    color: $light;
                    padding: 3px;
                    margin-top: 3px;
                    margin-left: 12px;
                    display: inline-block;
                }
                .col-price {
                    position: relative;
                    left: -8px;

                    .course-price {
                        font-size: 30px;
                        color: $gray-color;
                    }
                }

                .course-keep-img {
                    width: 32px;
                }
            }
        }
    }
}

.popover.popover-history {
    height: 220px;
    left: 0 !important;
    top: 124px !important;
    width: 100% !important;

    .popover-history-content {
        .list {
            padding-bottom: 10px;
        }
        .row {
            & + .row {
                margin-top: 5px;
            }

            i {
                position: absolute;
                right: 1em;
                font-size: 1.5em;
                margin-top: -3px;
            }

            .item-image {
                width: 24px;
            }
            .item-text {
                overflow: hidden;
                padding-right: 40px;
                padding-top: 2px;
                padding-left: 5px;
                color: $light-gray-color;
            }
        }
    }
}
.popover.popover-condition {
    height: 255px;
    left: 0 !important;
    top: 124px !important;
    width: 100% !important;

    &.large {
        height: 390px;
    }

    .popover-condition-content {
        .tabs-top > .tabs {
            top: 0;
        }
        .has-tabs-top {
            top: 44px;
        }
        .label {
            color: $gray-color;
        }

        .range-slider {
            position: relative;
            height: 65px;
        }
        .location {
            height: 30px;
            border: 2px solid $stable;
            border-radius: 20px;
            text-align: center;
            padding-top: 2px;

            &.current {
                border-color: $positive;
            }
        }
        .weekday {
            background-color: $stable;
            margin-right: 5px;
            padding: 3px 5px;
            margin-top: 5px;
            display: inline-block;

            &.current {
                background-color: $positive;
                color: $light;
            }
        }

        .tab-1 {
            .item {
                i {
                    right: 5px;
                    position: absolute;
                }
            }
        }
    }
}

.platform-android .popover-backdrop, .platform-android .popover-backdrop.active {
    background-color: rgba(0, 0, 0, 0.4) !important;
    //top: 92px;
}