.course-catalogs {

    .course-catalogs-content {
        .notice-block {
            //border: $dark-blue-color 1px solid;
            background-color: $light-blue-color;
            padding: 5px 10px;
            margin: 20px;
            margin-bottom: 0;
            color: $positive;
            border-radius: 5px;
            line-height: 30px;
        }
        .list {
            > .item {
                white-space: initial;
            }
            .item {
                border: none;

                .catalog-image {
                    width: 64px;
                }
                .item.item-toggle {
                    font-size: 18px;
                    border: none;
                }
                .title, .full-title {
                    margin-left: 15px;
                    font-size: 15px;
                    width: 240px;
                    word-break: normal;

                    .sub-item {

                        &:after {
                            content: 'ï¼Ž'
                        }
                        &:last-child:after {
                            content: ''
                        }
                    }
                }
                .full-title {
                    width: 90%;
                }
            }
        }
    }
}