.course-survey {
    background-color: $stable;

    .course-survey-content {
        .survey-title {
            text-align: center;
        }
        .survey-list {
            .survey-item {
                border: 0 none;
                margin-bottom: 15px;

                .input-label {
                    white-space: normal;
                    width: 100%;
                    max-width: 100%;
                }
                
                $survey-item-color-1: #1d70b7;
                &.survey-item-color-1 {
                    .input-label, .item, .ion-android-radio-button-on, .ion-android-radio-button-off {
                        color: $survey-item-color-1;
                    }
                    .checkbox input:checked:before, .checkbox input:checked + .checkbox-icon:before {
                        background-color: $survey-item-color-1;
                        border-color: $survey-item-color-1;
                    }
                }
                $survey-item-color-2: #cf4b94;
                &.survey-item-color-2 {
                    .input-label, .item, .ion-android-radio-button-on, .ion-android-radio-button-off {
                        color: $survey-item-color-2;
                    }
                    .checkbox input:checked:before, .checkbox input:checked + .checkbox-icon:before {
                        background-color: $survey-item-color-2;
                        border-color: $survey-item-color-2;
                    }
                }
                $survey-item-color-3: #d2982b;
                &.survey-item-color-3 {
                    .input-label, .item, .ion-android-radio-button-on, .ion-android-radio-button-off {
                        color: $survey-item-color-3;
                    }
                    .checkbox input:checked:before, .checkbox input:checked + .checkbox-icon:before {
                        background-color: $survey-item-color-3;
                        border-color: $survey-item-color-3;
                    }
                }
                $survey-item-color-4: #00a09a;
                &.survey-item-color-4 {
                    .input-label, .item, .ion-android-radio-button-on, .ion-android-radio-button-off {
                        color: $survey-item-color-4;
                    }
                    .checkbox input:checked:before, .checkbox input:checked + .checkbox-icon:before {
                        background-color: $survey-item-color-4;
                        border-color: $survey-item-color-4;
                    }
                }
                $survey-item-color-5: #575756;
                &.survey-item-color-5 {
                    .input-label, .item, .ion-android-radio-button-on, .ion-android-radio-button-off {
                        color: $survey-item-color-5;
                    }
                    .checkbox input:checked:before, .checkbox input:checked + .checkbox-icon:before {
                        background-color: $survey-item-color-5;
                        border-color: $survey-item-color-5;
                    }
                }
                $survey-item-color-6: #575756;
                &.survey-item-color-6 {
                    .input-label, .item, .ion-android-radio-button-on, .ion-android-radio-button-off {
                        color: $survey-item-color-6;
                    }
                    .checkbox input:checked:before, .checkbox input:checked + .checkbox-icon:before {
                        background-color: $survey-item-color-6;
                        border-color: $survey-item-color-6;
                    }
                }

                .item-radio, .item-checkbox {
                    border: 0 none;
                }

                // .item-radio input:checked + .radio-content .item-content
                .item-radio {
                    input:checked + .radio-content .item-content {
                        background-color: #ffffff;
                    }
                    .radio-content {
                        .item-content {
                            padding: 5px;
                            padding-left: 20px;

                            i {
                                font-size: 24px;
                            }
                            .radio-title {
                                position: relative;
                                top: -3px;
                                margin-left: 5px;
                            }
                        }

                        i.radio-icon {
                            display: none;
                        }
                    }
                }

                .item-content {
                    text-overflow: initial;
                    white-space: initial;
                }

                .survey-item-topic {
                    padding-bottom: 10px;

                    .input-label {
                        font-size: 19px;
                    }
                    .item {
                        font-size: 17px;
                    }
                    .wrap-row {
                        -webkit-flex-wrap: wrap;
                        flex-wrap: wrap;
                        padding: 0;

                        .col {
                            padding: 0;
                        }
                        .item-checkbox {
                            padding: 10px 0 10px 26px;
                            font-size: 17px;

                            .checkbox {
                                left: -10px;
                            }
                        }
                    }
                }

                .sub-survey-item {
                    margin-top: 10px;
                    border-top: 1px solid $separate-line-color;

                    .sub-survey-item-topic {
                        padding-top: 10px;

                        .input-label {
                            padding-bottom: 10px;
                            font-size: 19px;
                        }
                        .item {
                            padding-top: 5px;
                            padding-bottom: 5px;
                            color: #6f6f6e;

                            .item-content {
                                font-size: 15px;
                            }
                            .checkbox input:checked:before, .checkbox input:checked + .checkbox-icon:before {
                                background-color: #6f6f6e;
                                border-color: #6f6f6e;
                            }
                        }
                    }
                }
            }
        }

        i.ion-android-radio-button-off {
            color: #dddddd;
        }
        i.ion-android-radio-button-on {
            color: $radio-button-selected-color;
        }

        form.ng-submitted {
            .survey-item-topic.has-error, .sub-survey-item-topic.has-error {
                background-color: $light-error-color;
            }
        }
    }

    .bar {
        &.footer {
            padding: 0;
            height: 49px;

            .button {
                margin: 0;
                background-color: $positive;
                font-size: 1.3em;

                -webkit-box-shadow: 0px 3px 20px 2px rgba(0,0,0,0.75);
                -moz-box-shadow: 0px 3px 20px 2px rgba(0,0,0,0.75);
                box-shadow: 0px 3px 20px 2px rgba(0,0,0,0.75);

                &[disabled] {
                    opacity: 1;
                    background-color: #dadad9;
                    color: #575756;
                }
            }
        }
    }
}