.course-search {

    .pane-content {
        background-color: $stable;

    }
    .list.header {
        margin-top: 0;
        margin-bottom: 0;

        .item {
            background-color: $positive;

            &.item-input-inset {
                padding-top: 0;
                padding-bottom: 0;
            }

            .item-input-wrapper {
                background-color: $light;

                .item-input-keyword {
                    width: 98%;
                }
            }

            .button-search, .button-options {
                color: $light;

                &:before {
                    font-size: 24px;
                }
            }
        }
    }

    .has-subheader {
        margin-top: -37px;
    }

    .card {
        .item {
            padding: 2px;

            .row {
                .course-no {
                    font-size: $text-size-small;
                }
                .course-title {
                    top: -7px;
                    position: relative;
                }
                .course-date {
                    background-color: $light;
                    text-align: center;
                    font-size: $text-size-small;
                    border-radius: 30px;
                    line-height: 14px;
                    border: 2px solid $light-gray-color;
                    height: 55px;
                    padding-top: 2px;

                    div {
                        margin-top: 2px;

                        &.year {
                            font-size: $text-size-small;
                        }
                        &.date {
                            font-size: $text-size-medium;
                        }
                        &.weekday {
                            font-size: $text-size-small;
                        }
                    }
                }
                .special-price-mark {
                    font-size: $text-size-small + 1;
                    background: $assertive;
                    color: $light;
                    padding: 3px;
                    margin-top: 3px;
                    margin-left: 12px;
                    display: inline-block;
                }
                .course-price {
                    font-size: $text-size-medium + 6;
                    font-style: italic;
                    color: $gray-color;
                }
                .course-keep-img {
                    width: 32px;
                }
            }
        }
    }
}

.popover.popover-condition {
    height: 255px;

    &.large {
        height: 390px;
    }

    .popover-condition-content {
        .tabs-top > .tabs {
            top: 0;
        }
        .has-tabs-top {
            top: 44px;
        }
        .label {
            color: $gray-color;
        }

        .range-slider {
            position: relative;
            height: 65px;
        }
        .location {
            height: 30px;
            border: 2px solid $stable;
            border-radius: 20px;
            text-align: center;
            padding-top: 2px;

            &.current {
                border-color: $positive;
            }
        }
        .weekday {
            background-color: $stable;
            margin-right: 5px;
            padding: 3px 5px;
            margin-top: 5px;
            display: inline-block;

            &.current {
                background-color: $positive;
                color: $light;
            }
        }

        .tab-1 {
            .item {
                i {
                    right: 5px;
                    position: absolute;
                }
            }
        }
    }
}

.platform-android .popover-backdrop, .platform-android .popover-backdrop.active {
    background-color: rgba(0, 0, 0, 0.4) !important;
    //top: 92px;
}