.dashboard {
    background-color: $white-color;

    .studycard-slides {
        background-color: $stable;

        .slider {
            height: 185px;

            .card-progress {
                position: absolute;
                width: 40%;
                height: 100%;
                left: 8px;

                .progress {
                    margin-top: 12px;

                    img {
                        width: 130px;
                    }

                    .round-progress-image {
                        position: absolute;
                        //top: 0;
                    }

                    .round-progress {
                        position: absolute;
                        //top: -136px;
                    }

                    .progress-value {
                        position: absolute;
                        left: 28px;
                        top: 18px;

                        font-size: $text-size-medium + 30;
                        color: $positive;

                        &.percent-100 {
                            left: 22px;
                        }

                        .progress-text-percent-value {
                            position: relative;
                            top: 40px;
                        }

                        .progress-text-percent {
                            position: relative;
                            left: 44px;
                            top: 30px;

                            font-size: $text-size-medium;
                        }
                        .progress-text {
                            position: relative;
                            top: 35px;
                            left: 5px;

                            font-size: $text-size-small + 3;
                        }
                        .progress-teacher {
                            position: relative;
                            top: 70px;
                            left: 5px;

                            color: $gray-color;
                            font-size: $text-size-small + 3;
                        }
                    }
                }
           }

            .card-info {
                position: absolute;
                width: 60%;
                height: 100%;
                right: 0;
                text-align: left;
                margin-top: -8px;

                h4 {
                    color: $gray-color;
                    overflow : hidden;
                    text-overflow : ellipsis;
                    white-space : nowrap;
                }

                .item-image-icon {
                    img {
                        margin-top: 3px;
                        width: 16px;
                    }
                }

                .row {
                    &.text-item {
                        .col {
                            padding: 0;
                            color: $gray-color;
                            text-align: center;

                            &.col-text-left {
                                text-align: left;
                                white-space: nowrap;
                            }
                        }
                    }
                    &.class-time {
                        margin-top: 2px;

                        div.class-time-range {
                            line-height: 12px;
                            font-weight: bold;

                            .rotate-90 {
                                @include rotate(90deg);
                            }
                        }
                    }
                }
            }
        }
    }

    .search-slides {

        &.guest-slides {
            .slider {
                height: 505px;
            }
        }
        .slider {
            height: 371px;

            .cover {
                height: 100%;
                background-repeat: no-repeat;
                //background-attachment: fixed;
                background-position: center;
                background-size: cover;

                h3 {
                    color: $white-color;
                }

                p {
                    color: $white-color;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                .search-header-container {
                    background: -moz-linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 50%, transparent 100%, transparent 100%); /* FF3.6-15 */
                    background: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 50%, transparent 100%, transparent 100%); /* Chrome10-25,Safari5.1-6 */
                    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 50%, transparent 100%, transparent 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

                    .search-header {
                        margin-top: 10px;
                        padding: 6px;
                        padding-top: 16px;
                        width: 90%;
                        margin: 0 auto;
                        text-align: center;
                    }
                }

                .search-box {
                    padding: 0 6px;
                    //background-color: $white-color;
                    background-color: rgba(255, 255, 255, 0.85);
                    color: $gray-color;
                    width: 90%;
                    margin: 0 auto;
                    text-align: left;
                    font-size: $text-size-small;
                    //height: 240px;

                    .key {
                        font-size: $text-size-small;
                    }
                    .value {
                        font-size: $text-size-medium;
                        padding: 0 5px;

                        .value-col {
                            display: inline-block;

                            input[type="text"] {
                                margin-top: -5px;
                                margin-left: 20px;
                                background-color: rgba(255, 255, 255, 0);
                                font-size: 16px;
                            }

                            .small-img {
                                width: 16px;
                                margin-top: -12px;
                                position: absolute;
                            }
                        }
                    }
                    .keyword {
                        position: absolute;
                        margin-top: -3px;
                        display: inline-block;
                        margin-left: 5px;
                        width: 50%;
                    }
                    .row-weekday {
                        .col {
                            padding-top: 5px;
                        }
                    }
                    .row-search {
                        height: 48px;
                        margin-bottom: 20px;
                    }
                    .underline {
                        border-bottom: 1px solid $border-color;
                    }
                }

                .search-box2 {
                    .row {
                        padding: 2px;
                        line-height: 14px;

                        .col.value {
                            line-height: 1.1em;

                            .small-icon {
                                width: 16px;
                                margin-right: 6px;
                                position: relative;
                                top: 3px;
                            }
                        }
                    }
                    .button-blue {
                        background-color: $positive;
                        color: $white-color;
                    }
                }

                .extend-info {
                    height: 65px;
                    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.56) 81%, rgba(0,0,0,0.56) 100%); /* FF3.6-15 */
                    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.56) 81%,rgba(0,0,0,0.56) 100%); /* Chrome10-25,Safari5.1-6 */
                    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.56) 81%,rgba(0,0,0,0.56) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                    position: absolute;
                    width: 100%;
                    bottom: 0;

                    a {
                        color: $light;
                        text-decoration: none;
                    }
                    .row {
                        padding: 0;
                    }
                    .border-row {
                        color: #fff;
                        width: 94%;
                        border-top: 1px solid #fff;
                        margin: 2px auto 0;
                    }
                    .badge {
                        position: absolute;
                        border-radius: 20px;
                        font-weight: normal;
                        left: 15px;
                    }
                    .keyword {
                        position: relative;
                        color: $light-gray-color;
                        top: 13px;
                        font-size: 8px;
                        line-height: 12px;
                    }
                    .extend-icon {
                        position: relative;
                        top: -9px;
                        left: 6px;

                        img {
                            width: 22px;
                        }
                    }
                }
            }
        }

        .slider-pager {
            .slider-pager-page {
                color: #fff;
            }
        }
    }

    .slides {
        .slider-slide {
            padding-top: 0;
            color: #000;
            background-color: $white-color;
            text-align: center;

            font-weight: 300;
        }
        .slider-pager {
            bottom: 6px;

            i.icon {
                font-size: 12px;
            }
        }
    }


    .icon-tabs-bar {
        position: static;
        padding-top: 10px;
        padding-bottom: 10px;
        height: 72px;

        &.tabs-icon-top {
            &.tabs {
                // .tabs-icon-top.tabs .tab-item
                .tab-item {
                    font-size: 12px;

                    img {
                        display: block;
                        width: 32px;
                        margin: 0 auto;
                        padding-bottom: 5px;
                    }
                }
            }
        }
        //.tab-item {
        //    img {
        //        display: block;
        //        width: 32px;
        //        margin: 0 auto;
        //        padding-bottom: 5px;
        //    }
        //}
    }
}

.modal.modal-box {
    width: 90%;
    height: 90%;
    top: 5%;
    left: 5%;
    right: 5%;
    bottom: 5%;

    .bar-header {
        .col {
            text-align: center;
        }
    }

    .list {
        border-bottom: 0 none;
    }

    .item {
        border: 0;
        font-size: 1em;
        padding: 10px 10px 10px 60px;

        .item-content {

            div {
                display: inline-table;

                &.text-item {
                    margin-left: 21px;
                    position: relative;
                }

                &.icon-text {
                    margin-left: 5px;
                    top: -5px;
                    position: relative;
                }

                &.icon-image {
                    img {
                        width: 16px;
                    }
                }
            }
        }
    }
}

.course-time-box {
    &.modal-box {
        height: 310px !important;
        top: 23%;
    }
    .scroll-content {
        padding-top: 30px;
    }
    .course-time-icon {
        img {
            width: 100px;
        }
    }
    .course-time-text {
        font-size: 1.2em;
        margin-top: 30px;
        margin-bottom: 40px;
    }
}

.course-location-box {
    &.modal-box {
        height: 340px !important;
        top: 23%;
    }
    .scroll-content {
        padding-top: 30px;
    }
    .course-location-icon {
        img {
            width: 100px;
        }
    }
    .course-location-text {
        font-size: 1.2em;
        margin-top: 30px;
        margin-bottom: 40px;
    }
}

.location-box {
    &.modal-box {
        height: 500px !important;
    }
}

.feedback-box {

    &.modal-box {
        height: 550px !important;
    }

    .topic {
        .row {
            padding: 3px;

            .col-item-title {
                padding-left: 6px;
                padding-top: 7px;
            }
            .textarea {
                border: 0;
                background-color: #dcdddc;
                width: 100%;
                padding: 8px;
            }
        }
    }
    .col {
        &.title {
            white-space: nowrap;
            overflow-x: hidden;
            text-overflow: ellipsis;

            text-align: center;

            padding-top: 20px;
            padding-bottom: 20px;
        }
    }
}

.star-rating {
    margin: 0;
    padding: 0;
    display: inline-block;

    .star {
        padding: 1px;
        color: #ddd;
        font-size: 1.8em;
        list-style-type: none;
        display: inline-block;
        margin-right: 5px;

        &.filled {
            color: #FCD815;
        }
    }

    &.readonly .star.filled {
        color: #FCD815;
    }
}