.dashboard {
    background-color: $white-color;

    .studycard-slides {
        background-color: $stable;

        .slider {
            height: 200px;

            .card-progress {
                position: absolute;
                width: 40%;
                height: 100%;
                left: 8px;

                .progress {
                    margin-top: 20px;

                    img {
                        width: 130px;
                    }

                    .round-progress {
                        position: absolute;
                        top: 20px;
                        left: 3px;
                    }

                    .progress-value {
                        position: relative;
                        left: -5px;
                        top: -90px;

                        font-size: $text-size-medium + 30;
                        color: $positive;

                        .progress-text-percent {
                            position: relative;
                            left: 44px;
                            top: -8px;

                            font-size: $text-size-medium;
                        }
                        .progress-text {
                            position: relative;
                            top: -8px;
                            left: 5px;

                            font-size: $text-size-small;
                        }
                        .progress-teacher {
                            position: relative;
                            top: 35px;
                            left: 5px;

                            color: $gray-color;
                            font-size: $text-size-small;
                        }
                    }
                }
           }

            .card-info {
                position: absolute;
                width: 60%;
                height: 100%;
                right: 0;
                text-align: left;

                h4 {
                    color: $gray-color;
                    overflow : hidden;
                    text-overflow : ellipsis;
                    white-space : nowrap;
                }

                .item-image-icon {
                    img {
                        margin-top: 3px;
                        width: 16px;
                    }
                }

                .row {
                    &.text-item {
                        .col {
                            padding: 0;
                            color: $gray-color;
                            text-align: center;

                            &.col-text-left {
                                text-align: left;
                            }
                        }
                    }
                    &.class-time {
                        margin-top: 2px;

                        div.class-time-range {
                            line-height: 12px;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }

    .search-slides {
        .slider {
            height: 420px;

            .cover {
                height: 100%;
                background-repeat: no-repeat;
                //background-attachment: fixed;
                background-position: center;
                background-size: cover;

                h4 {
                    color: $white-color;
                }

                p {
                    color: $white-color;
                    height: 30px;
                }

                .search-header-container {
                    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.56) 0%, rgba(0, 0, 0, 0) 81%, rgba(0, 0, 0, 0) 100%); /* FF3.6-15 */
                    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.56) 0%, rgba(0, 0, 0, 0) 81%, rgba(0, 0, 0, 0) 100%); /* Chrome10-25,Safari5.1-6 */
                    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.56) 0%, rgba(0, 0, 0, 0) 81%, rgba(0, 0, 0, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

                    .search-header {
                        margin-top: 10px;
                        padding: 6px;
                        width: 90%;
                        margin: 0 auto;
                        text-align: center;
                    }
                }

                .search-box {
                    padding: 6px;
                    padding-top: 0;
                    background-color: $white-color;
                    color: $gray-color;
                    width: 90%;
                    margin: 0 auto;
                    text-align: left;
                    font-size: $text-size-small;
                    //height: 240px;

                    .key {
                        font-size: $text-size-small;
                    }
                    .value {
                        font-size: $text-size-medium;
                    }
                    .small-img {
                        width: 16px;
                    }
                    .keyword {
                        position: absolute;
                        margin-top: -3px;
                        display: inline-table;
                        margin-left: 5px;
                    }
                    .row-search {
                        height: 48px;
                        margin-bottom: 20px;
                    }
                    .underline {
                        border-bottom: 1px solid $border-color;
                    }
                }

                .search-box2 {
                    .row {
                        padding: 2px;
                        line-height: 14px;
                    }
                    .button-blue {
                        background-color: $positive;
                        color: $white-color;
                    }
                }

                .extend-info {
                    height: 72px;
                    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.56) 81%, rgba(0,0,0,0.56) 100%); /* FF3.6-15 */
                    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.56) 81%,rgba(0,0,0,0.56) 100%); /* Chrome10-25,Safari5.1-6 */
                    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.56) 81%,rgba(0,0,0,0.56) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                    position: absolute;
                    width: 100%;
                    bottom: 0;

                    .row {
                        padding: 0;
                    }
                    > .row {
                        color: #fff;
                        width: 94%;
                        border-top: 1px solid #fff;
                        margin: 2px auto 0;
                    }
                    .badge {
                        position: absolute;
                        border-radius: 20px;
                        font-weight: normal;
                        left: 15px;
                    }
                    .keyword {
                        position: relative;
                        color: $light-gray-color;
                        top: 13px;
                        font-size: 8px;
                        line-height: 12px;
                    }
                }
            }
        }
        .guest-slider {
            height: 520px !important;
        }
        .slider-pager {
            .slider-pager-page {
                color: #fff;
            }
        }
    }

    .slides {
        .slider-slide {
            padding-top: 0;
            color: #000;
            background-color: $white-color;
            text-align: center;

            font-weight: 300;
        }
        .slider-pager {
            bottom: 2px;
        }
    }

    .icon-tabs-bar {
        position: static;
        padding-top: 10px;
        padding-bottom: 10px;
        height: 70px;

        .tab-item {
            img {
                display: block;
                width: 32px;
                margin: 0 auto;
                padding-bottom: 5px;
            }
        }
    }
}

.modal.modal-box {
    width: 90%;
    height: 90%;
    top: 5%;
    left: 5%;
    right: 5%;
    bottom: 5%;

    .bar-header {
        .col {
            text-align: center;
        }
    }

    .list {
        border-bottom: 1px solid $border-color;
    }

    .item {
        border: 0;
        font-size: $text-size-small + 3;

        .item-content {

            div {
                display: inline-table;

                &.text-item {
                    margin-left: 21px;
                    position: relative;
                }

                &.icon-text {
                    margin-left: 5px;
                    top: -5px;
                    position: relative;
                }

                &.icon-image {
                    img {
                        width: 16px;
                    }
                }
            }
        }
    }
}

.location-box {
    &.modal-box {
        height: 550px !important;
    }
}