.ebook-info-header {
    .bar-header.has-tabs-top {
        border-bottom: 1px solid $border-color;
    }
}
.ebook-info {
    div, p, .ebook-title {
        line-height: 1.7em;
    }
    .intro, .context {

        table, td {
            border: 1px solid $dark;
        }
    }
    .context {
        margin-bottom: 50px;
    }
    .cover-container {
        height: 150px;

        .cover {
            height: 100%;
            background-repeat: no-repeat;
            //background-attachment: fixed;
            background-position: center;
            background-size: cover;
        }
    }

    .ebook-title {
        color: $assertive;
        font-weight: bold;
    }
}