.ebook-info-header {
    .bar-header.has-tabs-top {
        border-bottom: 1px solid $border-color;
    }
}
.ebook-info {
    div, p, .ebook-title {
        line-height: 1.7em;
    }
    .ebook-info-content {
        font-size: 1.1em;

        .intro, .context {

            table, td {
                border: 1px solid $dark;
            }
        }
        .context {
            margin-bottom: 50px;
        }

        .add-favorite {
            position: fixed;
            right: 15px;
            bottom: 10px;
            z-index: 99;

            .button {
                color: $ebook-main-color;

                &:before {
                    font-size: 2.5em;
                }
            }
        }
    }
    .cover-container {
        height: 150px;

        .cover {
            height: 100%;
            background-repeat: no-repeat;
            //background-attachment: fixed;
            background-position: center;
            background-size: cover;
        }
    }

    .ebook-title {
        color: $ebook-main-color;
        font-weight: bold;
    }
}