.ebook-header {
    border-bottom-width: 0;
}
.ebook-list {
    .tabs-top {
        &.tabs-light {
            .tab-item {
                border-color: $ebook-main-color !important;
                color: $ebook-tab-color;

                &.tab-item-active, &.activated {
                    border-bottom-width: 4px !important;
                    border-bottom-style: solid !important;

                    .badge {
                        opacity: 1;
                    }
                }
            }
        }
        .tabs {
            top: 0;
        }
    }

    .tab-content {
        //padding: 60px 10px 0 10px;
        background-color: $light;
        //overflow-y: scroll;

        .has-tabs-top {
            top: 49px;
        }
        .intro {
            background-color: #F6F6F6;

            .image-block {
                img {
                    max-width: 100%;
                }
            }
            .text-block {
                padding: 5px 25px 10px 25px;

                .title {
                    color: $ebook-main-color;
                    margin-bottom: 10px;
                    font-size: 1.5em;
                    line-height: 1.2em;
                }
                .content {
                    font-size: 1.1em;
                    line-height: 1.5em;
                }
            }
        }
        & .group-list {
            padding-bottom: 20px;

            & > .item {
                border: 0 none;

                &:first-child {
                    padding-bottom: 8px;
                }

                &.item-list-content {
                    padding: 0;
                }

                .group-title {
                    background-color: $ebook-main-color;
                    color: $light;
                    padding: 5px 15px;
                }

                .list {
                    margin-top: 0;
                    margin-left: 10px;
                    margin-right: 10px;

                    .item {
                        padding: 0;
                        border-left: 0 none;
                        border-right: 0 none;

                        &:first-child {
                            border-top: 0 none;
                        }
                        &:last-child {
                            border-bottom: 0 none;
                        }
                        .item-content {
                            padding-top: 8px;
                            padding-bottom: 8px;
                            padding-left: 20px;
                            padding-right: 48px;
                            min-height: 36px;
                        }

                        i.ion-ios-arrow-right, i.ion-ios-arrow-forward {
                            position: absolute;
                            right: 1em;
                            color: $ebook-main-color;
                            font-size: 1.5em;
                        }
                    }
                }
            }
        }

        .tab-tab3 {
            .list {
                margin-left: 10px;
                margin-right: 10px;

                .item {
                    padding: 0;
                    border-left: 0 none;
                    border-right: 0 none;

                    &:first-child {
                        border-top: 0 none;
                    }
                    &:last-child {
                        border-bottom: 0 none;
                    }
                    .item-content {
                        padding-top: 13px;
                        padding-bottom: 13px;
                        padding-left: 20px;
                        padding-right: 48px;
                    }

                    i.ion-ios-arrow-right, i.ion-ios-arrow-forward {
                        position: absolute;
                        right: 1em;
                        color: $ebook-main-color;
                        font-size: 1.5em;
                    }

                    .item-options {
                        ion-option-button {
                            font-size: 2em;
                            background-color: $ebook-main-color;
                            color: $light;
                        }
                    }
                }
            }

            .empty-content-pane {
                top: 0;
                bottom: 0;
                padding-top: 160px;

                .logo {
                    img {
                        height: 32px;
                    }
                }
                .text {
                    color: #5B5B5B;
                    font-size: 16px;
                    margin-top: 10px;
                }
            }
        }
    }
}