.ebook-list {
    .tabs-top.tabs-striped.tabs-light {
        .tab-item {
            border-color: $assertive !important;

            &.tab-item-active, &.activated {
                border-bottom-width: 4px !important;

                .badge {
                    opacity: 1;
                }
            }
        }
    }

    .tab-content {
        //padding: 60px 10px 0 10px;
        background-color: $light;
        //overflow-y: scroll;

        .has-tabs-top {
            top: 51px;
        }
        & .group-list {
            padding-bottom: 20px;

            & > .item {
                border: 0 none;

                &:first-child {
                    padding-bottom: 8px;
                }

                &.item-list-content {
                    padding: 0;
                }

                .group-title {
                    background-color: $assertive;
                    color: $light;
                    padding: 5px 15px;
                }

                .list {
                    margin-top: 0;
                    margin-left: 10px;
                    margin-right: 10px;

                    .item {
                        padding: 0;
                        border-left: 0 none;
                        border-right: 0 none;

                        &:first-child {
                            border-top: 0 none;
                        }
                        &:last-child {
                            border-bottom: 0 none;
                        }
                        .item-content {
                            padding-top: 8px;
                            padding-bottom: 8px;
                            padding-left: 20px;
                            padding-right: 8px;
                        }

                        i.ion-ios-arrow-right, i.ion-ios-arrow-forward {
                            position: absolute;
                            right: 1em;
                            color: $assertive;
                            font-size: 1.5em;
                        }
                    }
                }
            }
        }
    }
}