.forgotpassword-pane {

    .pane-content {
        margin: 0 auto;
        width: 80%;

        img.pane-logo {
            display: block;
            margin-left: auto;
            margin-right: auto;
            height: auto;
            width: 50%;
        }

        .text-line-1 {
            color: $blue-color;
            font-size: 14px;
            text-align: center;
            margin-top: 30px;
            margin-bottom: 30px;
        }

        .text-line-2 {
            margin-bottom: 30px;
            p {
                color: $gray-color;
                font-size: $text-size-small;
                line-height: 80%;
                text-align: center;
            }
        }

        .form-data {
            .item {
                margin-bottom: 20px;
            }
        }
    }
}