.forgotpassword-pane {

    .pane-content {
        margin: 0 auto;
        width: 80%;

        img.pane-logo {
            display: block;
            margin-left: auto;
            margin-right: auto;
            height: auto;
            width: 50%;
        }

        .text-line-1 {
            color: $positive;
            font-size: 1.3em;
            text-align: center;
            margin-top: 30px;
            margin-bottom: 30px;
        }

        .text-line-2 {
            margin-bottom: 30px;
            p {
                color: $gray-color;
                font-size: 1em;
                line-height: 80%;
                text-align: center;
            }
        }

        .forgot-form {
            &.ng-submitted {
                .item.has-error {
                    margin-top: 1px;
                    border-bottom: 2px solid $error;
                }
            }
        }
    }
}

.forgot-sended-box {

    &.modal-box {
        height: 285px !important;
        top: 20% !important;
    }

    .icon-row {
        margin-top: 40px;
        margin-bottom: 20px;

        img {
            width: 50px;
        }
    }

    .text-row {
        padding-left: 30px;
        padding-right: 30px;
    }
}