.location-view {
    .location-card-container {
        height: 200px;

        .location-card {
            height: 100%;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            opacity: 0.8;
        }

        .front {
            position: relative;
            top: -160px;
            text-align: center;
            margin: 0 auto;
            width: 260px;

            color: #fff;
            font-size: 1.5em;

            .bg {
                background-color: #000;
                opacity: 0.7;
                width: 100%;
                height: 100px;
            }
            .title {
                position: absolute;
                top: 20px;
                width: 260px;
            }
            .map {
                position: absolute;
                top: 55px;
                width: 260px;

                .text {
                    font-size: 0.7em;
                    border: 2px solid #fff;
                    padding: 5px 10px;
                    display: inline-block;
                }
            }
        }
        .rear {
            position: relative;
            top: -160px;
            text-align: center;
            margin: 0 auto;
            width: 260px;
            height: 125px;

            color: #fff;
            font-size: 1em;

            .bg {
                background-color: #000;
                opacity: 0.7;
                width: 100%;
                height: 125px;
            }
            .text-line {
                position: relative;
                top: -125px;

                text-align: left;
                padding-left: 5px;
                padding-right: 5px;
            }
            .row {
                padding: 0;
            }
        }
    }
}