.location-view {
    background-color: $stable;

    .location-card-container {
        .header-map-img {
            .row, .col {
                padding: 0;
            }

            .building-name {
                color: #ffffff;
                text-align: center;
                font-size: 20px;
                padding-top: 33px;
                line-height: 24px;
            }
            .building-image {
                height: 120px;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }
        }
        .main-map-img {
            img {
                width: 100%;
            }
        }
        .location-card {
            color: #606060;

            > .row {
                padding-left: 20px;

                .col-33 {
                    flex: 0 0 25.3333%;
                    max-width: 25.3333%;
                }
            }
            .title {
                font-size: 1.3em;
                padding: 5px 20px;
            }

            .col-status {
                img {
                    width: 36px;
                }
                .open {
                    color: #2BAE68;
                }
                .close {
                    color: #D70A52;
                }
            }
            .col-info {
                padding-right: 0;

                .row {
                    padding: 0;

                    &.time-row {
                        padding-bottom: 5px;

                        img {
                            top: -3px;
                            position: relative;
                        }
                    }
                    .col-time {
                        padding: 0 5px;

                        .col-time-item {
                            width: 100%;

                            div {
                                display: inline-block;
                            }
                            .col-weekday {
                                width: 80px;
                            }
                        }
                    }
                    .col-address {
                        padding-right: 0;
                    }
                }
                img {
                    width: 16px;
                    //margin-right: 6px;
                }
            }
        }
    }
}