.location-view {
    .location-card-container {
        .main-map-img {
            img {
                width: 100%;
            }
        }
        .location-card {
            color: #606060;
            margin-bottom: 10px;
            padding-left: 20px;
            padding-right: 20px;

            .title {
                font-size: 1.3em;
            }

            .col-status {
                img {
                    width: 36px;
                }
                .open {
                    color: #2BAE68;
                }
                .close {
                    color: #D70A52;
                }
            }
            .col-info {
                img {
                    width: 16px;
                    margin-right: 6px;
                }
            }
        }
    }
}