.login-view {
    ion-content {
        background-color: #005C73;
    }

    .scroll, .login-pane {
        min-height: 600px;
    }

    .login-pane {
        background-image: url('../img/openning@2x.png');
        background-size: cover;
        height: 100%;

        .login-form {
            width: 80%;
            margin: 0 auto;
            position: relative;
            color: #ffffff;
            top: 255px;
            padding-bottom: 60px;

            .col {
                padding: 0;
            }

            .item-input {
                border-top: 0;
                border-left: 0;
                border-right: 0;
                margin-bottom: 1px;
                padding-left: 3px;
                background-color: rgba(255, 255, 255, 0);

                input {
                    text-align: center;
                    padding: 0;
                    color: #ffffff;
                }

                ::-webkit-input-placeholder {
                    color:#ffffff;
                }

                ::-moz-placeholder {
                    color:#ffffff;
                }

                ::-ms-placeholder {
                    color:#ffffff;
                }

                ::placeholder {
                    color:#ffffff;
                }
            }

            .login-input {
                .button-light {
                    color: #1973B7;
                }
            }

            .light-gray-text-panel {
                width: 100%;
                text-align: center;
                //color: $light-gray-color;
            }

            .social-panel {

                .facebook, #facebook-button {
                    background-color: #4862A3;
                }

                .google, #google-button {
                    background-color: #DF4938;
                }

                #pass-button {
                    background: #878787;
                    margin-top: 4px;
                    padding: 5px;
                }

                button {
                    color: $white-color;
                    padding: 8px 5px;
                    border: 0;
                    width: 100%;
                    height: 100%;
                }
            }

            .tip-text {
                font-size: 12px;
            }

            .app-version {
                margin-top: 30px;
            }
        }
    }

    #login-footer {

        &.bar-footer {
            height: 70px;
            background: none;

            .footer-container {
                width: 100%;

                .agree-text {
                    font-size: 14px;
                    text-align: center;
                    color: #ffffff;
                    background-color: #005C73;
                    padding-bottom: 3px;
                    padding-top: 2px;

                    a.link {
                        color: #ffffff;
                        border-bottom: 1px solid #ffffff;
                    }
                }
            }
        }

        &.bar {
            padding: 0;

            .row {
                padding: 0;

                .col {
                    padding: 0;
                    border-top: 1px solid $light-gray-color;

                    &:first-child {
                        border-right: 1px solid $light-gray-color;
                    }

                    button {
                        color: $gray-color;
                        background: $white-color;
                        width: 100%;
                        padding-top: 6px;
                        padding-bottom: 6px;
                        border: 0;
                    }

                }
            }
        }
    }
}
