#login-pane {
    .logo-container {
        width: 100%;
        display: inline-block;
        top: -33px;
        position: relative;
        z-index: 99;

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    .login-form {
        width: 80%;
        margin: 0 auto;
        position: relative;
        top: -53px;

        .col {
            padding: 0;
        }

        .item-input {
            border-top: 0;
            border-left: 0;
            border-right: 0;
            margin-bottom: 1px;
            padding-left: 3px;

            input {
                text-align: center;
                padding: 0;
                color: $blue-color;
            }
        }

        .light-gray-text-panel {
            width: 100%;
            text-align: center;
            color: $light-gray-color;
        }

        .social-panel {

            .facebook, #facebook-button {
                background-color: #4862A3;
            }

            .google, #google-button {
                background-color: #DF4938;
            }

            #pass-button {
                background: $gray-color;
                margin-top: 4px;
                padding: 5px;
            }

            button {
                color: $white-color;
                padding: 8px 5px;
                border: 0;
                width: 100%;
                height: 100%;
            }
        }

        .tip-text {
            font-size: 12px;
        }
    }
}

#login-footer {

    &.bar {
        padding: 0;

        .row {
            padding: 0;

            .col {
                padding: 0;
                border-top: 1px solid $light-gray-color;

                &:first-child {
                    border-right: 1px solid $light-gray-color;
                }

                button {
                    color: $gray-color;
                    background: $white-color;
                    width: 100%;
                    padding-top: 6px;
                    padding-bottom: 6px;
                    border: 0;
                }

            }
        }
    }
}
