@import "login";
@import "forgotpassword";
@import "register";
@import "phoneconfirm";
@import "dashboard";
@import "member-dashboard";
@import "member-wish";
@import "member-order-list";
@import "member-cart-list";
@import "course-search";
@import "course-info";
@import "course-catalogs";
@import "ebook-list";