.member-wish-list {
    .scroll-content {
        background-color: $stable;

        .card {
            &:first-child {
                margin-top: 8px;
            }

            .item {
                padding: 2px;

                .row {
                    .course-no {
                        font-size: $text-size-small;
                    }
                    .course-title {
                        top: -7px;
                        position: relative;
                    }
                    .course-date {
                        background-color: $light;
                        text-align: center;
                        font-size: $text-size-small;
                        border-radius: 30px;
                        line-height: 14px;
                        border: 2px solid $light-gray-color;
                        height: 55px;
                        padding-top: 2px;

                        div {
                            margin-top: 2px;

                            &.year {
                                font-size: $text-size-small;
                            }
                            &.date {
                                font-size: $text-size-medium;
                            }
                            &.weekday {
                                font-size: $text-size-small;
                            }
                        }
                    }
                    .special-price-mark {
                        font-size: $text-size-small + 1;
                        background: $assertive;
                        color: $light;
                        padding: 3px;
                        margin-top: 3px;
                        margin-left: 12px;
                        display: inline-block;
                    }
                    .course-price {
                        font-size: $text-size-medium + 6;
                        font-style: italic;
                        color: $gray-color;
                    }
                    .course-keep-img {
                        width: 32px;
                    }
                }
            }
        }
    }
}