.member-cart-list {
    .cart-step-bar {
        background-color: $calm;
        height: 75px;

        .line {
            background-color: $light;
            width: 80%;
            height: 2px;
            left: 10%;
            top: 36px;
            position: absolute;
        }
        .step {
            color: $calm;
            font-weight: bold;
            background-color: $light;
            width: 35px;
            height: 35px;
            border-radius: 35px;
            position: absolute;
            top: 19px;
            font-size: $text-size-medium + 2;
            padding-top: 9px;
            padding-left: 13px;
            //opacity: 0.5;

            &.step-1 {
                padding-left: 12px;
                left: 10%;

                &.current {
                    padding-top: 9px;
                    padding-left: 12px;
                }
                &.finish {
                    padding-left: 10px;
                }
            }
            &.step-2 {
                left: 45.5%;

                &.current {
                    left: 45%;
                    padding-top: 9px;
                    padding-left: 12px;
                }
                &.finish {
                    padding-left: 10px;
                }
            }
            &.step-3 {
                left: 80.5%;

                &.current {
                    padding-top: 9px;
                    padding-left: 13px;
                }
            }

            &.current {
                top: 16px;
                width: 41px;
                height: 41px;
                background-color: $energized;
                border: 3px solid #CCCC99;
            }
        }
    }

    .step-1-content {
        ion-content {
            top: 74px;
            bottom: 164px;
        }
        .header {
            height: 47px;
            padding: 0 25px;
            background-color: $stable;

            .text {
                position: absolute;
                top: 15px;
            }
            .text-right {
                right: 0;
            }
            .button {
                top: 0;
                font-size: 14px;
            }
        }

        .list {
            margin-top: 0;

            .item-content {
                .price-container {
                    position: absolute;
                    right: 10px;
                    top: 0.9em;
                    width: 5em;

                    .price {
                        position: absolute;
                        top: 2px;
                    }
                    i {
                        margin-left: 60px;
                        font-size: 1.5em;
                    }
                }
            }

            .item-options {
                ion-option-button {
                    font-size: 2em;
                }
            }
        }
        .list-price {
            padding: 10px 25px;

            .price {
                font-style: italic;
                color: $assertive;
                font-size: $text-size-medium + 16;
            }
        }
    }

    .step-2-content {
        ion-content {
            top: 74px;
            bottom: 84px;
        }

        .has-error {
            input {
                border-bottom: 2px solid $error;
            }
        }

        .title-row {
            font-size: $text-size-medium;
            padding-left: 15px;
            padding-bottom: 13px;
            margin-bottom: 8px;
            border-bottom: 1px solid $stable;
        }

        .credit-form {
            background-color: $stable;
            padding-bottom: 20px;
            margin-top: 0;

            input {
                float: left;
                padding: 5px;

                &.number-2 {
                    width: 30px;
                }
                &.number-3 {
                    width: 35px;
                }
                &.number-4 {
                    width: 45px;
                }
            }

            .card-logo {
                width: 50px;
            }

            .label {
                margin-top: 8px;
            }
            .cvc-label {
                margin-top: 20px;
                margin-left: 5px;
            }

            .card-number {
                margin-left: 5px;

                &:first-child {
                    margin-left: 12px;
                }
            }
            .expire-date {

                input {
                    margin-left: 5px;
                    margin-top: 12px;

                    &.expire-month {
                        margin-left: 12px;
                    }
                }
            }
            .card-cvc {
                margin-top: 12px;
            }
            .holder-label {
                margin-top: 16px;
            }
            .card-holder {
                margin-left: 12px;
                margin-top: 10px;
                width: 90%;
            }
        }

        .list {
            margin-top: 0;

            .item {
                padding-left: 30px;
                border-left: 0;
                border-right: 0;

                &:first-child {
                    border-top: 0;
                }
                &:last-child {
                    border-bottom: 0;
                }

                &.indent-item {
                    padding-left: 15px;
                }
                &.tip-text {
                    overflow: visible;
                    white-space: normal;
                }
                .gender-row {
                    .item {
                        padding-left: 0;

                        &.ng-invalid {
                            border-bottom: 2px solid $error;
                        }

                        .item-content {
                            padding-left: 0;
                            padding-top: 5px;
                            padding-bottom: 5px;
                            overflow: visible;

                            .item-radio .radio-icon {
                                padding: 0;
                            }
                        }

                        i.radio-icon {
                            padding: 0;
                            right: 15px;
                        }
                    }
                }

                input {
                    background-color: $stable;
                    padding-left: 10px;
                }

                .required {
                    &:before {
                        content: '* ';
                        color: $assertive;
                    }
                }
            }
        }
        .footer {
            height: 80px;
        }
    }

    .step-3-content {
        top: 74px;

        .card {
            background-color: $stable;
            padding: 10px 5px;

            .cart-logo {
                &.shift-cart-logo {
                    margin-top: 20px;
                }
                img {
                    width: 32px;
                }
            }

            .title {
                color: $tab-color-1;
            }
            .sub-title {
                color: $tab-color-1;
            }

            .text-tips {
                padding: 25px 10px;
                color: $dark;
            }
            .text-block-tips {
                background-color: $light;
                margin-top: 10px;
                margin-bottom: 10px;
                border-radius: 5px;
            }
            .price-mark {
                color: $dark;

                .price {
                    color: $assertive;
                    font-style: italic;
                    font-size: 3em;
                }
            }
        }
    }

    .footer {
        position: absolute;
        width: 100%;
        height: 160px;
        padding: 5px;
        background-color: $stable;
        bottom: 0px;

        .footer-container {
            width: 100%;

            .button {
                height: 49px;
                font-size: 16px;
            }
        }

        .item-radio {
            border: 0 solid;
            border-radius: 30px;

            input:checked {
                + .radio-content {
                    .item-content {
                        background-color: $light;
                    }
                }
            }

            .item-content {
                padding-top: 10px;
                height: 40px;
                padding-right: 50px;
                background-color: $light;
                border-radius: 30px;
            }
            .radio-icon {
                padding-top: 3px;
            }
        }
    }
}