.member-payment-list {
    .content {
        padding-top: 20px;
        padding-left: 20px;
        font-size: 1.2em;

        > .row {
            padding-right: 0;
            > .col {
                padding-right: 0;
            }
        }

        &.no-card-content {
            padding: 50px 20px 0 20px;

            .logo-row {
                img {
                    width: 160px;
                }
            }
            .text-row {
                color: #a3a3a3;
                font-size: 1.2em;
                padding-top: 20px;
                padding-bottom: 20px;
            }
            .button-row {
                margin-top: 40px;
            }
        }

        .col-show-text {
            .show-default-text {
                color: $positive;
                width: 26%;
                font-size: 14px;
                float: right;
            }
        }

        .list {
            margin-top: 0;

            .item {
                border-width: 0;
                border-style: none;

                .item-content {
                    padding: 15px 0 15px 0;
                    background-color: $light;
                }
                .item-options {
                    ion-option-button {
                        font-size: 2em;
                        background-color: $ebook-main-color;
                        color: $light;
                    }
                }
            }
        }

        .card-row {
            .col-card {
                display: inline-block;
                margin-left: 10px;

                &:first-child {
                    margin-left: 0;
                }

                &.col-card-number {
                    width: 100%;

                    i {
                        font-size: 12px;
                        margin-right: 5px;
                    }

                    .card-number {
                        margin-left: 50px;

                        .type {
                            margin-right: 10px;
                        }
                    }
                }
                &.col-card-option {
                    width: 26%;
                    position: absolute;
                    top: -4px;
                    right: 0;

                    .item {
                        font-size: 23px;

                        &.selected {
                            i {
                                color: $radio-button-selected-color;
                            }
                        }
                    }
                    .radio-content {
                        .ion-checkmark {
                            display: none;
                        }

                        i {
                            color: $radio-button-color;
                        }
                    }
                }

                .card-logo {
                    position: absolute;
                    top: 6px;

                    &.visa-card {
                        top: 12px;
                    }

                    img {
                        width: 40px;
                    }
                }
            }
        }

        .new-card-item {
            float: left;
            padding: 5px 10px;

            i {
                font-size: 12px;
            }
            span {
                margin-left: 6px;
            }
        }
    }
}

.modal-box {
    &.new-card-box {
        height: 310px !important;
        top: 21%;
        background-color: transparent;

        .card {
            padding:15px 10px;
            background-color: #ededed;

            .row {
                $border-color: #dbdbdb;
                //$border-color: #ff0000;
                border-top: 1px solid $border-color;
                margin-bottom: 6px;
                padding-top: 5px;

                &.border-bottom {
                    border-bottom: 1px solid $border-color;
                }
                .col-value {
                    padding-left: 0;
                    padding-right: 0;
                }
                .col-padding-top-10 {
                    padding-top: 10px;
                }
            }

            .card-logo {
                height: 50px;

                img {
                    max-width: 50px;
                    max-height: 30px;
                }

                .visa-card {
                    margin-top: 8px;
                }
            }

            input[type="text"], input[type="number"] {
                float: left;
                padding: 0 5px;
                margin-right: 5px;
                height: 26px;
                margin-top: 3px;
                padding-top: 2px;

                &.number-2 {
                    width: 30px;
                }
                &.number-3 {
                    width: 35px;
                }
                &.number-4 {
                    width: 42px;
                }
            }

            .card-check {
                i {
                    font-size: 22px;
                    top: 5px;
                    position: relative;
                    margin-right: 5px;

                    &.ion-android-done {
                        position: absolute;
                        z-index: 1;
                        left: 1px;
                        top: 1px;
                        color: #C01623;
                    }
                }
            }
        }
        .ng-submitted {
            .has-error {
                input {
                    background-color: $light-error-color;
                }
            }
        }
    }
}