.finished-course-list {
    &.pane {
        background-color: $stable;
    }

    .course-container {
        .card {
            margin: 15px;
        }
        .item {
            padding: 20px 10px 15px 20px;

            .no-padding {
                padding: 0;
            }
            .title-row {
                font-size: 18px;
            }

            .value-row {
                margin-top: 5px;
                margin-bottom: 5px;

                .col-border-right {
                    border-right: 1px solid $stable;
                }
                .col-type-img {
                    padding-left: 5px;

                    .type-img {
                        width: 100%;
                        max-width: 32px;
                    }
                }

                .ticket-count-row {
                    margin-top: 30px;
                    margin-bottom: 30px;

                    .ticket-label {
                        margin-top: 4px;
                    }
                    .ticket-count {
                        font-size: 80px;
                    }
                }

                .col-indent {
                    padding-left: 3px;
                }
                .type-label {
                    font-size: 12px;
                    color: #575756;
                    border: 1px solid $stable;
                    padding: 1px 3px;
                }
            }
            .bottom-row {

                & > .col {
                    border-right: 1px solid $stable;

                    &:last-child {
                        border-right-width: 0;
                        border-right-style: none;
                    }
                }
                .row {
                    .col {
                        text-align: center;
                    }
                }
                .value-row {
                    color: $positive;
                }
                .col-th {
                    color: $gray-color;
                    font-size: 0.8em;
                }
                .col-td {
                    font-size: 24px;
                    line-height: 24px;

                    .teacher-name {
                        font-size: 20px;
                    }
                }
                .col-link {
                    -ms-transform: rotate(315deg); /* IE 9 */
                    -webkit-transform: rotate(315deg); /* Safari */
                    transform: rotate(315deg);
                }
                .small {
                    font-size: 0.5em;
                }
            }
        }
        .empty-content-pane {
            top: 0;
            bottom: 0;
            padding-top: 160px;

            .logo {
                img {
                    height: 32px;
                }
            }
            .text {
                color: #5B5B5B;
                font-size: 16px;
                margin-top: 10px;
            }
        }
    }
}