.finished-course-list {
    &.pane {
        background-color: $stable;
    }

    .course-container {
        .card {
            margin: 15px;
        }
        .item {
            padding: 20px 10px 15px 20px;

            .no-padding {
                padding: 0;
            }
            .title-row {
                font-size: 18px;
            }
            .value-row {
                padding: 3px 0 8px 0;
            }
            .line-star-row {
                margin-top: 30px;
            }
            .col-40 {
                -webkit-box-flex: 0;
                -webkit-flex: 0 0 40%;
                -moz-box-flex: 0;
                -moz-flex: 0 0 40%;
                -ms-flex: 0 0 40%;
                flex: 0 0 40%;
                max-width: 40%;
            }
            .color-1 {
                color: #2B61AC;
                .star-rating {
                    .star.filled {
                        color: #2B61AC;
                    }
                }
            }
            .color-2 {
                color: #B63882;
                .star-rating {
                    .star.filled {
                        color: #B63882;
                    }
                }
            }
            .color-3 {
                color: #F2D000;
                .star-rating {
                    .star.filled {
                        color: #F2D000;
                    }
                }
            }
            .color-4 {
                color: #00a09a;
                .star-rating {
                    .star.filled {
                        color: #00a09a;
                    }
                }
            }

            .progress-wrapper {
                top: 10px;
                left: -10px;
                position: relative;

                .progress-icon-label-wrapper {
                    position: absolute;
                    text-align: center;
                    left: 35px;
                    top: 35px;

                    .progress-icon-label {
                        font-size: 12px;
                        color: $light-gray-color;

                        .icon img {
                            width: 16px;
                        }
                    }
                }
            }
            .star-text-row {
                padding-bottom: 5px;

                .col:first-child {
                    font-size: 0.8em;
                }
            }
            .bottom-table {

                & > .col {
                    border-right: 1px solid $stable;

                    &:last-child {
                        border-right-width: 0;
                        border-right-style: none;
                    }
                }
                .row {
                    .col {
                        text-align: center;
                    }
                }
                .col-th {
                    color: $gray-color;
                    font-size: 0.8em;
                }
                .col-td {
                    font-size: 1.5em;
                    line-height: 1.1em;
                }
                .col-link {
                    -ms-transform: rotate(315deg); /* IE 9 */
                    -webkit-transform: rotate(315deg); /* Safari */
                    transform: rotate(315deg);
                }
                .small {
                    font-size: 0.5em;
                }
            }

            .star-rating {
                .star {
                    font-size: 1em;
                    margin-right: 2px;
                }
            }
        }
    }
}