.member-wish-list {
    .scroll-content {
        background-color: $stable;

        .card {
            padding: 0 !important;

            .list {
                margin-top: 0;

                .item-complex {
                    background-color: #000;

                    .item-content {
                        padding: 0;
                    }
                }

                ion-option-button {
                    height: 50%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-around; /* optional */

                    &.button {
                        background: #000;
                    }

                    &.activated {
                        background-color: #000;
                    }
                    .button {
                        &.button-icon {
                            color: $light;
                            font-size: 26px;
                        }
                    }
                }

                .offline-mask {
                    background-color: rgba(0, 0, 0, 0.7);
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    padding-top: 20%;

                    div {
                        text-align: center;
                        height: 50px;
                    }
                    .mask-icon {

                        .icon-container {
                            position: absolute; left: 50%;

                            .icon {
                                position: relative;
                                left: -50%;
                                background-color: #000;
                                width: 50px;
                                height: 50px;
                                border-radius: 50px;
                                padding-top: 14px;

                                img {
                                    width: 32px;
                                }
                            }
                        }
                    }
                    .mask-text {
                        color: $light;
                    }
                }
            }

            .item {
                padding: 0;

                .row {
                    .course-no {
                        font-size: $text-size-small;

                        .course-no-span {
                            background-color: $stable;
                            padding: 2px 5px;
                        }
                    }
                    .course-info {
                        padding-left: 25px;

                        .course-title {
                            top: -7px;
                            position: relative;
                            color: $course-title;
                            border-bottom: 1px solid #ddd;
                            padding-bottom: 6px;
                        }
                        .course-detail {
                            color: #999999;

                            p {
                                color: #999999;
                            }
                            .small-icon {
                                width: 16px;
                                margin-right: 5px;
                            }
                        }
                    }
                    .course-date {
                        background-color: $light;
                        text-align: center;
                        font-size: $text-size-small;
                        line-height: 14px;
                        border: 1px solid $light-gray-color;
                        padding-top: 5px;
                        position: absolute;
                        width: 72px;
                        height: 72px;
                        border-radius: 72px;

                        div {
                            margin-top: 5px;

                            &.year {
                                font-size: $text-size-small;
                            }
                            &.date {
                                font-size: 23px;
                            }
                            &.weekday {
                                font-size: $text-size-small;
                            }
                        }
                    }
                    .special-price-mark {
                        font-size: $text-size-small + 1;
                        background: $assertive;
                        color: $light;
                        padding: 3px;
                        margin-top: 3px;
                        margin-left: 12px;
                        display: inline-block;
                    }
                    .col-price {
                        position: relative;
                        left: -8px;

                        .course-price {
                            font-size: 30px;
                            color: $gray-color;
                        }
                    }

                    .course-keep-img {
                        width: 32px;
                    }
                }
            }
        }
    }

    .empty-content-pane {
        top: 0;
        bottom: 0;
        padding-top: 160px;

        .logo {
            img {
                width: 32px;
            }
        }
        .text {
            color: #5B5B5B;
            font-size: 16px;
            margin-top: 10px;
        }
    }
}