.member-cart-list {
    .cart-step-bar {
        background-color: $calm;
        height: 75px;

        .line {
            background-color: $light;
            width: 80%;
            height: 2px;
            left: 10%;
            top: 36px;
            position: absolute;
        }
        .step {
            color: $calm;
            font-weight: bold;
            background-color: $light;
            width: 35px;
            height: 35px;
            border-radius: 35px;
            position: absolute;
            top: 19px;
            font-size: $text-size-medium + 2;
            padding-top: 9px;
            padding-left: 13px;
            //opacity: 0.5;

            &.step-1 {
                padding-left: 12px;
                left: 10%;

                &.current {
                    padding-top: 9px;
                    padding-left: 12px;
                }
                &.finish {
                    padding-left: 10px;
                }
            }
            &.step-2 {
                left: 45.5%;

                &.current {
                    left: 45%;
                    padding-top: 9px;
                    padding-left: 12px;
                }
                &.finish {
                    padding-left: 10px;
                }
            }
            &.step-3 {
                left: 80.5%;

                &.current {
                    padding-top: 9px;
                    padding-left: 13px;
                }
            }

            &.current {
                top: 16px;
                width: 41px;
                height: 41px;
                background-color: $energized;
                border: 3px solid #CCCC99;
            }
        }
    }

    .step-1-content {
        .header {
            height: 47px;
            padding: 0 25px;
            background-color: $stable;

            .text {
                position: absolute;
                top: 15px;
            }
            .text-right {
                right: 0;
            }
            .button {
                top: 0;
                font-size: 14px;
            }
        }

        .content-container {
            //padding: 10px 25px;
            overflow-x: hidden;
            overflow-y: scroll;
            min-height: 280px;
            height: 49%;

            .list {
                margin-top: 0;

                .item-content {
                    .price-container {
                        position: absolute;
                        right: 10px;
                        top: 0.9em;
                        width: 5em;

                        .price {
                            position: absolute;
                            top: 2px;
                        }
                        i {
                            margin-left: 60px;
                            font-size: 1.5em;
                        }
                    }
                }
            }
            .list-price {
                padding: 10px 25px;

                .price {
                    font-style: italic;
                    color: $assertive;
                    font-size: $text-size-medium + 16;
                }
            }
        }

        .footer {
            position: absolute;
            width: 100%;
            height: 170px;
            padding: 10px 25px;
            background-color: $stable;
            bottom: 78px;

            .item-radio {
                border: 0 solid;
                border-radius: 30px;

                input:checked {
                    + .radio-content {
                        .item-content {
                            background-color: $light;
                        }
                    }
                }

                .item-content {
                    padding-top: 10px;
                    height: 40px;
                    padding-right: 50px;
                    background-color: $light;
                    border-radius: 30px;
                }
                .radio-icon {
                    padding-top: 3px;
                }
            }
        }
    }
}