//.member-header.nav-bar-tabs-top {
//    .bar-header {
//        border-bottom: 1px solid $border-color;
//    }
//}
.member-dashboard {
    .pane-content {
        .bg {
            height: 160px;
            background-image: url('../img/membersbg@2x.jpg');
            background-repeat: no-repeat;
            //background-attachment: fixed;
            background-position: center;
            background-size: cover;

            .item-avatar {
                position: absolute;
                top: 133px;
                width: 90%;

                .img-avatar {
                    max-width: 90px;
                    max-height: 90px;
                    border: 1px solid $white-color;
                    margin-left: -10px;
                }

                h2, h3 {
                    margin-left: 28px;
                    margin-top: 40px;
                    img {
                        width: 16px;
                    }
                }
                p {
                    margin-left: 28px;
                    margin-top: -6px;
                    color: $light-gray-color;
                }
            }
        }
        .content {
            top: 66px;

            .col {
                text-align: center;

                &.col-1 {
                    padding-top: 20px;
                    padding-left: 20px;
                }
                &.col-2 {
                    padding-top: 20px;
                    padding-right: 20px;
                }
                &.col-3 {
                    padding-top: 20px;
                    padding-left: 20px;
                    padding-bottom: 20px;
                }
                &.col-4 {
                    padding-top: 20px;
                    padding-right: 20px;
                    padding-bottom: 20px;
                }
                .item-img {
                    width: 50px;
                }
                p {
                    color: $gray-color;
                }
            }
        }
    }

    .pane-content {
        background-color: $pane-color;
        padding-top: 5px;

        .member-info {
            background-color: $light;
            margin-top: 10px;

            .edit-button {
                position: absolute;
                padding: 5px 10px;
                right: 6px;
                top: 6px;

                color: $gray-color;
                background-color: $pane-color;
            }
            .avatars {
                text-align: center;

                img {
                    width: 100px;
                }

                .change-pic {
                    position: absolute;
                    display: inline-block;
                    padding: 10px 10px 6px 10px;
                    margin-top: 60px;
                    margin-left: -44px;

                    img {
                        width: 32px;
                    }
                }
            }

            .detail-col {
                padding-top: 20px;

                .name-line {
                    font-size: 0.8em;
                    margin-bottom: 5px;

                    .gender-title {
                        position: absolute;
                        margin-top: 9px;
                        margin-left: 5px;
                    }
                    .name {
                        font-size: 2.5em;
                    }
                }
                .line {
                    color: $gray-color;
                    font-size: 1.1em;
                }
            }

            .item-row {
                border-top: 1px solid $border-color;
                margin-top: 5px;

                .list {
                    margin-top: 0;

                    .item {
                        border-width: 0;
                        border-style: none;
                    }
                }
            }

        }
    }
}

.function-box {
    &.modal-box {
        top: 30%;
        height: 190px !important;

        .col {
            text-align: center;
            padding: 10px;
        }
        .list {
            border: 0;

            .item {
                text-align: center;
                border-bottom: 1px solid $border-color;
                margin-bottom: 1px;
                padding: 15px;
            }
            .item:last-child {
                border-bottom: 0;
            }
        }
    }
}