.member-edit-view {
    .list {
        margin-top: 0;

        > .item {
            padding-left: 30px;
            padding-right: 30px;

            overflow: visible;
            text-overflow: initial;
            white-space: normal;

            &:first-child {
                border-top-width: 0;
                border-top-style: none;
            }
            &:last-child {
                border-bottom-width: 0;
                border-bottom-style: none;
            }
        }
    }
    .edit-content {
        font-size: 18px;

        .ng-submitted {
            .item {
                &.has-error {
                    input {
                        background-color: $light-error-color;
                    }
                }
            }
        }

        input[type="text"] {
            padding: 5px;
        }

        .row {
            margin-bottom: 16px;
        }

        .col-name {
            padding-top: 16px;

            .name-item {
                margin-right: 10px;
            }
        }
        .col-gender {
            flex: 0 0 40%;
            max-width: 40%;

            .gender-item {
                float: left;

                &:first-child {
                    padding-right: 10px;
                }
                .item {
                    i {
                        color: $radio-button-color;
                    }
                    &.selected {
                        i {
                            color: $radio-button-selected-color;
                        }
                    }
                }
                .radio-content {
                    .ion-checkmark {
                        display: none;
                    }
                    .item-content {
                        padding: 5px;
                        background-color: $light;

                        i {
                            font-size: 24px;
                        }
                        .radio-title {
                            position: relative;
                            top: -4px;
                        }
                    }
                }
            }
        }
        .col-birth {
            select {
                border: 0 none;
                padding: 8px;
                background-color: $radio-button-color;
            }
            .birth-item {
                margin-right: 10px;
            }
        }
        .col-email {
            .email-item-value {
                margin-top: 10px;
            }
        }
        .col-address {
            .address-item-value {
                margin-top: 10px;

                input[type="text"] {
                    border: 1px solid #A4A4A4;
                    width: 100%;
                }
            }
            .address-item-tips {
                color: #9C9C9C;
                font-size: 12px;
            }
        }

        .item {
            border: 0;

            &.item-input {
                input[type="text"] {
                    padding-right: 20px;
                    padding-left: 10px;
                }
            }
            &.item-input-thin {
                padding-left: 0;

                .input-label {
                    width: 22%;
                }
            }
            &.item-input-wide {
                .input-label {
                    width: 20%;
                }
            }
            &.border-top {
                border-top: 1px solid $border-color;
                margin-top: 1px;
            }
            &.border-bottom {
                border-bottom: 1px solid $border-color;
                margin-bottom: 1px;
            }

            input {
                background-color: $stable;
            }
        }
        .creditcard-list {

            .creditcard-item {

                .item-content {
                    padding-top: 1px;
                    padding-bottom: 1px;

                    .card-logo {
                        margin-top: auto;

                        img {
                            width: 30px;
                        }
                    }

                    .card-number {
                        span {
                            display: inline-table;
                        }
                        .mask-card-number {
                            font-size: 2em;
                            position: relative;
                            top: 4px;
                            margin-left: 6px;
                            margin-right: 6px;
                        }
                    }
                }

                .item-options {
                    ion-option-button {
                        font-size: 2em;
                        background-color: $assertive;
                        color: $light;
                    }
                }
            }

            .new-item {
                color: #1664C0;
            }
        }
    }
    .row {
        padding-left: 0;
        padding-right: 0;

        .col {
            padding-left: 0;
            padding-right: 0;

            &.col-right {
                * {
                    float: right;
                }
            }
            &.col-ident {
                .ident-item {
                    margin-right: 10px;
                }
            }
        }
    }
    .row {
        .tip {
            font-size: 12px;
            color: #9C9C9C;
        }
        .tip-assertive {
            color: $assertive;
        }
    }
}
/*
.new-card-box {
    &.modal-box {
        top: 30%;
        height: 262px !important;

        .item {
            padding-left: 30px;

            input {
                background-color: $stable;
            }
        }

        input {
            float: left;
            padding: 5px;

            &.number-2 {
                width: 30px;
            }
            &.number-3 {
                width: 35px;
            }
            &.number-4 {
                width: 45px;
            }
        }
    }
}
*/