.member-message {

    &.pane {
        background-color: $stable;
    }
    .card {
        .item {
            .column {
                height: 50px;
                position: absolute;

                line-height: 50px;
            }
            .small-column {
                position: absolute;
            }
            .header {

                .col-image {
                    img {
                        width: 50px;
                    }
                }
                .col-title {
                    left: 80px;
                }
                .col-expand {
                    font-size: 0.8em;
                    right: 18px;
                    color: $light-gray-color;
                }
            }
            .content {
                margin-top: 50px;
                padding-left: 23px;

                .message-wrapper {
                    padding-left: 30px;
                    border-left-width: 2px;

                    &.color-1 {
                        border-left: 2px solid $message-color-1;

                        .color-font {
                            color: $message-color-1;
                        }
                        .color-bg {
                            background-color: $message-color-1;
                            color: $light;
                        }
                    }
                    &.color-2 {
                        border-left: 2px solid $message-color-2;

                        .color-font {
                            color: $message-color-2;
                        }
                        .color-bg {
                            background-color: $message-color-2;
                            color: $light;
                        }
                    }
                    &.color-3 {
                        border-left: 2px solid $message-color-3;

                        .color-font {
                            color: $message-color-3;
                        }
                        .color-bg {
                            background-color: $message-color-3;
                            color: $light;
                        }
                    }

                    .message {
                        margin-bottom: 20px;

                        &:last-child {
                            margin-bottom: 0;
                        }
                        &.image {
                            .message-div {
                                border: 0;
                                height: 100px;
                            }
                        }
                        .message-dot {
                            position: absolute;
                            height: 60px;
                            line-height: 65px;
                            left: 18px;

                            .message-dot-mask {
                                position: relative;
                                background-color: #ffffff;
                                width: 8px;
                                height: 21px;
                                top: -26px;
                                left: 2px;
                                display: none;

                                &.show {
                                    display: block;
                                }
                            }
                            .message-dot-text {
                                position: relative;
                                font-size: 0.8em;
                                color: $light-gray-color;
                                background-color: transparent;
                                top: -70px;
                                left: -20px;
                                display: none;

                                &.show {
                                    display: inline-block;
                                }
                            }
                        }
                        .message-div {
                            height: 60px;
                            line-height: 60px;
                            border: 1px solid $stable;
                            background-color: #eeeeee;

                            .item {
                                background-color: #eeeeee;
                                color: #999999;
                                font-weight: 300;
                                border-bottom-style: none;
                                border-bottom-width: 0;
                            }
                            &.unread {
                                background-color: #ffffff;

                                .item {
                                    background-color: #ffffff;
                                    color: #000000;
                                    font-weight: 900;
                                }
                            }

                            .row {
                                padding: 0;

                                .col {
                                    height: 58px;
                                    line-height: 0.9em;
                                    padding: 0;
                                    font-size: 1.2em;

                                    &.col-left {

                                        .date-text {
                                            position: relative;
                                            z-index: 1;
                                            padding: 3px 5px;

                                            .year {
                                                font-size: 0.7em;
                                            }
                                            .weekday {
                                                font-size: 0.5em;
                                                text-transform: uppercase;
                                            }
                                        }
                                    }
                                    &.col-right {
                                        line-height: 2.8em;
                                        display: inline-block;
                                        vertical-align: middle;
                                        padding-left: 5px;
                                        padding-right: 5px;

                                        .text {
                                            //line-height: 1.2em;
                                            //display: inline-block;
                                            vertical-align: middle;

                                            text-overflow: ellipsis;
                                            white-space: nowrap;
                                            overflow-x: hidden;
                                        }
                                        .image {
                                            background-repeat: no-repeat;
                                            background-position: center;
                                            //background-size: contain;
                                            background-size: cover;

                                            position: relative;
                                            left: -35px;
                                            top: 0;
                                            z-index: 0;
                                            //width: 120%;
                                            min-height: 100px;
                                        }
                                    }
                                    &.col-icon {
                                        font-size: 1.5em;
                                        line-height: 2.4em;
                                        padding-left: 3px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}