.member-cart-list {
    .cart-step-bar {
        background-color: $calm;
        height: 75px;

        .line {
            background-color: $light;
            width: 80%;
            height: 2px;
            left: 10%;
            top: 36px;
            position: absolute;
        }
        .step {
            color: $calm;
            font-weight: bold;
            background-color: $light;
            width: 35px;
            height: 35px;
            border-radius: 35px;
            position: absolute;
            top: 19px;
            font-size: $text-size-medium + 2;
            padding-top: 9px;
            padding-left: 13px;
            //opacity: 0.5;

            &.step-1 {
                padding-left: 12px;
                left: 10%;

                &.current {
                    padding-top: 9px;
                    padding-left: 12px;
                }
                &.finish {
                    padding-left: 10px;
                }
            }
            &.step-2 {
                left: 45.5%;

                &.current {
                    left: 45%;
                    padding-top: 9px;
                    padding-left: 12px;
                }
                &.finish {
                    padding-left: 10px;
                }
            }
            &.step-3 {
                left: 82%;

                &.current {
                    padding-top: 9px;
                    padding-left: 13px;
                }
            }

            &.current {
                top: 16px;
                width: 41px;
                height: 41px;
                background-color: $energized;
                border: 3px solid #CCCC99;
            }
        }
    }

    .step-1-content {
        ion-content {
            top: 74px;
            bottom: 160px;
            background-color: $stable;

            &.empty-content-pane {
                display: none;
            }
        }
        &.empty {
            ion-content {
                top: 0;
                bottom: 0;
                padding-top: 160px;

                &.content-pane {
                    display: none;
                }
                &.empty-content-pane {
                    display: initial;
                }
                .logo {
                    img {
                        width: 48px;
                    }
                }
                .text {
                    color: #5B5B5B;
                    font-size: 18px;
                    margin-top: 10px;
                }
            }
            .footer {
                display: none;
            }
        }
        .header {
            height: 47px;
            padding: 0 25px;
            padding-left: 18px;

            .text {
                position: absolute;
                top: 15px;
                width: 90%;
            }
            .text-right {
                right: 0;
            }
            .button {
                top: 0;
                font-size: 14px;
            }
            .link {
                position: absolute;
                color: $positive;
                padding: 13px 20px;
            }
        }

        .list {
            margin-top: 0;

            .item-content {
                padding-right: 96px;
                background-color: $stable;

                .price-container {
                    position: absolute;
                    right: 10px;
                    top: 0.9em;
                    width: 5em;

                    .price {
                        position: absolute;
                        top: 2px;
                    }
                    i {
                        margin-left: 60px;
                        font-size: 1.5em;
                    }
                }
            }

            .item-options {
                ion-option-button {
                    font-size: 2em;
                    background-color: $positive;
                    color: $light;
                }
            }
        }
        .list-price {
            padding: 10px 25px;

            .price {
                font-style: italic;
                color: $assertive;
                font-size: $text-size-medium + 16;
            }
        }
    }

    .step-2-content {
        ion-content {
            top: 74px;
            bottom: 2px;
        }

        .ng-submitted {
            .item.has-error {
                input {
                    border-bottom: 2px solid $error;
                }
            }
        }

        .title-row {
            font-size: $text-size-medium;
            padding: 16px 16px 13px 15px;
            margin-bottom: 8px;
            border-bottom: 1px solid $stable;
        }

        .credit-form {
            background-color: $stable;
            //padding-bottom: 20px;
            margin-top: 0;

            input[type="text"], input[type="number"] {
                float: left;
                padding: 5px;

                &.number-2 {
                    width: 30px;
                }
                &.number-3 {
                    width: 35px;
                }
                &.number-4 {
                    width: 45px;
                }
            }

            .card-logo {
                width: 50px;
            }

            .label {
                margin-top: 8px;
            }
            .cvc-label {
                margin-top: 20px;
                //margin-left: 5px;
            }

            .card-number {
                margin-left: 5px;

                &:first-child {
                    margin-left: 8px;
                }
            }
            .expire-date {

                input {
                    margin-left: 5px;
                    margin-top: 12px;

                    &.expire-month {
                        margin-left: 8px;
                    }
                }
            }
            .card-cvc {
                margin-top: 12px;
                margin-left: 8px;
            }
            .holder-label {
                margin-top: 16px;
            }
            .card-holder {
                margin-left: 12px;
                margin-top: 10px;
                width: 90%;
            }
            .save-card-check {
                margin-top: 12px;

                * {
                    font-size: 14px;
                }
                .item-checkbox {
                    background-color: $stable;
                    padding-left: 45px;
                }
            }
        }

        .ng-submitted {
            .list {
                .item {
                    &.ng-invalid {
                        border-bottom: 2px solid $error;
                    }
                }
            }
        }
        .list {
            margin-top: 0;

            .item {
                padding-left: 30px;

                &:first-child {
                    border-top: 0;
                }
                &:last-child {
                    border-bottom: 0;
                }
                &.no-border {
                    border: 0;
                }
                &.border-bottom {
                    border-bottom: 1px solid $border-color;
                    border-left: 0;
                    border-right: 0;
                    margin-bottom: 1px;
                }
                &.indent-item {
                    padding-left: 15px;
                }
                &.tip-text {
                    overflow: visible;
                    white-space: normal;
                    color: $assertive;

                    img {
                        width: 60px;
                  }
                }
                .gender-row {
                    .item {
                        padding-left: 0;

                        .item-content {
                            padding-left: 0;
                            padding-top: 5px;
                            padding-bottom: 5px;
                            overflow: visible;
                            background-color: $light;

                            .item-radio .radio-icon {
                                padding: 0;
                            }
                        }

                        i.radio-icon {
                            padding: 0;
                            right: 15px;
                        }
                    }
                }

                input {
                    background-color: $stable;
                    padding-left: 10px;
                }

                .required {
                    &:before {
                        content: '* ';
                        color: $assertive;
                    }
                }
            }
        }
        .footer {
            height: 80px;
        }
    }

    .step-3-content {
        top: 74px;

        .card {
            background-color: $stable;
            padding: 10px 5px;

            .cart-logo {
                margin-right: 10px;

                &.shift-cart-logo {
                    margin-top: 5px;
                }
                img {
                    width: 50px;
                }
            }

            .title {
                color: #E8440D;
            }
            .sub-title {
                color: #E8440D;
            }
            .col-bank-code {
                h4 {
                    color: #be1621;
                }
            }
            .col-account {
                h3 {
                    font-size: 26px;
                }
            }

            .text-tips {
                padding: 0 10px;
                color: $dark;
            }
            .text-block-tips {
                background-color: $light;
                margin-top: 10px;
                margin-bottom: 10px;
                border-radius: 5px;
            }
            .price-mark {
                color: $dark;

                .price {
                    color: $assertive;
                    font-style: italic;
                    font-size: 3em;
                }
            }
        }
    }

    .footer {
        position: absolute;
        width: 100%;
        height: 160px;
        padding: 5px;
        //background-color: $stable;
        bottom: 0;

        .footer-container {
            width: 100%;

            .button {
                height: 49px;
                font-size: 16px;

                &.button-black {
                    background-color: #000000;
                    color: $light;
                }
            }
        }

        .pay-type-row {
            border-top: 1px solid $stable;
            border-bottom: 1px solid $stable;

            .item {
                border-right: 1px solid $stable;
                top: 3px;

                &.no-border {
                    border-right-width: 0;
                    border-right-style: none;
                }
                &.selected {
                    i {
                        color: $radio-button-selected-color;
                    }
                }

                i {
                    font-size: 24px;
                    top: -7px;
                    position: relative;
                    color: $radio-button-color;
                }
                .radio-icon {
                    display: none;
                }
                .radio-title {
                    top: -11px;
                    position: relative;
                    margin-left: 7px;
                }
            }
        }

        .item-radio {
            border: 0 solid;
            //border-radius: 30px;

            input:checked {
                + .radio-content {
                    .item-content {
                        background-color: $light;
                    }
                }
            }

            .item-content {
                padding-top: 10px;
                height: 40px;
                padding-right: 30px;
                background-color: $light;
                border-radius: 30px;
            }
            .radio-icon {
                padding-top: 3px;
            }
        }
    }

    .bar {
        &.bar-header, &.bar-footer {
            &.no-bg-color {
                border: 0;
                border-color: transparent;
                border-top: transparent;
                border-bottom: transparent;
                background-image: none !important;
            }
        }
    }
}