.member-edit-view {
    .edit-content {

        .avatar-col {
            text-align: center;

            img {
                width: 80px;
            }
        }
        .ng-submitted {
            .item {
                &.has-error {
                    input {
                        background-color: $light-error-color;
                    }
                }
            }
        }
        // .list .item.item-input.item-input-thin input[type="text"]
        .item {
            border: 0;

            &.item-input {
                input[type="text"] {
                    padding-right: 20px;
                    padding-left: 10px;
                }
            }
            &.item-input-thin {
                padding-left: 0;

                .input-label {
                    width: 22%;
                }
            }
            &.item-input-wide {
                .input-label {
                    width: 20%;
                }
            }
            &.border-top {
                border-top: 1px solid $border-color;
                margin-top: 1px;
            }
            &.border-bottom {
                border-bottom: 1px solid $border-color;
                margin-bottom: 1px;
            }

            input {
                background-color: $stable;
            }
        }
        .creditcard-list {

            .creditcard-item {

                .item-content {
                    padding-top: 1px;
                    padding-bottom: 1px;

                    .card-logo {
                        margin-top: auto;

                        img {
                            width: 30px;
                        }
                    }

                    .card-number {
                        span {
                            display: inline-table;
                        }
                        .mask-card-number {
                            font-size: 2em;
                            position: relative;
                            top: 4px;
                            margin-left: 6px;
                            margin-right: 6px;
                        }
                    }
                }

                .item-options {
                    ion-option-button {
                        font-size: 2em;
                        background-color: $assertive;
                        color: $light;
                    }
                }
            }

            .new-item {
                color: #1664C0;
            }
        }
    }
}
.new-card-box {
    &.modal-box {
        top: 30%;
        height: 262px !important;

        .item {
            padding-left: 30px;

            input {
                background-color: $stable;
            }
        }

        input {
            float: left;
            padding: 5px;

            &.number-2 {
                width: 30px;
            }
            &.number-3 {
                width: 35px;
            }
            &.number-4 {
                width: 45px;
            }
        }
    }
}