//.member-header.nav-bar-tabs-top {
//    .bar-header {
//        border-bottom: 1px solid $border-color;
//    }
//}
.member-dashboard {
    .pane-content {
        background-color: $pane-color;
        padding-top: 5px;

        &.overflow-scroll > .scroll {
            position: fixed;
            right: 0;
            left: 0;
        }
        .member-info {
            background-color: $light;
            margin-top: 10px;

            .edit-button {
                position: relative;
                float: right;
                padding: 5px 10px;
                right: 6px;
                top: 6px;

                color: $gray-color;
                background-color: #f5f5f5;

                font-size: 12px;
            }
            .info-row {
                height: 130px;

                .avatars {
                    text-align: center;

                    .clip-circle {
                        -webkit-clip-path: circle(50px at center);
                        clip-path: circle(50px at center);
                    }
                    .crop-mask {
                        width: 100px;
                        height: 100px;
                        overflow: hidden;
                        position: relative;
                        /*border-radius: 100px;*/

                        img {
                            position: absolute;
                            margin: auto;
                            min-height: 100%;
                            min-width: 100%;
                            //max-height: 100px;
                            //max-width: 100px;

                            /* For the following settings we set 100%, but it can be higher if needed
                            See the answer's update */
                            left: -100%;
                            right: -100%;
                            top: -100%;
                            bottom: -100%;
                        }
                    }

                    .change-pic {
                        position: relative;
                        top: -35px;
                        left: 35px;

                        img {
                            width: 32px;
                        }
                    }
                }
            }

            .detail-col {
                padding-top: 20px;

                .name-line {
                    font-size: 13px;
                    margin-bottom: 5px;

                    .gender-title {
                        position: absolute;
                        margin-top: 9px;
                        margin-left: 5px;
                    }
                    .name {
                        font-size: 28px;
                    }
                }
                .line {
                    color: #878786;
                    font-size: 16px;
                }
            }

            .item-row {
                border-top: 1px solid $border-color;
                margin-top: 5px;

                .list {
                    margin-top: 0;

                    .item {
                        border-width: 0;
                        border-style: none;

                        font-size: 18px;
                    }
                }
            }

        }

        .content {
            padding: 20px;

            .function-list {
                .row {
                    margin-bottom: 20px;

                    .col {
                        padding: 0;
                    }
                }
                .function-item {
                    text-align: center;

                    .function-image {
                        img {
                            width: 50px;
                        }
                    }
                    .function-title {
                        font-size: 17px;
                        color: #575756;
                    }
                    .function-count {
                        font-size: 13px;
                        color: #575756;

                        .count {
                            font-size: 13px;
                        }
                    }
                }
            }
        }
    }
}

.function-box {
    &.modal-box {
        top: 30%;
        height: 170px !important;

        .col {
            text-align: center;
            padding: 10px;
        }
        .list {
            border: 0;
            margin-top: 0;

            .item {
                text-align: center;
                border-bottom: 1px solid $border-color;
                margin-bottom: 1px;
                padding: 15px;
            }
            .item:last-child {
                border-bottom: 0;
            }
        }
    }
}