.resetpassword-pane {

    .pane-content {
        margin: 0 auto;
        width: 80%;

        img.pane-logo {
            display: block;
            margin-left: auto;
            margin-right: auto;
            height: auto;
            width: 50%;
        }

        .text-line-1 {
            color: $positive;
            font-size: 1.3em;
            text-align: center;
            margin-top: 30px;
            margin-bottom: 8px;
        }

        .text-line-2 {
            margin-bottom: 30px;
            h3 {
                font-size: 25px;
                line-height: 120%;
                text-align: center;
            }
            p {
                color: $gray-color;
                font-size: 1em;
                line-height: 80%;
                text-align: center;
            }
        }

        .reset-form {
            &.ng-submitted {
                .item.has-error {
                    margin-top: 1px;
                    border-bottom: 2px solid $error;
                }
            }

            .tip-text {
                color: $positive;
                font-size: 1.3em;
                margin-top: 16px;
                margin-bottom: 6px;

                &.first-child {
                    margin-top: 0;
                }
            }
        }
    }
}