# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore
.idea/
node_modules/
platforms/
plugins/
www/img/*
www/js/*
assets/build/*
www/css
/config.xml
/package.json
.vscode/arduino.json
.vscode/c_cpp_properties.json
