.platform-ios {
    .course-search {
        .has-subheader {
            margin-top: -65px;
        }
    }

    .popover.popover-history {
        top: 94px !important;

        .list {
            .row {
                border:0;
                padding-bottom:5px;
                padding-top:5px
            }
        }
    }
    .popover.popover-condition {
        top: 94px !important;
    }
}