.item-input {
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 1px solid $blue-color;
    padding: 0;
    margin-bottom: 1px;

    &.blue-input {
        input {
            color: $blue-color;
        }
    }
}