// Color
// ------------------------------------------------
.badge-positive {
    background-color: $positive !important;
    color: $white-color !important;
}
.bg-stable {
    background-color: $stable !important;
}

// Size
// ------------------------------------------------
.badge-s-size {
    border-radius: 30px !important;
    height: 30px !important;
    padding-top: 8px !important;
}

.badge-m-size {
    border-radius: 45px !important;
    height: 45px !important;
    padding-top: 16px !important;
}

// Effect : Shadow
// http://www.cssmatic.com/box-shadow
// ------------------------------------------------
.shadow-outline-top {
    -webkit-box-shadow: 0px -1px 5px 2px rgba(163,163,163,1);
    -moz-box-shadow: 0px -1px 5px 2px rgba(163,163,163,1);
    box-shadow: 0px -1px 5px 2px rgba(163,163,163,1);
}
.shadow-inline-top {
    // top inner shadow
    -webkit-box-shadow: inset 0px 10px 5px -8px rgba(163,163,163,1);
    -moz-box-shadow: inset 0px 10px 5px -8px rgba(163,163,163,1);
    box-shadow: inset 0px 10px 5px -8px rgba(163,163,163,1);
}

// Effect : Border
// -------------------------------------------------
.border-right {
    border-right: 1px solid $border-color;
}
.border-top {
    border-top: 1px solid $border-color;
}

// Effect : Padding
// --------------------------------------------------
.padding-3 {
    padding: 3px;
}

// Object : shopping-cart
// --------------------------------------------------
.bar button.button-icon-cart {
    padding-right: 10px;
}
.cart-badge-container {
    position: absolute;
    z-index: 99;
    right: 0;

    .cart-badge {
        border-radius: 20px !important;
        height: 20px !important;
        padding-top: 3px !important;
        font-size: 14px;
        font-weight: normal;
    }
}