// Colors
// -------------------------------

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #0E6FB6 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;

$blue-color:            #88BCE7;
$dark-blue-color:       #6BA7DB;
$white-color:           #ffffff;
$light-gray-color:      #9d9d9d;
$gray-color:            #666666;

$border-color:          #dddddd;
$text-blue-color:       #0E6FB6;

// Sizes
// -------------------------------
$text-size-small:       10px;
$text-size-medium:      16px;