// Colors
// -------------------------------

$light:                           #fff !default;
$stable:                          #e9e9e9 !default;
$positive:                        #265CAA !default;
$calm:                            #7BB5E3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #FDEC00 !default;
$assertive:                       #A60015 !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
$error:                           #FF0000 !default;

$light-blue-color:                #CEE8FF;
$blue-color:                      #88BCE7;
$dark-blue-color:                 #6BA7DB;
$white-color:                     #fff;
$light-gray-color:                #9d9d9d;
$gray-color:                      #666;

$border-color:          #dddddd;
$button-color:          #6495ED;

$tab-color-1:           #E8440D;
$tab-color-2:           #2DB7CC;
$tab-color-3:           #CC4391;

// Sizes
// -------------------------------
$text-size-small:       10px;
$text-size-medium:      16px;