// Colors
// -------------------------------

$light:                           #fff !default;
$stable:                          #e9e9e9 !default;
$positive:                        #265CAA !default;
$calm:                            #7BB5E3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #FDEC00 !default;
$assertive:                       #A60015 !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
$error:                           #FF0000 !default;

$light-blue-color:                #CEE8FF;
$blue-color:                      #88BCE7;
$dark-blue-color:                 #6BA7DB;
$white-color:                     #fff;
$light-gray-color:                #9d9d9d;
$gray-color:                      #666;
$light-error-color:               #FFB6C1;

$border-color:          #ddd;
$button-color:          #373736;
$pane-color:            #ededed;

$tab-color-1:           #E8440D;
$tab-color-2:           #2DB7CC;
$tab-color-2-1:         #E30612;
$tab-color-3:           #CC4391;

$message-color-1:       #3ebbcf;
$message-color-2:       #d60a51;
$message-color-3:       #ab9211;
$message-content:       #3c3c3b;

$ebook-main-color:      #0E70B7;
$ebook-tab-color:       #444444;

$input-bg-color:           #e9e9ea;

$radio-button-color:    #dadad9;
$radio-button-selected-color:   #49A8DD;

$course-title:          #000;

// Sizes
// -------------------------------
$text-size-small:       10px;
$text-size-medium:      $text-size-small + 6;
$text-size-large:       $text-size-small + 24;

$button-small-font-size:    16px;