// .slides .slider-pager .slider-pager-page:before
.slides {
    .slider-pager {
        .slider-pager-page {
            font-size: 5px;
            margin-top: -3px;

            &:before {
                content: 'â—';
            }
            &.active {
                font-size: 10px;
            }
        }
        i.icon {
            display: none;
        }
    }
}