// .slides .slider-pager .slider-pager-page:before
.slides {
    .slider-pager {
        .slider-pager-page {
            font-size: 35px;
            margin-top: -3px;
            line-height: 0;

            &:before {
                content: '.';
            }
            &.active {
                font-size: 50px;
            }
        }
        i.icon {
            display: none;
        }
    }
}