// .slides .slider-pager .slider-pager-page:before
.slides {
    .slider-pager {
        .slider-pager-page {
            font-size: 10px;

            &:before {
                content: 'â—';
            }
        }
        i.icon {
            display: none;
        }
    }
}