// Size
// --------------------------------------------
.text-size-small {
    font-size:  $text-size-small;
}
.text-size-medium {
    font-size:  $text-size-medium;
}
.text-s-size {
    font-size: $text-size-small !important;
}
.text-m-size {
    font-size: $text-size-small + 6;
}
.text-l-size {
    font-size: $text-size-small + 24;
}

// Color
// --------------------------------------------
.text-positive {
    color:      $positive !important;
}
.text-assertive {
    color:      $assertive !important;
}
.text-light-gray {
    color:      $light-gray-color !important;
}
.text-white {
    color:      $white-color !important;
}
.text-gray {
    color:      $gray-color !important;
}

// padding
// --------------------------------------------
.text-padding-top-s {
    padding-top: 6px;
}
.text-padding-top-m {
    padding-top: 12px;
}