// Size
// --------------------------------------------
.text-size-small {
    font-size:  $text-size-small;
}
.text-size-medium {
    font-size:  $text-size-medium;
}

// Color
// --------------------------------------------
.text-blue {
    color:      #0E6FB6 !important;
}