<ion-view class="member-cart-list" ng-controller="MemberCartListController">
    <ion-nav-bar class="bar-light nav-header" align-title="center">
    </ion-nav-bar>
    <ion-content scroll="false">
        <ion-header-bar class="cart-step-bar" ng-if="!checkIsCartEmpty() || step.s3.current">
            <div class="line"></div>
            <div class="step step-1" ng-class="{'current': step.s1.current, 'ion-checkmark-round': step.s1.finish, 'finish': step.s1.finish}">
                <span ng-hide="step.s1.finish">1</span></div>
            <div class="step step-2" ng-class="{'current': step.s2.current, 'ion-checkmark-round': step.s2.finish, 'finish': step.s2.finish}">
                <span ng-hide="step.s2.finish">2</span></div>
            <div class="step step-3" ng-class="{'current': step.s3.current, 'ion-checkmark-round': step.s3.finish, 'finish': step.s3.finish}">
                <span ng-hide="step.s3.finish">3</span></div>
        </ion-header-bar>
        <ion-nav-view name="cartContent"></ion-nav-view>
    </ion-content>
</ion-view>