<ion-view class="member-dashboard" ng-controller="MemberDashboardController">
    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-ios-arrow-left" ng-click="goBack()"></button>
        <h1 class="title">會員功能</h1>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-android-cart" ng-click="goCart()"></button>
        <div class="cart-badge-container" ng-show="carts.length > 0" ng-click="goCart()">
            <div class="badge badge-assertive badge-s-size cart-badge">{{carts.length}}</div>
        </div>
    </ion-nav-buttons>
    <ion-content class="has-header" padding="true" ng-class="{'pane-content': true}">
        <div class="bg">
            <div class="item-avatar">
                <img class="img-avatar" src="img/member-pic@2x.png" />
                <div class="title" ng-click="modalFunction.show()">
                    <h3>{{ member.memb_name }} <img src="img/edit@2x.png" /></h3>
                    <p>{{ member.memb_email }}</p>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="row">
                <div class="col col-1 border-right" ng-click="goWishList()">
                    <img class="item-img" src="img/member-01@2x.png" />
                    <p>考慮清單</p>
                </div>
                <div class="col col-2" ng-click="goOrderList()">
                    <img class="item-img" src="img/member-02@2x.png" />
                    <p>訂單管理</p>
                </div>
            </div>
            <div class="row">
                <div class="col col-3 border-top border-right">
                    <img class="item-img" src="img/member-03@2x.png" />
                    <p>學習訊息</p>
                </div>
                <div class="col col-4 border-top">
                    <img class="item-img" src="img/member-04@2x.png" />
                    <p>已完成的課程</p>
                </div>
            </div>
            <button class="button button-block button-dark" ng-click="logout()">
                登出
            </button>
            <div class="row">
                <div class="col">
                    App version: {{ app_version }}
                </div>
            </div>
        </div>
    </ion-content>
    <script id="templates/modal-function.html" type="text/ng-template">
        <ion-modal-view class="modal-box function-box">
            <ion-content class="padding" scroll="false">
                <div class="list">
                    <a class="item" href="#">
                        <p>編輯帳號</p>
                    </a>
                    <a class="item" href="#">
                        <p>意見信箱</p>
                    </a>
                    <a class="item" href="#" ng-click="logout()">
                        <p>帳號登出</p>
                    </a>
                </div>
            </ion-content>
        </ion-modal-view>
    </script>
</ion-view>