<ion-view class="member-dashboard" ng-controller="MemberDashboardController">
    <ion-nav-bar class="member-dashboard-header">
        <ion-nav-buttons side="left">
            <button class="button button-icon icon ion-ios-arrow-left" ng-click="goBack()"></button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button class="button button-icon icon sprite-icon shoppingcar-icon" ng-click="goCart()">
                <i class="sprite-icon-shoppingcar-o-2x"></i>
            </button>
            <div class="cart-badge-container" ng-show="carts.length > 0" ng-click="goCart()">
                <div class="badge badge-assertive badge-s-size cart-badge">{{carts.length}}</div>
            </div>
        </ion-nav-buttons>
        <ion-nav-title>
            <h1 class="title">會員功能</h1>
        </ion-nav-title>
    </ion-nav-bar>
    <ion-content class="has-header" ng-class="{ 'pane-content': true }">
        <div class="bg" ng-if="false">
            <div class="item-avatar">
                <img class="img-avatar" src="img/member-pic@2x.png" />
                <div class="title" ng-click="modalFunction.show()">
                    <h3>{{ member.memb_name }} <img src="img/edit@2x.png" /></h3>
                    <p>{{ member.memb_email }}</p>
                </div>
            </div>
        </div>
        <div class="member-info">
            <div class="edit-button">
                編輯
            </div>
            <div class="row">
                <div class="col col-33 avatars">
                    <img src="img/member-pic@2x.png" />
                    <div class="change-pic" ng-click="takePicture()">
                        <img src="img/changepic@2x.png" />
                    </div>
                </div>
                <div class="col detail-col">
                    <div class="name-line">
                        <span class="name">蕭家豪</span>
                        <span class="gender-title">先生</span>
                    </div>
                    <div class="line phone-line">
                        0986123456
                    </div>
                    <div class="line email-line">
                        jasonshaw@sce.pccu.edu.tw
                    </div>
                </div>
            </div>
            <div class="row item-row">
                <div class="col">
                    <ion-list>
                        <ion-item>
                            <div class="item-toggle"
                                 toggle-class="toggle-positive"
                                 ng-click="toggleNotification($event)">
                                <div><span>{{ '通知課程學習相關資訊功能' }}</span></div>
                                <label class="toggle toggle-positive disable-user-behavior"
                                       ng-click="toggleNotification($event)">
                                    <input type="checkbox" ng-checked="checkNotificationIsChecked()">
                                    <div class="track"><div class="handle"></div></div>
                                </label>
                            </div>
                        </ion-item>
                    </ion-list>
                </div>
            </div>
        </div>
        <div class="content">
            <button class="button button-block button-positive" ng-click="logout()">
                登出
            </button>
            <div class="row">
                <div class="col">
                    App version: {{ app_version }}
                </div>
            </div>
        </div>
    </ion-content>
    <script id="templates/modal-function.html" type="text/ng-template">
        <ion-modal-view class="modal-box function-box">
            <ion-content class="padding" scroll="false">
                <div class="list">
                    <a class="item" ng-click="goEdit()">
                        <p>編輯帳號</p>
                    </a>
                    <a class="item" ng-click="goSuggest()">
                        <p>意見信箱</p>
                    </a>
                    <a class="item" href="#" ng-click="logout()">
                        <p>帳號登出</p>
                    </a>
                </div>
            </ion-content>
        </ion-modal-view>
    </script>
</ion-view>