<ion-view class="member-edit-view" ng-controller="MemberEditController">
    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-ios-arrow-left" ng-click="goBack()"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-clear" ng-click="doSubmit($event)">儲存</button>
    </ion-nav-buttons>
    <ion-nav-title>
        <h1 class="title">編輯帳號</h1>
    </ion-nav-title>
    <ion-content padding="false">
        <div class="list">
            <div class="item">
                <div class="edit-content">
                    <form name="editForm" novalidate ng-submit="submitForm(editForm)">
                        <div class="row">
                            <div class="col col-name">
                                <span class="name-item">姓名</span>
                                <span class="name-item-value" ng-bind="user.memb_name"></span>
                            </div>
                            <div class="col col-right">
                                <input type="button" class="button" value="修改" ng-click="goChangeName()" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-gender">
                                <div class="gender-item">性別</div>
                                <div class="gender-item-value">
                                    <div class="gender-item">
                                        <ion-radio ng-model="user.memb_gender" ng-value="'M'" ng-class="{ 'selected': user.memb_gender == 'M' }">
                                            <i ng-class="{ 'ion-android-radio-button-on': user.memb_gender == 'M',
                                                   'ion-android-radio-button-off': user.memb_gender != 'M' }"></i>
                                            <span class="radio-title">男</span>
                                        </ion-radio>
                                    </div>
                                    <div class="gender-item">
                                        <ion-radio ng-model="user.memb_gender" ng-value="'F'" ng-class="{ 'selected': user.memb_gender == 'F' }">
                                            <i ng-class="{ 'ion-android-radio-button-on': user.memb_gender == 'F',
                                                   'ion-android-radio-button-off': user.memb_gender != 'F' }"></i>
                                            <span class="radio-title">女</span>
                                        </ion-radio>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-birth">
                                <span class="birth-item">
                                    出生年月日
                                </span>
                                <select name="birth_year" ng-model="user.birth_year" ng-options="opt for opt in birth_year_opts" required>
                                    <option></option>
                                </select>
                                <select name="birth_month" ng-model="user.birth_month" ng-options="opt for opt in birth_month_opts" required>
                                    <option></option>
                                </select>
                                <select name="birth_day" ng-model="user.birth_day" ng-options="opt for opt in birth_day_opts" required>
                                    <option></option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-email">
                                <div class="email-item">
                                    <div>電子信箱</div>
                                    <input type="button" class="button" value="新增" ng-click="goEditEmail()" ng-if="checkIsEmailEmpty()" />
                                </div>
                                <div class="email-item-value" ng-bind="user.memb_email">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-address">
                                <div class="address-item">
                                    通訊地址
                                </div>
                                <div class="address-item-value">
                                    <input type="text" name="address" ng-model="user.memb_address" />
                                </div>
                                <div class="address-item-tips">
                                    為方便活動贈品寄送，請填寫正確通訊資料，謝謝！
                                </div>
                            </div>
                        </div>
                        <button id="submitButton" class="button button-full button-positive" ng-hide="true">確定送出</button>
                    </form>
                </div>
            </div>
            <div class="item" ng-if="loaded && !user.memb_ident">
                <div class="row row-ident">
                    <div class="col col-66">
                        <div>身分證字號</div>
                        <div class="tip tip-assertive">* 繳費時必要資訊，建立後將無法更改</div>
                    </div>
                    <div class="col col-right">
                        <button class="button button-positive" ng-click="goEditIdent()">
                            尚未設定
                        </button>
                    </div>
                </div>
            </div>
            <div class="item" ng-if="loaded && user.memb_ident">
                <div class="row row-ident">
                    <div class="col col-ident">
                        <span class="ident-item">身分證字號</span>
                        <span class="ident-item-value" ng-bind="user.memb_ident"></span>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="row row-password">
                    <div class="col col-66">
                        <div>密碼</div>
                        <div class="tip">用於保護帳號資訊與登入安全</div>
                    </div>
                    <div class="col col-right">
                        <button class="button" ng-click="goChangePassword()">
                            修改
                        </button>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="row row-mobile">
                    <div class="col col-66">
                        <div>手機號碼</div>
                        <div class="number-item" ng-if="user.memb_mobile" ng-bind="user.memb_mobile"></div>
                        <div class="tip">用於找回密碼與相關訊息聯繫</div>
                    </div>
                    <div class="col col-right">
                        <button class="button" ng-click="goChangeMobile()">
                            修改
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
    <script id="templates/modal-new-card.html" type="text/ng-template">
        <ion-modal-view class="modal-box new-card-box">
            <ion-content class="padding" scroll="false">
                <div class="row">
                    <div class="col-25 text-right label">信用卡卡號</div>
                    <div class="col-75">
                        <label ng-class="{ 'has-error' : paymentForm.card_part1.$invalid}">
                            <input type="number" name="card_part1"
                                   class="number-4 card-number"
                                   ng-model="card.number_part1"
                                   ng-next="card_part2" ng-next-length="4"
                                   ng-next-autofill="0" ng-next-autofill-length="4"
                                   maxlength="4" min="1" max="9999"
                                   ng-minlength="4" ng-maxlength="4"
                                   required>
                        </label>
                        <label ng-class="{ 'has-error' : paymentForm.card_part2.$invalid}">
                            <input type="number" name="card_part2"
                                   class="number-4 card-number"
                                   ng-model="card.number_part2"
                                   ng-next="card_part3" ng-next-length="4"
                                   ng-next-autofill="0" ng-next-autofill-length="4"
                                   maxlength="4" min="1" max="9999"
                                   ng-minlength="4" ng-maxlength="4"
                                   required>
                        </label>
                        <label ng-class="{ 'has-error' : paymentForm.card_part3.$invalid}">
                            <input type="number" name="card_part3"
                                   class="number-4 card-number"
                                   ng-model="card.number_part3"
                                   ng-next="card_part4" ng-next-length="4"
                                   ng-next-autofill="0" ng-next-autofill-length="4"
                                   maxlength="4" min="1" max="9999"
                                   ng-minlength="4" ng-maxlength="4"
                                   required>
                        </label>
                        <label ng-class="{ 'has-error' : paymentForm.card_part4.$invalid}">
                            <input type="number" name="card_part4"
                                   class="number-4 card-number"
                                   ng-model="card.number_part4"
                                   ng-next="card_expire_month" ng-next-length="4"
                                   ng-next-autofill="0" ng-next-autofill-length="4"
                                   maxlength="4" min="1" max="9999"
                                   ng-minlength="4" ng-maxlength="4"
                                   required>
                        </label>
                    </div>
                </div>
                <button class="button button-full button-positive" ng-click="changePasswordConfirmClick()">確定</button>
            </ion-content>
        </ion-modal-view>
    </script>
</ion-view>