<ion-view class="member-edit-view" ng-controller="MemberEditController">
    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-android-close" ng-click="goBack()"></button>
    </ion-nav-buttons>
    <ion-nav-title>編輯帳號</ion-nav-title>
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-android-done" ng-click="goBack()"></button>
    </ion-nav-buttons>
    <ion-content padding="true">
        <div class="edit-content list">
            <div class="row">
                <div class="col col-34">
                    <div class="row">
                        <div class="col avatar-col">
                            <img src="img/member-pic@2x.png" />
                        </div>
                    </div>
                </div>
                <div class="col">
                    <label class="item item-input item-input-thin">
                        <span class="input-label">暱稱</span>
                        <input type="text">
                    </label>
                    <label class="item item-input item-input-thin">
                        <span class="input-label">電話</span>
                        <input type="text">
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label class="item item-input item-input-wide">
                        <span class="input-label">Email</span>
                        <input type="text">
                    </label>
                    <label class="item item-input item-input-wide">
                        <span class="input-label">住址</span>
                        <input type="text">
                    </label>
                    <ion-list class="border-top border-bottom">
                        <ion-item href="#/home/member/edit" ng-click="changePassword($event)">
                            修改目前密碼
                        </ion-item>
                    </ion-list>
                    <ion-list class="border-top border-bottom">
                        <ion-item>
                            <div class="item-toggle toggle-small"
                                 toggle-class="toggle-positive">
                                <div><span>{{ '通知課程學習相關資訊' }}</span></div>
                                <label class="toggle toggle-positive disable-user-behavior">
                                    <input type="checkbox">
                                    <div class="track"><div class="handle"></div></div>
                                </label>
                            </div>
                        </ion-item>
                    </ion-list>
                </div>
            </div>
        </div>
    </ion-content>
    <script id="templates/modal-change-password.html" type="text/ng-template">
        <ion-modal-view class="modal-box change-password-box">
            <ion-content class="padding" scroll="false">
                <div class="list">
                    <label class="item item-input">
                        <span class="input-label">舊密碼</span>
                        <input type="password">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">新密碼</span>
                        <input type="password">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">確認新密碼</span>
                        <input type="password">
                    </label>
                </div>
                <button class="button button-full button-positive" ng-click="changePasswordConfirmClick()">確定</button>
            </ion-content>
        </ion-modal-view>
    </script>
</ion-view>