<ion-view class="member-edit-pw" ng-controller="MemberEditPassword2Controller">
    <ion-nav-title>
        <h1 class="title">密碼設定</h1>
    </ion-nav-title>
    <ion-content class="has-header" padding="true" overflow-scroll="false">
        <div class="pane-content">
            <div>
                <img class="pane-logo" src="img/my-edit-pw@2x.png">
            </div>
            <div class="text-line-1 text-center">
                <p>{{ '設定密碼盡量不要使用包含帳號' }}</p>
                <p>{{ '生日、身分證號、電話等資訊' }}</p>
            </div>
            <form name="editPasswordForm" class="form edit-password-form" novalidate ng-submit="submitForm(editPasswordForm)">
                <div class="list">
                    <label class="item item-input"
                           ng-class="{ 'has-error' : editPasswordForm.password.$invalid }">
                        <span class="input-label">{{ '輸入新密碼' }}</span>
                        <input type="password" name="password"
                               ng-model="user.new_password"
                               required>
                        <span class="sprite-icon has-error-icon">
                            <i class="sprite-icon-order-form-st-2x"></i>
                        </span>
                    </label>
                    <label class="item item-input"
                           ng-class="{ 'has-error' : editPasswordForm.confirm_password.$invalid }">
                        <span class="input-label">{{ '確認新密碼' }}</span>
                        <input type="password" name="confirm_password"
                               ng-model="user.confirm_password"
                               data-custom-verify="user.new_password"
                               required>
                        <span class="sprite-icon has-error-icon">
                            <i class="sprite-icon-order-form-st-2x"></i>
                        </span>
                    </label>
                    <div class="tip tip-assertive">* 密碼變更後會立即生效</div>
                </div>
                <div class="row">
                    <div class="col"><input type="button" class="button button-block button-dark" ng-click="goBack()" value="取消" /></div>
                    <div class="col col-67"><button class="button button-block button-positive">儲存</button></div>
                </div>
            </form>
        </div>
    </ion-content>
</ion-view>