<ion-view class="finished-course-list" ng-controller="MemberFinishListController">
    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-ios-arrow-left" ng-click="goBack()"></button>
    </ion-nav-buttons>
    <ion-nav-title>
        <h1 class="title">已完成的課程</h1>
    </ion-nav-title>
    <ion-nav-buttons side="right">
        <button class="button button-icon icon sprite-icon shoppingcar-icon" ng-click="goCart()">
            <i class="sprite-icon-shoppingcar-o-2x"></i>
        </button>
        <div class="cart-badge-container" ng-show="carts.length > 0" ng-click="goCart()">
            <div class="badge badge-assertive badge-s-size cart-badge">{{carts.length}}</div>
        </div>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <div class="course-container">
            <div class="card course" ng-repeat="course in courses" ng-init="result = proccessTopics(course.ques_topics)">
                <div class="item item-text-wrap">
                    <div class="row no-padding title-row">
                        <div class="col no-padding">
                            <span ng-bind="course.Prod_Name"></span>
                            <span ng-bind="course.Prod_SubName"></span>
                        </div>
                    </div>
                    <div class="row value-row">
                        <div class="col col-50 col-border-right no-padding">
                            <div class="row no-padding ticket-count-row">
                                <div class="col col-33 col-type-img no-padding">
                                    <img class="type-img" src="img/like.png" />
                                </div>
                                <div class="col col-33 no-padding">
                                    <div class="ticket-label">滿意</div>
                                </div>
                                <div class="col no-padding">
                                    <div class="ticket-count" ng-bind="result.satisfied.count">0</div>
                                </div>
                            </div>
                            <div class="row no-padding" ng-show="result.is_multi_teacher == false">
                                <div class="col no-padding">
                                    <span class="type-label" ng-repeat="item in result.satisfied.items" ng-bind="item">?</span>
                                </div>
                            </div>
                        </div>
                        <div class="col no-padding">
                            <div class="row no-padding ticket-count-row">
                                <div class="col col-33 col-type-img no-padding">
                                    <img class="type-img" src="img/illike.png" />
                                </div>
                                <div class="col col-33 no-padding">
                                    <div class="ticket-label">不滿意</div>
                                </div>
                                <div class="col no-padding">
                                    <div class="ticket-count" ng-bind="result.unsatisfied.count">0</div>
                                </div>
                            </div>
                            <div class="row no-padding" ng-show="result.is_multi_teacher == false">
                                <div class="col col-indent no-padding">
                                    <span class="type-label" ng-repeat="item in result.unsatisfied.items" ng-bind="item">?</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row content-row" ng-show="result.is_multi_teacher">
                        <div class="content-row-item">
                            <div>服務</div>
                            <div><img src="img/icon-checked.png" ng-show="result.item_service" /><img src="img/icon-unchecked.png" ng-hide="result.item_service" />滿意</div>
                            <div><img src="img/icon-checked.png" ng-hide="result.item_service" /><img src="img/icon-unchecked.png" ng-show="result.item_service" />不滿意</div>
                        </div>
                        <div class="content-row-item">
                            <div>環境</div>
                          <div><img src="img/icon-checked.png" ng-show="result.item_environment" /><img src="img/icon-unchecked.png" ng-hide="result.item_environment" />滿意</div>
                          <div><img src="img/icon-checked.png" ng-hide="result.item_environment" /><img src="img/icon-unchecked.png" ng-show="result.item_environment" />不滿意</div>
                        </div>
                    </div>
                    <div class="row teacher-content-row" ng-show="result.is_multi_teacher">
                        <div class="content-row-item">
                            <div class="col-1">授課老師</div>
                            <div class="col-2">師資</div>
                            <div class="col-2">內容</div>
                        </div>
                        <div class="content-row-item content-value-row-item" ng-repeat="teacher in result.teachers">
                            <div class="col-1">{{ teacher.teacher_name }}</div>
                            <div class="col-2">
                                <div ng-show="teacher.item_teacher">滿意</div>
                                <div ng-hide="teacher.item_teacher">不滿意</div>
                            </div>
                            <div class="col-2">
                                <div ng-show="teacher.item_content">滿意</div>
                                <div ng-hide="teacher.item_content">不滿意</div>
                            </div>
                        </div>
                    </div>
                    <div class="row no-padding bottom-row">
                        <div class="col col-33 no-padding">
                            <div class="row no-padding">
                                <div class="col col-th">
                                    {{ '本次授課老師' }}
                                </div>
                            </div>
                            <div class="row no-padding value-row">
                                <div class="col col-td color-1">
                                    <span class="teacher-name" ng-show="result.is_multi_teacher">專業師資群</span>
                                    <span class="teacher-name" ng-bind="course.Prod_ClsSir" ng-hide="result.is_multi_teacher"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col col-33 no-padding">
                            <div class="row no-padding">
                                <div class="col col-th">
                                    {{ '本次學習時數' }}
                                </div>
                            </div>
                            <div class="row no-padding value-row">
                                <div class="col col-td color-1">
                                    <span ng-bind="course.Prod_ClsHours"></span>
                                    <span class="small">{{ '小時' }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col no-padding">
                            <div class="row no-padding">
                                <div class="col col-th">
                                    {{ '更多延伸學習' }}
                                </div>
                            </div>
                            <div class="row no-padding value-row">
                                <div class="col col-td color-1 col-link">
                                    <i class="ion-link" ng-click="goExtend(course.Prod_Id)"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="empty-content-pane" ng-show="loading == false && courses.length == 0">
                <div class="content text-center">
                    <div class="logo">
                        <img src="img/empty-finish-course.png" />
                    </div>
                    <div class="text">
                        {{ '已完成的課程目前沒有資料' }}
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
