<ion-view class="message-info" ng-controller="MemberMessageInfoController">
    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-ios-arrow-left" ng-click="goBack()"></button>
    </ion-nav-buttons>
    <ion-nav-title>
        <h1 class="title" ng-if="type == 'promo'">{{ '優惠訊息' }}</h1>
        <h1 class="title" ng-if="type == 'course'">{{ '課程異動' }}</h1>
        <h1 class="title" ng-if="type == 'order'">{{ '繳費通知' }}</h1>
    </ion-nav-title>
    <ion-nav-buttons side="right">
        <button class="button button-icon icon sprite-icon shoppingcar-icon" ng-click="goCart()">
            <i class="sprite-icon-shoppingcar-o-2x"></i>
        </button>
        <div class="cart-badge-container" ng-show="carts.length > 0" ng-click="goCart()">
            <div class="badge badge-assertive badge-s-size cart-badge">{{carts.length}}</div>
        </div>
    </ion-nav-buttons>
    <ion-content padding="true" class="content-pane">
        <div class="card">
            <div class="header"
                 ng-class="{ 'color1': type == 'promo', 'color2': type == 'course', 'color3': type == 'order' }"
                 ng-bind="messageTitle"></div>
            <div class="content" ng-bind="messageInfo"></div>
        </div>
    </ion-content>
</ion-view>