<ion-view class="member-message" ng-controller="MemberMessageController">
    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-ios-arrow-left" ng-click="goBack()"></button>
    </ion-nav-buttons>
    <ion-nav-title>學習訊息</ion-nav-title>
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-android-cart" ng-click="goCart()"></button>
        <div class="cart-badge-container" ng-show="carts.length > 0" ng-click="goCart()">
            <div class="badge badge-assertive badge-s-size cart-badge">{{carts.length}}</div>
        </div>
    </ion-nav-buttons>
    <ion-content padding="true">
        <div class="card">
            <div class="item item-text-wrap">
                <div class="header">
                    <div class="column col-image">
                        <img src="img/member-03-01@2x.png" />
                    </div>
                    <div class="column col-title">
                        優惠訊息
                    </div>
                </div>
                <div class="content">
                    <div class="message-wrapper color-1">
                        <div class="message" ng-repeat="message in list_promo"
                             ng-init="image_type = message.back_img != null"
                             ng-class="{ 'image': image_type }">
                            <div class="message-dot color-font">
                                <i class="ion-record"></i>
                                <div class="message-dot-mask" ng-class="{ 'show': $index == list_promo.length - 1}"></div>
                            </div>
                            <div class="message-div">
                                <div class="row">
                                    <div class="col col-25 color-bg col-left">
                                        <div class="date-text" ng-init="date = formatDate(message.create_time)">
                                            <div class="year" ng-bind="date.year"></div>
                                            <div class="date" ng-bind="date.date"></div>
                                            <div class="weekday" ng-bind="date.weekday"></div>
                                        </div>
                                    </div>
                                    <div class="col col-right" ng-class="{ 'col-66': !image_type }">
                                        <div class="text" ng-bind="message.m_title" ng-hide="image_type"></div>
                                        <div class="image"
                                             ng-if="image_type"
                                             ng-style="{'background-image': 'url(' + message.back_img + ')'}"></div>
                                    </div>
                                    <div class="col col-icon color-font" ng-hide="image_type">
                                        <i class="ion-ios-arrow-right"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="message image" ng-hide="true">
                            <div class="message-dot color-font">
                                <i class="ion-record"></i>
                                <div class="message-dot-mask"></div>
                            </div>
                            <div class="message-div">
                                <div class="row">
                                    <div class="col col-25 col-left">
                                        <div class="date-text color-bg">
                                            <div class="year">2016</div>
                                            <div class="date">04.28</div>
                                            <div class="weekday">THU</div>
                                        </div>
                                    </div>
                                    <div class="col col-right">
                                        <div class="image" ng-style="{'background-image': 'url(' + message.img + ')'}"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="message image" ng-hide="true">
                            <div class="message-dot color-font">
                                <i class="ion-record"></i>
                                <div class="message-dot-mask show" message-dot-mask="message"></div>
                            </div>
                            <div class="message-div">
                                <div class="row">
                                    <div class="col col-25 col-left">
                                        <div class="date-text color-bg">
                                            <div class="year">2016</div>
                                            <div class="date">04.28</div>
                                            <div class="weekday">THU</div>
                                        </div>
                                    </div>
                                    <div class="col col-right">
                                        <div class="image" ng-style="{'background-image': 'url(' + message.img + ')'}"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="item item-text-wrap">
                <div class="header">
                    <div class="column col-image">
                        <img src="img/member-03-02@2x.png" />
                    </div>
                    <div class="column col-title">
                        課程異動
                    </div>
                </div>
                <div class="content">
                    <div class="message-wrapper color-2">
                        <div class="message" ng-repeat="message in list_course"
                             ng-init="image_type = message.back_img != null"
                             ng-class="{ 'image': image_type }">
                            <div class="message-dot color-font">
                                <i class="ion-record"></i>
                                <div class="message-dot-mask" ng-class="{ 'show': $index == list_course.length - 1}"></div>
                            </div>
                            <div class="message-div">
                                <div class="row">
                                    <div class="col col-25 color-bg col-left">
                                        <div class="date-text" ng-init="date = formatDate(message.create_time)">
                                            <div class="year" ng-bind="date.year"></div>
                                            <div class="date" ng-bind="date.date"></div>
                                            <div class="weekday" ng-bind="date.weekday"></div>
                                        </div>
                                    </div>
                                    <div class="col col-right" ng-class="{ 'col-66': !image_type }">
                                        <div class="text" ng-bind="message.m_title" ng-hide="image_type"></div>
                                        <div class="image"
                                             ng-if="image_type"
                                             ng-style="{'background-image': 'url(' + message.back_img + ')'}"></div>
                                    </div>
                                    <div class="col col-icon color-font" ng-hide="image_type">
                                        <i class="ion-ios-arrow-right"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="item item-text-wrap">
                <div class="header">
                    <div class="column col-image">
                        <img src="img/member-03-03@2x.png" />
                    </div>
                    <div class="column col-title">
                        繳費通知
                    </div>
                </div>
                <div class="content">
                    <div class="message-wrapper color-3">
                        <div class="message" ng-repeat="message in list_order"
                             ng-init="image_type = message.back_img != null"
                             ng-class="{ 'image': image_type }">
                            <div class="message-dot color-font">
                                <i class="ion-record"></i>
                                <div class="message-dot-mask" ng-class="{ 'show': $index == list_order.length - 1}"></div>
                            </div>
                            <div class="message-div">
                                <div class="row">
                                    <div class="col col-25 color-bg col-left">
                                        <div class="date-text" ng-init="date = formatDate(message.create_time)">
                                            <div class="year" ng-bind="date.year"></div>
                                            <div class="date" ng-bind="date.date"></div>
                                            <div class="weekday" ng-bind="date.weekday"></div>
                                        </div>
                                    </div>
                                    <div class="col col-right" ng-class="{ 'col-66': !image_type }">
                                        <div class="text" ng-bind="message.m_title" ng-hide="image_type"></div>
                                        <div class="image"
                                             ng-if="image_type"
                                             ng-style="{'background-image': 'url(' + message.back_img + ')'}"></div>
                                    </div>
                                    <div class="col col-icon color-font" ng-hide="image_type">
                                        <i class="ion-ios-arrow-right"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>