<ion-view>
    <ion-nav-title>購物車</ion-nav-title>
    <ion-content class="step-3-content" padding="true">
        <div class="card" ng-if="checkPayTypeIsCreditCard() && pay.success">
            <div class="row">
                <div class="col-20 text-center cart-logo">
                    <img src="img/cart-order@2x.png" />
                </div>
                <div class="col-80">
                    <h4 class="title">付款成功，感謝您的選購‧‧‧</h4>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <div class="text-tips text-left">
                        您好，選購課程已使用信用卡付款成功，入帳約需三個工作天左右，如有任何問題歡迎直接與我們聯絡
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col text-right price-mark">
                    總金額
                    <span class="price">
                        {{ totalPrice | currency:undefined:0 }}
                    </span>
                </div>
            </div>
        </div>
        <div class="card" ng-if="checkPayTypeIsCreditCard() && !pay.success">
            <div class="row">
                <div class="col-20 text-center cart-logo">
                    <img src="img/attention@2x.png" />
                </div>
                <div class="col-80">
                    <h4 class="title title-error">信用卡扣款失敗</h4>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <div class="text-tips text-left">
                        請檢查網路是否能正常連線，稍後請重新進行付款，感謝您。
                    </div>
                </div>
            </div>
        </div>
        <div class="card" ng-if="!checkPayTypeIsCreditCard()">
            <div class="row">
                <div class="col-20 text-center cart-logo shift-cart-logo">
                    <img src="img/cart-order@2x.png" />
                </div>
                <div class="col-80">
                    <h3 class="title">感謝您的選購‧‧‧</h3>
                    <div class="sub-title">請依以下資訊完成 ATM 轉帳付款</div>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <div class="text-block-tips text-tips text-left">
                        <div class="row">
                            <div class="col col-66">
                                <h4>國泰世華銀行</h4></div>
                            <div class="col text-center col-bank-code">
                                <h4>代號 013</h4></div>
                        </div>
                        <div class="row">
                            <div class="col">ATM 轉帳帳號</div>
                        </div>
                        <div class="row">
                            <div class="col col-account"><h3>{{ bank.account }}</h3></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col text-right price-mark">
                    總金額
                    <span class="price">
                        {{ bank.amount | currency:undefined:0 }}
                    </span>
                </div>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar class="footer no-bg-color step-3">
        <div class="footer-container" ng-if="!checkPayTypeIsCreditCard() || pay.success">
            <button class="button button-block button-black" ng-click="returnToDashboard()">完成</button>
        </div>
        <div class="footer-container" ng-if="checkPayTypeIsCreditCard() && !pay.success">
            <button class="button button-block button-black" ng-click="goOrderList()">回訂單管理</button>
        </div>
    </ion-footer-bar>
</ion-view>