<ion-view class="member-order-list" ng-controller="MemberOrderListController">
    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-ios-arrow-left" ng-click="goBack()"></button>
    </ion-nav-buttons>
    <ion-nav-title>訂單管理</ion-nav-title>
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-android-cart button-icon-cart"></button>
        <div class="cart-badge-container" ng-show="cart.length > 0">
            <div class="badge badge-assertive badge-s-size cart-badge">{{cart.length}}</div>
        </div>
    </ion-nav-buttons>
    <ion-content>
        <ion-tabs class="tabs-light">

            <ion-tab class="tab-active-1" title="{{'tab.payed' | translate}}" badge="3" badge-style="badge-assertive">
                <div class="tab-content">
                    <div class="card">
                        <div class="item item-text-wrap">
                            <div class="row">
                                <div class="col col-30 text-s-size">
                                    <span class="bg-stable padding-3">8M08_A4090</span></div>
                                <div class="col col-50 text-s-size text-light-gray">2016/12/31 01:05 訂單成立</div>
                                <div class="col text-right text-s-size">
                                    <span class="bg-tab-color-1 text-white padding-3 refunds" ng-click="wantRefunds($event)">
                                        我要退費</span></div>
                            </div>
                            <div class="row">
                                <div class="col col-75 title prod_title">我的素描創作集 This is a basic Card which contains an item that has wrapping text.</div>
                                <div class="col col-25 text-right">$99,999</div>
                            </div>
                            <div class="row">
                                <div class="col col-75 title prod_title">我的素描創作集 This is a basic Card which contains an item that has wrapping text.</div>
                                <div class="col col-25 text-right">$99,999</div>
                            </div>
                            <div class="row">
                                <div class="col col-75 title prod_title">我的素描創作集 This is a basic Card which contains an item that has wrapping text.</div>
                                <div class="col col-25 text-right">$99,999</div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="row price-block border-top">
                                        <div class="col col-66 text-positive">
                                            <div class="image-mark"><img src="img/order-form-ss@2x.png" /></div>
                                            <div class="payment-mark">信用卡付款成功</div>
                                        </div>
                                        <div class="col col-34 text-right price-mark">
                                            NT<span class="price">$99,999</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="item item-text-wrap">
                            <div class="row">
                                <div class="col col-30 text-s-size">
                                    <span class="bg-stable padding-3">8M08_A4090</span></div>
                                <div class="col col-50 text-s-size text-light-gray">2016/12/31 01:05 訂單成立</div>
                                <div class="col text-right text-s-size">
                                    <span class="bg-tab-color-1 text-white padding-3 refunds" ng-click="wantRefunds($event)">
                                        我要退費</span></div>
                            </div>
                            <div class="row">
                                <div class="col col-75 title prod_title">我的素描創作集 This is a basic Card which contains an item that has wrapping text.</div>
                                <div class="col col-25 text-right">$99,999</div>
                            </div>
                            <div class="row">
                                <div class="col col-75 title prod_title">我的素描創作集 This is a basic Card which contains an item that has wrapping text.</div>
                                <div class="col col-25 text-right">$99,999</div>
                            </div>
                            <div class="row">
                                <div class="col col-75 title prod_title">我的素描創作集 This is a basic Card which contains an item that has wrapping text.</div>
                                <div class="col col-25 text-right">$99,999</div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="row price-block border-top">
                                        <div class="col col-66 text-positive">
                                            <div class="image-mark"><img src="img/order-form-ss@2x.png" /></div>
                                            <div class="payment-mark">信用卡付款成功</div>
                                        </div>
                                        <div class="col col-34 text-right price-mark">
                                            NT<span class="price">$99,999</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="item item-text-wrap">
                            <div class="row">
                                <div class="col col-30 text-s-size">
                                    <span class="bg-stable padding-3">8M08_A4090</span></div>
                                <div class="col col-50 text-s-size text-light-gray">2016/12/31 01:05 訂單成立</div>
                                <div class="col text-right text-s-size">
                                    <span class="bg-tab-color-1 text-white padding-3 refunds" ng-click="wantRefunds($event)">
                                        我要退費</span></div>
                            </div>
                            <div class="row">
                                <div class="col col-75 title prod_title">我的素描創作集 This is a basic Card which contains an item that has wrapping text.</div>
                                <div class="col col-25 text-right">$99,999</div>
                            </div>
                            <div class="row">
                                <div class="col col-75 title prod_title">我的素描創作集 This is a basic Card which contains an item that has wrapping text.</div>
                                <div class="col col-25 text-right">$99,999</div>
                            </div>
                            <div class="row">
                                <div class="col col-75 title prod_title">我的素描創作集 This is a basic Card which contains an item that has wrapping text.</div>
                                <div class="col col-25 text-right">$99,999</div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="row price-block border-top">
                                        <div class="col col-66 text-positive">
                                            <div class="image-mark"><img src="img/order-form-ss@2x.png" /></div>
                                            <div class="payment-mark">信用卡付款成功</div>
                                        </div>
                                        <div class="col col-34 text-right price-mark">
                                            NT<span class="price">$99,999</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="item item-text-wrap">
                            <div class="row">
                                <div class="col col-30 text-s-size">
                                    <span class="bg-stable padding-3">8M08_A4090</span></div>
                                <div class="col col-50 text-s-size text-light-gray">2016/12/31 01:05 訂單成立</div>
                                <div class="col text-right text-s-size">
                                    <span class="bg-tab-color-1 text-white padding-3 refunds" ng-click="wantRefunds($event)">
                                        我要退費</span></div>
                            </div>
                            <div class="row">
                                <div class="col col-75 title prod_title">我的素描創作集 This is a basic Card which contains an item that has wrapping text.</div>
                                <div class="col col-25 text-right">$99,999</div>
                            </div>
                            <div class="row">
                                <div class="col col-75 title prod_title">我的素描創作集 This is a basic Card which contains an item that has wrapping text.</div>
                                <div class="col col-25 text-right">$99,999</div>
                            </div>
                            <div class="row">
                                <div class="col col-75 title prod_title">我的素描創作集 This is a basic Card which contains an item that has wrapping text.</div>
                                <div class="col col-25 text-right">$99,999</div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="row price-block border-top">
                                        <div class="col col-66 text-positive">
                                            <div class="image-mark"><img src="img/order-form-ss@2x.png" /></div>
                                            <div class="payment-mark">信用卡付款成功</div>
                                        </div>
                                        <div class="col col-34 text-right price-mark">
                                            NT<span class="price">$99,999</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="item item-text-wrap">
                            <div class="row">
                                <div class="col col-30 text-s-size">
                                    <span class="bg-stable padding-3">8M08_A4090</span></div>
                                <div class="col col-50 text-s-size text-light-gray">2016/12/31 01:05 訂單成立</div>
                                <div class="col text-right text-s-size">
                                    <span class="bg-tab-color-1 text-white padding-3 refunds" ng-click="wantRefunds($event)">
                                        我要退費</span></div>
                            </div>
                            <div class="row">
                                <div class="col col-75 title prod_title">我的素描創作集 This is a basic Card which contains an item that has wrapping text.</div>
                                <div class="col col-25 text-right">$99,999</div>
                            </div>
                            <div class="row">
                                <div class="col col-75 title prod_title">我的素描創作集 This is a basic Card which contains an item that has wrapping text.</div>
                                <div class="col col-25 text-right">$99,999</div>
                            </div>
                            <div class="row">
                                <div class="col col-75 title prod_title">我的素描創作集 This is a basic Card which contains an item that has wrapping text.</div>
                                <div class="col col-25 text-right">$99,999</div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="row price-block border-top">
                                        <div class="col col-66 text-positive">
                                            <div class="image-mark"><img src="img/order-form-ss@2x.png" /></div>
                                            <div class="payment-mark">信用卡付款成功</div>
                                        </div>
                                        <div class="col col-34 text-right price-mark">
                                            NT<span class="price">$99,999</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ion-tab>

            <ion-tab class="tab-active-2" title="{{'tab.wait_for_pay' | translate}}" badge="4" badge-style="badge-assertive">
                <div class="tab-content">
                    tab-2
                </div>
            </ion-tab>

            <ion-tab class="tab-active-3" title="{{'tab.return_pay' | translate}}" badge="5" badge-style="badge-assertive">
                <div class="tab-content">
                    tab-3
                </div>
            </ion-tab>

        </ion-tabs>
    </ion-content>
</ion-view>