<ion-view class="step-2-content">
    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-ios-arrow-left" ng-click="goBack()"></button>
    </ion-nav-buttons>
    <ion-nav-title>
        <h1 class="title">購物車</h1>
    </ion-nav-title>
    <ion-content padding="true">
        <form name="paymentForm" novalidate ng-submit="submitForm(paymentForm)">
            <div class="title-row" ng-if="checkPayTypeIsCreditCard()">
                您的卡片資料
            </div>
            <div class="alert-text" ng-if="checkPayTypeIsCreditCard()">信用卡資料僅會儲存在您個人手機中</div>
            <div class="card credit-form" ng-if="checkPayTypeIsCreditCard()">
                <div class="row">
                    <div class="col col-33 col-offset-67 text-right">
                        <img src="img/visa-card.png" class="card-logo" ng-show="checkCardType() == 'visa'" />
                        <img src="img/master-card.png" class="card-logo" ng-show="checkCardType() == 'master'" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-33 text-right label">信用卡卡號</div>
                    <div class="col-66">
                        <label ng-class="{ 'has-error' : paymentForm.card_part1.$invalid}">
                            <input type="tel" name="card_part1" inputmode="numeric" pattern="[0-9]*"
                                   class="number-4 card-number"
                                   ng-model="card.number_part1"
                                   z-ng-next="card_part2" z-ng-next-length="4"
                                   z-ng-next-autofill="0" z-ng-next-autofill-length="4"
                                   maxlength="4" min="1" max="9999"
                                   z-ng-minlength="4" z-ng-maxlength="4"
                                   required>
                        </label>
                        <label ng-class="{ 'has-error' : paymentForm.card_part2.$invalid}">
                            <input type="tel" name="card_part2" inputmode="numeric" pattern="[0-9]*"
                                   class="number-4 card-number"
                                   ng-model="card.number_part2"
                                   sce-focus="card.number_part1.length == 4"
                                   z-ng-next="card_part3" z-ng-next-length="4"
                                   z-ng-next-autofill="0" z-ng-next-autofill-length="4"
                                   maxlength="4" min="1" max="9999"
                                   z-ng-minlength="4" z-ng-maxlength="4"
                                   required>
                        </label>
                        <label ng-class="{ 'has-error' : paymentForm.card_part3.$invalid}">
                            <input type="tel" name="card_part3" inputmode="numeric" pattern="[0-9]*"
                                   class="number-4 card-number"
                                   ng-model="card.number_part3"
                                   sce-focus="card.number_part2.length == 4"
                                   z-ng-next="card_part4" z-ng-next-length="4"
                                   z-ng-next-autofill="0" z-ng-next-autofill-length="4"
                                   maxlength="4" min="1" max="9999"
                                   z-ng-minlength="4" z-ng-maxlength="4"
                                   required>
                        </label>
                        <label ng-class="{ 'has-error' : paymentForm.card_part4.$invalid}">
                            <input type="tel" name="card_part4" inputmode="numeric" pattern="[0-9]*"
                                   class="number-4 card-number"
                                   ng-model="card.number_part4"
                                   sce-focus="card.number_part3.length == 4"
                                   z-ng-next="card_expire_month" z-ng-next-length="4"
                                   z-ng-next-autofill="0" z-ng-next-autofill-length="4"
                                   maxlength="4" min="1" max="9999"
                                   z-ng-minlength="4" z-ng-maxlength="4"
                                   required>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-33 text-right label">有效日期<br />(MM/YY)</div>
                    <div class="col-66 expire-date">
                        <label ng-class="{ 'has-error' : paymentForm.card_expire_month.$invalid}">
                            <input type="tel" name="card_expire_month" inputmode="numeric" pattern="[0-9]*"
                                   class="number-2 expire-month"
                                   ng-model="card.expire_month"
                                   sce-focus="card.number_part4.length == 4"
                                   z-ng-next="card_expire_year" z-ng-next-length="2"
                                   maxlength="2" min="1" max="12"
                                   z-ng-minlength="2" z-ng-maxlength="2"
                                   required>
                        </label>
                        <label ng-class="{ 'has-error' : paymentForm.card_expire_year.$invalid}">
                            <input type="tel" name="card_expire_year" inputmode="numeric" pattern="[0-9]*"
                                   class="number-2 expire-year"
                                   ng-model="card.expire_year"
                                   sce-focus="card.expire_month.length == 2"
                                   z-ng-next="card_cvc" z-ng-next-length="2"
                                   maxlength="2" min="16" max="99"
                                   z-ng-minlength="2" z-ng-maxlength="2"
                                   required>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-33 cvc-label text-right label">
                        卡片背面末 3 碼
                    </div>
                    <div class="col-66">
                        <label ng-class="{ 'has-error' : paymentForm.card_cvc.$invalid}">
                            <input type="tel" name="card_cvc" inputmode="numeric" pattern="[0-9]*"
                                   class="number-3 card-cvc"
                                   ng-model="card.cvc"
                                   sce-focus="card.expire_year.length == 2"
                                   z-ng-next="card_holder" z-ng-next-length="3"
                                   z-ng-next-autofill="0" z-ng-next-autofill-length="3"
                                   maxlength="3" min="1" max="999"
                                   z-ng-minlength="3" z-ng-maxlength="3"
                                   required>
                        </label>
                    </div>
                </div>
            </div>
            <div class="content-list" ng-if="false && !checkPayTypeIsCreditCard()">
                <div class="row tip-text-row">
                    <div class="col col-20">
                        <img src="img/attention@2x.png" /></div>
                    <div class="col col-tip-text">
                        {{ '避免課程異動或詳細課程解說資訊聯繫，會員資料務必填寫清楚' }}</div>
                </div>
                <div class="row">
                    <div class="col col-20 col-title col-padding-top">姓名</div>
                    <div class="col col-input" ng-class="{ 'has-error' : paymentForm.username.$invalid}">
                        <input type="text" name="username"
                               ng-model="user.memb_name"
                               required>
                    </div>
                </div>
                <div class="row row-margin-top">
                    <div class="col col-title">身分證字號</div>
                </div>
                <div class="row">
                    <div class="col col-ident" ng-class="{ 'has-error' : paymentForm.userident.$invalid}">
                        <input type="text" name="userident"
                               ng-model="user.memb_ident"
                               required>
                    </div>
                </div>
                <div class="row-separater"></div>
                <div class="row">
                    <div class="col col-title">聯絡電話</div>
                </div>
                <div class="row">
                    <div class="col col-mobile" ng-class="{ 'has-error' : paymentForm.phone.$invalid}">
                        <input type="text" name="phone"
                               ng-model="user.memb_mobile"
                               required>
                    </div>
                </div>
                <div class="row row-margin-top">
                    <div class="col col-title">電子信箱</div>
                </div>
                <div class="row row-margin-bottom">
                    <div class="col col-email" ng-class="{ 'has-error' : paymentForm.email.$invalid}">
                        <input type="email" name="email"
                               ng-model="user.memb_email"
                               required>
                    </div>
                </div>
            </div>
            <div class="info-list" ng-if="true || checkPayTypeIsCreditCard()">
                <div class="info-header">
                    您的聯絡資料
                </div>
                <div class="info-data">
                    <div class="row">
                        <div class="col col-33">姓名</div>
                        <div class="col col-value"><span ng-bind="::user.memb_name"></span></div>
                    </div>
                    <div class="row">
                        <div class="col col-33">E-mail</div>
                        <div class="col col-value"><span ng-bind="::user.memb_email"></span></div>
                    </div>
                    <div class="row">
                        <div class="col col-33">手機</div>
                        <div class="col col-value"><span ng-bind="::user.memb_mobile"></span></div>
                    </div>
                    <div class="row">
                        <div class="col col-33">身分證字號</div>
                        <div class="col col-value">
                            <span class="alert-text" ng-if="user.memb_ident == ''">
                                必須設定身分證字號才能結帳，請前往 <a href class="link" ng-click="goMemberEdit()">會員中心</a> 設定
                            </span>
                            <span ng-bind="::user.memb_ident" ng-if="checkPayTypeIsCreditCard() || user.memb_ident != ''"></span>
                        </div>
                    </div>
                    <div class="tip-text">
                        為避免本部課程異動或詳細課程解說資訊聯繫，會員資料務必填寫清楚，如需修改會員聯絡資料，請前往<span class="link" ng-click="goMemberEdit()">會員中心</span>修改。
                    </div>
                </div>
            </div>
            <div ng-if="checkPayTypeIsCreditCard()">
                <button class="button button-block button-black" ng-bind="'前往結帳'" ng-disabled="user.memb_ident == ''"></button>
            </div>
            <div ng-if="!checkPayTypeIsCreditCard()">
                <button class="button button-block button-black"
                        ng-bind="'確認送出'" ng-disabled="user.memb_ident == ''"></button>
            </div>
        </form>
    </ion-content>
</ion-view>
