<ion-view class="member-order-info" ng-controller="MemberOrderInfoController">
    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-ios-arrow-left" ng-click="goBack()"></button>
    </ion-nav-buttons>
    <ion-nav-title>繳費資訊</ion-nav-title>
    <ion-nav-buttons side="right">
        <button class="button button-icon icon sprite-icon shoppingcar-icon" ng-click="goCart()">
            <i class="sprite-icon-shoppingcar-o-2x"></i>
        </button>
        <div class="cart-badge-container" ng-show="carts.length > 0" ng-click="goCart()">
            <div class="badge badge-assertive badge-s-size cart-badge">{{carts.length}}</div>
        </div>
    </ion-nav-buttons>
    <ion-content>
        <div class="card">
            <div class="row">
                <div class="col-20 text-center cart-logo shift-cart-logo">
                    <img src="img/cart-order@2x.png" />
                </div>
                <div class="col-80">
                    <h3 class="title">感謝您的選購‧‧‧</h3>
                    <div class="sub-title">請依以下資訊完成 ATM 轉帳付款</div>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <div class="text-block-tips text-tips text-left">
                        <div class="row">
                            <div class="col col-66">
                                <h4>國泰世華銀行</h4></div>
                            <div class="col text-center col-bank-code">
                                <h4>代號 013</h4></div>
                        </div>
                        <div class="row">
                            <div class="col">ATM 轉帳帳號</div>
                        </div>
                        <div class="row">
                            <div class="col col-account"><h3>{{ bank.account }}</h3></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col text-right price-mark">
                    總金額
                    <span class="price">
                        {{ bank.amount | currency:undefined:0 }}
                    </span>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>