<ion-view class="member-payment-list" ng-controller="MemberPaymentListController">
    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-ios-arrow-left" ng-click="goBack()"></button>
    </ion-nav-buttons>
    <ion-nav-title>
        <h1 class="title">付款設定</h1>
    </ion-nav-title>
    <ion-nav-buttons side="right">
        <button class="button button-icon icon sprite-icon shoppingcar-icon" ng-click="goCart()">
            <i class="sprite-icon-shoppingcar-o-2x"></i>
        </button>
        <div class="cart-badge-container" ng-show="carts.length > 0" ng-click="goCart()">
            <div class="badge badge-assertive badge-s-size cart-badge">{{carts.length}}</div>
        </div>
    </ion-nav-buttons>
    <ion-content>
        <div class="content no-card-content" ng-if="checkCardListIsEmpty() == true">
            <div class="logo-row text-center">
                <img src="img/my-creditcard-add.png" />
            </div>
            <div class="text-row text-center">
                <span ng-bind="'尚未設定任何卡片'"></span>
            </div>
            <div class="button-row">
                <button class="button button-full button-positive" ng-click="openNewCardBox()">
                    {{ '立即新增' }}
                </button>
                <div class="alert-text">信用卡資料僅會儲存在您個人手機中</div>
            </div>
        </div>
        <div class="content" ng-if="checkCardListIsEmpty() == false">
            <div class="row">
                <div class="col ">
                    <span ng-bind="pay_list_title"></span>
                </div>
            </div>
            <div class="row">
                <div class="col col-show-text">
                    <div class="show-default-text text-center">
                        預設付款
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <ion-list>
                        <ion-item ng-repeat="card in card_list track by $index"
                                  class="item-remove-animate"
                                  item="card">
                            <div class="card-row">
                                <div class="col-card col-card-number">
                                    <div class="card-logo">
                                        <img src="img/visa-card.png" class="card-logo visa-card"
                                             ng-show="checkCardType(card.number_part1) == 'visa'" />
                                        <img src="img/master-card.png" class="card-logo"
                                             ng-show="checkCardType(card.number_part1) == 'master'" />
                                    </div>
                                    <div class="card-number">
                                        <span class="type" ng-bind="'個人'"></span>
                                        <i class="ion-record"></i>
                                        <i class="ion-record"></i>
                                        <i class="ion-record"></i>
                                        <i class="ion-record"></i>
                                        <span class="number">
                                            {{ card['number_part4'] }}
                                        </span>
                                    </div>
                                </div>
                                <div class="col-card col-card-option text-center">
                                    <ion-radio ng-model="card.default"
                                               ng-click="toggleDefaultCard(card)"
                                               ng-class="{ 'selected': card.default == true }">
                                        <i ng-class="{ 'ion-android-radio-button-on': card.default == true,
                                                   'ion-android-radio-button-off': card.default == false }"></i>
                                    </ion-radio>
                                </div>
                                <ion-option-button class="ion-android-delete"
                                                   ng-click="onItemDelete(card)">
                                </ion-option-button>
                            </div>
                        </ion-item>
                    </ion-list>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="alert-text">信用卡資料僅會儲存在您個人手機中</div>
                    <div class="new-card-item text-positive" ng-click="openNewCardBox()">
                        <i class="ion-plus"></i>
                        <span>{{ '新增付款方式' }}</span>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
    <script id="templates/modal-new-card.html" type="text/ng-template">
        <ion-modal-view class="modal-box new-card-box">
            <ion-content class="padding" scroll="false">
                <form name="newCardForm" novalidate ng-submit="submitForm(newCardForm)">
                    <div class="card">
                        <div class="card-logo text-right">
                            <img src="img/visa-card.png" class="visa-card" ng-show="checkCardType(card.number_part1) == 'visa'" />
                            <img src="img/master-card.png" ng-show="checkCardType(card.number_part1) == 'master'" />
                            <img src="img/add-visa.png" ng-show="checkCardType(card.number_part1) == ''" />
                        </div>
                        <div class="row">
                            <div class="col col-31 col-padding-top-10">{{ '信用卡卡號' }}</div>
                            <div class="col col-value">
                                <label ng-class="{ 'has-error' : newCardForm.card_part1.$invalid}">
                                    <input type="tel" name="card_part1" inputmode="numeric" pattern="[0-9]*"
                                           class="number-4 card-number"
                                           ng-model="card.number_part1"
                                           sce-string-pad="0"
                                           sce-string-pad-model="card.number_part1_string"
                                           sce-string-pad-length="4"
                                           z-ng-next="card_part2" z-ng-next-length="4"
                                           z-ng-next-autofill="0" z-ng-next-autofill-length="4"
                                           maxlength="4" min="1" max="9999"
                                           z-ng-minlength="4" z-ng-maxlength="4"
                                           required>
                                </label>
                                <label ng-class="{ 'has-error' : newCardForm.card_part2.$invalid}">
                                    <input type="tel" name="card_part2" inputmode="numeric" pattern="[0-9]*"
                                           class="number-4 card-number"
                                           ng-model="card.number_part2"
                                           sce-string-pad="0"
                                           sce-string-pad-model="card.number_part2_string"
                                           sce-string-pad-length="4"
                                           sce-focus="card.number_part1.length == 4"
                                           z-ng-next="card_part3" z-ng-next-length="4"
                                           z-ng-next-autofill="0" z-ng-next-autofill-length="4"
                                           maxlength="4" min="1" max="9999"
                                           z-ng-minlength="4" z-ng-maxlength="4"
                                           required>
                                </label>
                                <label ng-class="{ 'has-error' : newCardForm.card_part3.$invalid}">
                                    <input type="tel" name="card_part3" inputmode="numeric" pattern="[0-9]*"
                                           class="number-4 card-number"
                                           ng-model="card.number_part3"
                                           sce-focus="card.number_part2.length == 4"
                                           z-ng-next="card_part4" z-ng-next-length="4"
                                           z-ng-next-autofill="0" z-ng-next-autofill-length="4"
                                           maxlength="4" min="1" max="9999"
                                           z-ng-minlength="4" z-ng-maxlength="4"
                                           required>
                                </label>
                                <label ng-class="{ 'has-error' : newCardForm.card_part4.$invalid}">
                                    <input type="tel" name="card_part4" inputmode="numeric" pattern="[0-9]*"
                                           class="number-4 card-number"
                                           ng-model="card.number_part4"
                                           sce-focus="card.number_part3.length == 4"
                                           z-ng-next="card_expire_month" z-ng-next-length="4"
                                           z-ng-next-autofill="0" z-ng-next-autofill-length="4"
                                           maxlength="4" min="1" max="9999"
                                           z-ng-minlength="4" z-ng-maxlength="4"
                                           required>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-31">{{ '有效日期 (MM/YY)' }}</div>
                            <div class="col col-value col-padding-top-10">
                                <label ng-class="{ 'has-error' : newCardForm.card_expire_month.$invalid}">
                                    <input type="tel" name="card_expire_month" inputmode="numeric" pattern="[0-9]*"
                                           class="number-2 expire-month"
                                           ng-model="card.expire_month"
                                           sce-focus="card.number_part4.length == 4"
                                           z-ng-next="card_expire_year" z-ng-next-length="2"
                                           maxlength="2" min="1" max="12"
                                           z-ng-minlength="2" z-ng-maxlength="2"
                                           required>
                                </label>
                                <label ng-class="{ 'has-error' : newCardForm.card_expire_year.$invalid}">
                                    <input type="tel" name="card_expire_year" inputmode="numeric" pattern="[0-9]*"
                                           class="number-2 expire-year"
                                           ng-model="card.expire_year"
                                           sce-focus="card.expire_month.length == 2"
                                           z-ng-next="card_cvc" z-ng-next-length="2"
                                           maxlength="2" min="16" max="99"
                                           z-ng-minlength="2" z-ng-maxlength="2"
                                           required>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="button-row">
                        <button class="button button-full button-positive">
                            {{ '儲存' }}
                        </button>
                    </div>
                </form>
            </ion-content>
        </ion-modal-view>
    </script>
</ion-view>