<ion-view class="member-wish-list" ng-controller="MemberWishListController">
    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-ios-arrow-left" ng-click="goBack()"></button>
    </ion-nav-buttons>
    <ion-nav-title>{{ '收藏清單' }}</ion-nav-title>
    <ion-nav-buttons side="right">
        <button class="button button-icon icon sprite-icon shoppingcar-icon" ng-click="goCart()">
            <i class="sprite-icon-shoppingcar-o-2x"></i>
        </button>
        <div class="cart-badge-container" ng-show="carts.length > 0" ng-click="goCart()">
            <div class="badge badge-assertive badge-s-size cart-badge">{{carts.length}}</div>
        </div>
    </ion-nav-buttons>
    <ion-content padding="true">
        <div ng-repeat="course in courses">
            <div class="card" prod-id="{{ course.Prod_Id }}"
                 ng-click="switchToCourseInfo(course.Shop_Id, course.Prod_Id)" ng-if="course.Status != 'OF'">
                <div class="item item-text-wrap">
                    <div class="row">
                        <div class="col course-no">
                            <span class="course-no-span" ng-bind="course.Prod_Id"></span></div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="course-date">
                                <div class="year" ng-bind="course.year"></div>
                                <div class="date" ng-bind="course.date"></div>
                                <div class="weekday" ng-bind="course.weekday"></div>
                            </div>
                        </div>
                        <div class="col col-80 course-info">
                            <div class="course-title">
                                {{ course.Prod_Name }} {{ course.Prod_SubName }}
                            </div>
                            <div class="course-detail">
                                <p><img src="img/location@2x.png" class="small-icon"/>上課地點： {{ course.Prod_ClsLocation }}</p>
                                <p><img src="img/time@2x.png" class="small-icon"/>上課時數： {{ course.Prod_ClsHours }}</p>
                                <p><img src="img/calendar@2x.png" class="small-icon"/>上課時段： {{ course.Prod_ClsTime }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-20">
                            <span class="special-price-mark">優惠價</span>
                        </div>
                        <div class="col col-70 col-price">
                            NT<span class="course-price">{{ course.Prod_Price | currency:undefined:0 }}</span>
                        </div>
                        <div class="col text-right">
                            <img class="course-keep-img" ng-src="img/{{ course.keep_image_name }}"
                                 ng-click="removeFromWish(course, $event)"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card" prod-id="{{ course.Prod_Id }}"
                 ng-if="course.Status == 'OF'">
                <ion-list>
                    <ion-item class="item-remove-animate item-text-wrap">
                        <div class="row">
                            <div class="col course-no">
                                <span class="course-no-span" ng-bind="course.Prod_Id"></span></div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="course-date">
                                    <div class="year" ng-bind="course.year"></div>
                                    <div class="date" ng-bind="course.date"></div>
                                    <div class="weekday" ng-bind="course.weekday"></div>
                                </div>
                            </div>
                            <div class="col col-80 course-info">
                                <div class="course-title">
                                    {{ course.Prod_Name }} {{ course.Prod_SubName }}
                                </div>
                                <div class="course-detail">
                                    <p><img src="img/location@2x.png" class="small-icon"/>上課地點： {{ course.Prod_ClsLocation }}
                                    </p>
                                    <p><img src="img/time@2x.png" class="small-icon"/>上課時數： {{ course.Prod_ClsHours }}</p>
                                    <p><img src="img/calendar@2x.png" class="small-icon"/>上課時段： {{ course.Prod_ClsTime }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-20">
                                <span class="special-price-mark">優惠價</span>
                            </div>
                            <div class="col col-70 col-price">
                                NT<span class="course-price">{{ course.Prod_Price | currency:undefined:0 }}</span>
                            </div>
                            <div class="col text-right">
                                <img class="course-keep-img" ng-src="img/{{ course.keep_image_name }}" />
                            </div>
                        </div>
                        <div class="offline-mask">
                            <div class="mask-icon">
                                <div class="icon-container">
                                    <div class="icon">
                                        <img src="img/shoppingcar-no@2x.png"/></div>
                                </div>
                            </div>
                            <div class="mask-text">商品已下架</div>
                        </div>
                        <ion-option-button ng-click="gotoSuggestion()">
                            <button class="button button-icon ion-ios-email-outline"></button>
                        </ion-option-button>
                        <ion-option-button ng-click="removeFromWish(course, $event)">
                            <button class="button button-icon ion-ios-trash-outline"></button>
                        </ion-option-button>
                    </ion-item>
                </ion-list>
            </div>
        </div>
    </ion-content>
</ion-view>