<ion-view class="dashboard" ng-controller="DashboardController">
    <ion-nav-buttons side="left">
        <button class="button button-icon icon sprite-icon" ng-click="goMemberDashboard()">
            <i class="sprite-icon-member"></i>
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon icon sprite-icon shoppingcar-icon"
                ng-class="{ 'shopping-cart-has-item': carts.length > 0 }"
                ng-click="goCart()">
            <i class="sprite-icon-shoppingcar-o-2x"></i>
        </button>
        <div class="cart-badge-container" ng-show="carts.length > 0" ng-click="goCart()">
            <div class="badge badge-assertive badge-s-size cart-badge">{{ carts.length }}</div>
        </div>
    </ion-nav-buttons>
    <ion-nav-title>
        <h1 class="title">大學聯網</h1>
    </ion-nav-title>
    <ion-content class="has-header" padding="false" ng-class="{'pane-content': true}">
        <div class="studycard-slides slides padding"
             ng-controller="StudyCardSlideController"
             ng-show="studyCardVisible"
             ng-cloak>
            <ng-include src="'partial/dashboard-studycard-slides.html'"></ng-include>
        </div>
        <div class="search-slides slides"
             ng-controller="SearchSlideController"
             ng-class="{ 'guest-slides': !studyCardVisible}"
             ng-cloak>
            <ng-include src="'partial/dashboard-search-slides.html'"></ng-include>
        </div>
        <div class="tabs tabs-light tabs-icon-top icon-tabs-bar">
            <a class="tab-item" ng-click="goCatalogs()">
                <img src="img/class@2x.png" /> 課程分類
            </a>
            <a class="tab-item" ng-click="goEbookList()">
                <img src="img/ebook@2x.png" /> 新識力
            </a>
            <a class="tab-item" ng-click="goLocation()">
                <img src="img/map@2x.png" /> 交通資訊
            </a>
        </div>
    </ion-content>
    <script id="templates/modal-course-time.html" type="text/ng-template">
        <ion-modal-view class="modal-box course-time-box" ng-controller="DashboardCourseTimeController">
            <ion-content padding="true" scroll="false">
                <div class="text-center course-time-icon">
                    <img src="img/calendar-add@2x.png" />
                </div>
                <div class="text-center course-time-text">
                    <p>把此次上課日期</p>
                    <p>加入自己的行事曆吧</p>
                </div>
                <div class="text-center course-time-button">
                    <button class="button button-full button-positive">
                        加入行事曆
                    </button>
                </div>
            </ion-content>
        </ion-modal-view>
    </script>
    <script id="templates/modal-course-location.html" type="text/ng-template">
        <ion-modal-view class="modal-box course-location-box" ng-controller="DashboardCourseLocationController">
            <ion-content padding="true" scroll="false">
                <div class="text-center course-location-icon">
                    <img src="img/location-check@2x.png" />
                </div>
                <div class="text-center course-location-text">
                    <p>上課地點：建國分部</p>
                    <p>地址：台北市建國南路二段231號</p>
                </div>
                <div class="text-center course-location-button">
                    <button class="button button-full button-positive">
                        前往地圖
                    </button>
                </div>
            </ion-content>
        </ion-modal-view>
    </script>
    <script id="templates/modal-feedback.html" type="text/ng-template">
        <ion-modal-view class="modal-box feedback-box" ng-controller="DashboardFeedbackController">
            <ion-content padding="true" scroll="false">
                <div class="row">
                    <div class="col title">
                        <h3>{{ currentCard.Prod_Name }}</h3>
                    </div>
                </div>
                <div class="topic" ng-repeat="topic in topics">
                    <div class="row" ng-if="topic.Topic_StatType == 'avg'">
                        <div class="col col-50 col-item-title">
                            {{ topic.Topic_Name }}
                        </div>
                        <div class="col">
                            <div star-rating ng-model="rating[$index]" max="5" on-rating-select="rateFunction($index, rating)"></div>
                        </div>
                    </div>
                    <div ng-if="topic.Topic_StatType == 'text'">
                        <div class="row">
                            <div class="col col-item-title">
                                {{ topic.Topic_Name }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <textarea name="commet" class="textarea" rows="3" cols="40" ng-model="comment[$index]"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button class="button button-full button-positive" ng-click="submitFeedback()">提交</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-gray">
                        <div class="text-center">您的寶貴建議，是我們進步的動力</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="text-center text-positive">
                            <span ng-click="closeSurvey()">下次再填</span>
                        </div>
                    </div>
                </div>
            </ion-content>
        </ion-modal-view>
    </script>
    <script id="templates/modal-weekday.html" type="text/ng-template">
        <ion-modal-view class="modal-box weekday-box" ng-controller="DashboardWeekdayController">
            <ion-header-bar class="bar bar-header bar-positive">
                <div class="row">
                    <div class="col">
                        平日
                    </div>
                    <div class="col">
                        週末
                    </div>
                </div>
            </ion-header-bar>
            <ion-content class="padding" scroll="false">
                <div class="row">
                    <div class="col">
                        <ion-checkbox ng-model="weekdays.monday">星期一</ion-checkbox>
                        <ion-checkbox ng-model="weekdays.tuesday">星期二</ion-checkbox>
                        <ion-checkbox ng-model="weekdays.wednesday">星期三</ion-checkbox>
                        <ion-checkbox ng-model="weekdays.thursday">星期四</ion-checkbox>
                        <ion-checkbox ng-model="weekdays.friday">星期五</ion-checkbox>
                    </div>
                    <div class="col">
                        <ion-checkbox ng-model="weekdays.saturday">星期六</ion-checkbox>
                        <ion-checkbox ng-model="weekdays.sunday">星期日</ion-checkbox>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <ion-checkbox ng-checked="checkIsEverydayChecked()" ng-click="everydayClick(!checkIsEverydayChecked())">時間不拘</ion-checkbox>
                    </div>
                </div>
                <button class="button button-full button-positive" ng-click="weekdayConfirmClick()">確定</button>
            </ion-content>
        </ion-modal-view>
    </script>
    <script id="templates/modal-location.html" type="text/ng-template">
        <ion-modal-view class="modal-box location-box" ng-controller="DashboardLocationController">
            <ion-header-bar class="bar bar-header bar-positive">
                <div class="row">
                    <div class="col">
                        請選擇上課地點
                    </div>
                </div>
            </ion-header-bar>
            <ion-content class="padding" scroll="false">
                <ion-list>
                    <ion-checkbox ng-checked="checkIsTaipeiChecked()" ng-click="taipeiClick(!checkIsTaipeiChecked())"><div class="icon-image"><img src="img/location-wish@2x.png" /></div><div class="icon-text">台北</div></ion-checkbox>
                    <ion-checkbox ng-model="locations.loc1"><div class="text-item">建國本部 (大夏館)</div></ion-checkbox>
                    <ion-checkbox ng-model="locations.loc2"><div class="text-item">忠孝分部 (忠孝館)</div></ion-checkbox>
                    <ion-checkbox ng-model="locations.loc3"><div class="text-item">延平分部 (大新館)</div></ion-checkbox>
                    <ion-checkbox ng-model="locations.loc4"><div class="text-item">大安館</div></ion-checkbox>
                </ion-list>
                <ion-list>
                    <ion-checkbox ng-model="locations.loc5"><div class="icon-image"><img src="img/location-wish@2x.png" /></div><div class="icon-text">台中</div></ion-checkbox>
                </ion-list>
                <ion-list>
                    <ion-checkbox ng-model="locations.loc6"><div class="icon-image"><img src="img/location-wish@2x.png" /></div><div class="icon-text">高雄</div></ion-checkbox>
                </ion-list>
                <ion-list>
                    <ion-checkbox ng-checked="checkIsEverywhereChecked()" ng-click="everywhereClick(!checkIsEverywhereChecked())"><div class="icon-image"><img src="img/location-wish@2x.png" /></div><div class="icon-text">地點不拘</div></ion-checkbox>
                </ion-list>
                <button class="button button-full button-positive" ng-click="locationConfirmClick()">確定</button>
            </ion-content>
        </ion-modal-view>
    </script>
</ion-view>