<ion-view class="email-confirm-pane" ng-controller="EmailConfirmController">
    <ion-nav-title>
        <h1 class="title">身分驗證</h1>
    </ion-nav-title>
    <ion-content padding="true" overflow-scroll="false">
        <div class="pane-content">
            <div>
                <img class="pane-logo" src="img/registered-bymail@2x.png">
            </div>
            <p class="text-line-1 text-center">{{ '驗證碼已傳送至' }}</p>
            <h3 class="text-center" ng-bind="email"></h3>
            <form name="emailConfirmForm" class="form phone-confirm-form" novalidate ng-submit="submitForm(emailConfirmForm)">
                <div class="list">
                    <label class="item item-input item-floating-label"
                           ng-class="{ 'has-error' : emailConfirmForm.verify_code.$invalid }">
                        <span class="input-label">{{ '驗證碼' }}</span>
                        <input type="number" name="verify_code"
                               placeholder="{{ '請輸入驗證碼' }}"
                               ng-model="input_data.verify_code"
                               required>
                        <span class="sprite-icon has-error-icon">
                            <i class="sprite-icon-order-form-st-2x"></i>
                        </span>
                    </label>
                    <div class="tiptext" ng-if="false">
                        <span>* 請於</span>
                        <span ng-bind="member.phone_valid_expire"></span>
                        <span>前完成驗證</span>
                    </div>
                    <div class="tiptext">
                        <span>* 如果還沒收到驗證碼，</span>
                        <span ng-show="expire_countdown != '00:00'">還有 </span>
                        <span ng-bind="expire_countdown" ng-show="expire_countdown != '00:00'"></span>
                        <span ng-show="expire_countdown != '00:00'"> 可以重新發送</span>
                        <span ng-show="expire_countdown == '00:00'">請點選重新發送</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col"><input type="button" class="button button-block button-dark" ng-click="goBack()" value="取消" /></div>
                    <div class="col col-67"><button class="button button-block button-positive">送出</button></div>
                </div>
                <div class="row resend-row">
                    <div class="col">
                        <input type="button" class="button button-block button-dark"
                               value="重新發送"
                               ng-if="showReSend"
                               ng-click="resend()" />
                    </div>
                </div>
            </form>
        </div>
    </ion-content>
</ion-view>