<ion-view class="forgotpassword-pane" ng-controller="ForgotPasswordController">
    <ion-nav-title>
        忘記密碼
    </ion-nav-title>
    <ion-content class="has-header" padding="true">
        <div class="pane-content">
            <div>
                <img class="pane-logo" src="img/registered03@2x.png">
            </div>
            <p class="text-line-1 text-center">{{'別擔心，我們幫你找回密碼'}}</p>
            <div class="text-line-2">
                <p>{{'我們想要確定您為帳號使用本人'}}</p>
                <p>{{'請輸入相關資料以驗證這是您的帳號'}}</p>
            </div>
            <form class="list form-data">
                <label class="item item-input blue-input">
                    <input placeholder="帳號" type="text">
                </label>
                <label class="item item-input blue-input">
                    <input placeholder="請輸入手機或 mail" type="text">
                </label>
            </form>
            <div class="row">
                <div class="col"><button class="button button-block button-dark" ng-click="goBack()">取消</button></div>
                <div class="col col-67"><button class="button button-block button-positive">下一步</button></div>
            </div>
        </div>
    </ion-content>
</ion-view>