<ion-view class="forgotpassword-pane" ng-controller="ForgotPasswordController">
    <ion-nav-title>
        忘記密碼
    </ion-nav-title>
    <ion-content class="has-header" padding="true">
        <div class="pane-content">
            <div>
                <img class="pane-logo" src="img/registered03@2x.png">
            </div>
            <p class="text-line-1 text-center">{{ '別擔心，我們幫你找回密碼' }}</p>
            <div class="text-line-2">
                <p>{{ '我們想要確定您為帳號使用本人' }}</p>
                <p>{{ '請輸入相關資料以驗證這是您的帳號' }}</p>
            </div>
            <form name="forgotForm" class="form forgot-form" novalidate ng-submit="submitForm(forgotForm)">
                <div class="list">
                    <label class="item item-input item-floating-label"
                           ng-class="{ 'has-error' : forgotForm.name.$invalid }">
                        <span class="input-label">姓名</span>
                        <input type="text" name="name"
                               placeholder="姓名"
                               ng-model="user.name"
                               required>
                    </label>
                    <label class="item item-input item-floating-label"
                           ng-class="{ 'has-error' : forgotForm.email.$invalid }">
                        <span class="input-label">Email</span>
                        <input type="email" name="email"
                               placeholder="Email"
                               ng-model="user.email"
                               required>
                    </label>
                </div>
                <div class="row">
                    <div class="col"><button class="button button-block button-dark" ng-click="goBack()">取消</button></div>
                    <div class="col col-67"><button class="button button-block button-positive">下一步</button></div>
                </div>
            </form>
        </div>
    </ion-content>
    <script id="templates/modal-forgot-sended.html" type="text/ng-template">
        <ion-modal-view class="modal-box forgot-sended-box">
            <ion-content padding="true" scroll="false">
                <div class="row icon-row">
                    <div class="col text-center">
                        <img src="img/registered05@2x.png" />
                    </div>
                </div>
                <div class="row text-row">
                    <div class="col text-center">
                        {{ '密碼重設的訊息已寄至您的電子郵件信箱中，請前往確認' }}
                    </div>
                </div>
                <div class="row button-row">
                    <div class="col">
                        <button class="button button-full button-positive" ng-click="confirmClick()">確定</button>
                    </div>
                </div>
            </ion-content>
        </ion-modal-view>
    </script>
</ion-view>