<ion-view class="location-view" ng-controller="LocationController">
    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-ios-arrow-left" ng-click="goBack()"></button>
    </ion-nav-buttons>
    <ion-nav-title>{{ '交通資訊' }}</ion-nav-title>
    <ion-content>
        <div class="location-card-container" ng-repeat="location in locations">
            <div class="main-map-img"
                 ng-click="goMap(location.address, location.gps, $event)"><img src="img/main-map-01.png" /></div>
            <div class="location-card">
                <div class="title" ng-bind="location.name"></div>
                <div class="row">
                    <div class="col col-33 col-status text-center">
                        <div ng-if="getOpenOrClosed($index)" class="open" ng-click="open()">
                            <div><img src="img/main-map-open.png" /></div>
                            <div>開館中</div>
                        </div>
                        <div ng-if="!getOpenOrClosed($index)" class="close" ng-click="closed()">
                            <div><img src="img/main-map-close.png" /></div>
                            <div>閉館中</div>
                        </div>
                    </div>
                    <div class="col col-info">
                        <div><img src="img/main-map-time.png" />09:00 - 21:00</div>
                        <div><img src="img/main-map-location.png" />台北市建國南路二段231號</div>
                        <div><img src="img/main-map-tel.png" />02-2700-5858</div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>