<ion-view class="location-view" ng-controller="LocationController">
    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-ios-arrow-left" ng-click="goBack()"></button>
    </ion-nav-buttons>
    <ion-nav-title>{{ '交通資訊' }}</ion-nav-title>
    <ion-content>
        <div class="location-card-container" ng-repeat="location in locations" toggle-visible="front" toggle-visible-rear="rear">
            <div class="location-card front-card" ng-style="{'background-image': 'url(' + location.location_front + ')', 'height': '100%'}">
                <div class="card-backdrop"></div>
            </div>
            <div class="front">
                <div class="title">{{ location.name }}</div>
                <div class="map">
                    <a ng-href="geo:{{ parseGPS(location.gps) }}" ng-if="false">
                        <div class="text" ng-click="goMap(location.address, location.gps, $event)">MAP</div>
                    </a>
                    <div class="text" ng-click="goMap(location.address, location.gps, $event)">MAP</div>
                </div>
                <div class="info-icon">
                    <div class="icon">
                        <i class="ion-information-circled"></i>
                    </div>
                </div>
            </div>
            <div class="rear">
                <div class="text-line">
                    <div class="row">
                        <div class="col">{{ '諮詢報名時間(國定假日除外)' }}</div>
                    </div>
                    <div class="row">
                        <div class="col col-33">週一至週五</div>
                        <div class="col">09:00-21:00</div>
                    </div>
                    <div class="row">
                        <div class="col col-33">週一至週五</div>
                        <div class="col">09:00-21:00</div>
                    </div>
                    <div class="row">
                        <div class="col col-33">週一至週五</div>
                        <div class="col">09:00-21:00</div>
                    </div>
                    <div class="row">
                        <div class="col col-20">{{ '電話 : ' }}</div>
                        <div class="col">
                            <a ng-href="tel:{{ location.tel }}"
                               ng-click="goPhoneCall(location.tel, $event)">{{ location.tel }}</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-20">{{ '地址 : ' }}</div>
                        <div class="col">{{ location.address }}</div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>