<ion-view class="location-view" ng-controller="LocationController">
    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-ios-arrow-left" ng-click="goBack()"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon icon sprite-icon shoppingcar-icon" ng-click="goCart()">
            <i class="sprite-icon-shoppingcar-o-2x"></i>
        </button>
        <div class="cart-badge-container" ng-show="carts.length > 0" ng-click="goCart()">
            <div class="badge badge-assertive badge-s-size cart-badge">{{carts.length}}</div>
        </div>
    </ion-nav-buttons>
    <ion-nav-title>
        <h1 class="title">交通資訊</h1>
    </ion-nav-title>
    <ion-content>
        <ion-refresher
            pulling-text="{{ '下拉更新...' }}"
            on-refresh="doRefresh()">
        </ion-refresher>
        <div class="card location-card-container" ng-repeat="location in locations" ng-init="item = getLocationItem(location.name)">
            <div class="header-map-img">
                <div class="row">
                    <div class="col col-33 building-name"
                         ng-style="{'background-color': item.bgcolor}">
                        <div ng-bind="item.html_name1"></div>
                        <div ng-bind="item.html_name2"></div>
                    </div>
                    <div class="col building-image"
                         ng-style="{'background-image': 'url(' + location.location_rear + ')'}"></div>
                </div>
            </div>
            <div class="main-map-img"
                 ng-click="goMap(location.address, location.gps, location.name)"><img ng-src="{{ location.location_front }}" /></div>
            <div class="location-card">
                <div class="title" ng-bind="location.name" ng-if="false"></div>
                <div class="row">
                    <div class="col col-33 col-status text-center">
                        <div ng-if="checkInTime(location.current_open_times)" class="open" ng-click="open(location.tel)">
                            <div><img src="img/main-map-open.png" /></div>
                            <div>開館中</div>
                        </div>
                        <div ng-if="!checkInTime(location.current_open_times)" class="close" ng-click="closed()">
                            <div><img src="img/main-map-close.png" /></div>
                            <div>閉館中</div>
                        </div>
                    </div>
                    <div class="col col-info">
                        <div class="row time-row">
                            <div class="col col-10"><img src="img/main-map-time.png" /></div>
                            <div class="col col-time">
                                <div class="col-time-item" ng-repeat="openItem in location.openList">
                                    <div class="col-weekday" ng-bind="openItem.open_day"></div>
                                    <div ng-bind="openItem.open_time"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-10"><img src="img/main-map-location.png" /></div>
                            <div class="col col-address"><span ng-bind="location.address"></span></div>
                        </div>
                        <div class="row">
                            <div class="col col-10"><img src="img/main-map-tel.png" /></div>
                            <div class="col"><span ng-bind="location.tel"></span></div>
                        </div></div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>