<ion-view class="resetpassword-pane" ng-controller="ResetPasswordController">
    <ion-nav-title>
        <h1 class="title">忘記密碼</h1>
    </ion-nav-title>
    <ion-content class="has-header" padding="true">
        <div class="pane-content">
            <div>
                <img class="pane-logo" src="img/registered03@2x.png">
            </div>
            <p class="text-line-1 text-center">{{ '驗證碼已傳送至' }}</p>
            <div class="text-line-2">
                <h3>{{ receive_data }}</h3>
                <p>{{ '請輸入相關資料以重新設定您的密碼' }}</p>
            </div>
            <form name="resetForm" class="form reset-form" novalidate ng-submit="submitForm(forgotForm)">
                <div class="list">
                    <div class="tip-text first-child">
                        <span>請輸入會員帳號</span>
                    </div>
                    <label class="item item-input"
                           ng-class="{ 'has-error' : resetForm.email.$invalid }">
                        <input type="text" name="email"
                               ng-model="user.email"
                               required>
                    </label>
                    <div class="tip-text">
                        <span>請輸入驗證碼</span>
                    </div>
                    <label class="item item-input"
                           ng-class="{ 'has-error' : resetForm.valid_code.$invalid }">
                        <input type="text" name="valid_code"
                               ng-model="user.valid_code"
                               required>
                    </label>
                    <div class="tip-text">
                        <span>請輸入新密碼</span>
                    </div>
                    <label class="item item-input"
                           ng-class="{ 'has-error' : resetForm.password.$invalid }">
                        <input type="password" name="password"
                               ng-model="user.password"
                               required>
                    </label>
                </div>
                <div class="row">
                    <div class="col"><input type="button" class="button button-block button-dark" ng-click="goBack()" value="取消" /></div>
                    <div class="col col-67"><button class="button button-block button-positive">送出</button></div>
                </div>
            </form>
        </div>
    </ion-content>
</ion-view>